<div class="top-bar">
    <div class="container">
        <div class="row" style="padding-bottom: 6px; height:30px;">
            <!-- logo -->
            <div style="top:0px" class="col-md-2 logo">
                <a href="#/"><img src="assets/img/kingadmin-logo.png" style="width:140px;height:45px" alt="CULExpress - Admin Dashboard" /></a>
                <h1 class="sr-only">CULExpress Admin Dashboard</h1>
            </div>
            <!-- end logo -->
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="top-bar-right">
                            <!-- responsive menu bar icon -->
                            <a href="javascript:void(0);" class="hidden-md hidden-lg main-nav-toggle"><i class="fa fa-bars"></i></a>
                            <!-- end responsive menu bar icon -->
                            <div class="notifications">
                                <ul>
                                    <li class="notification-item inbox role" data-role="92">
                                        <div class="btn-group">
                                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-envelope"></i><span class="count" ng-if="tipMessageLength != 0">{{tipMessageLength}}</span>
                                                <span class="circle"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" style="max-height: 350px;overflow:auto">
                                                <li class="notification-header">
                                                    <em>您有 {{tipMessageLength}} 条未处理客户留言</em>
                                                </li>
                                                <!--<li ng-repeat="message in tipMessage" ng-if="$index < 15" class="inbox-item clearfix" ng-click="btnViewMessage(message);">
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-envelope green-font"></i>
                                                        <span class="text">客户{{message.customerNumber}}:{{message.message | cutText:true:10}}</span>
                                                        <span class="timestamp">{{message.indate| date:'MM-dd h:mm'}} 前</span>
                                                    </a>
                                                </li>-->
                                                <!--<li class="inbox-item unread clearfix" ng-repeat="message in tipMessage" ng-if="$index < 5" ng-click="btnViewMessage(message);">-->
                                                 <li class="inbox-item unread clearfix" ng-repeat="message in tipMessage" ng-click="btnViewMessage(message);">
                                                    <a href="javascript:void(0);">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <i class="fa fa-envelope green-font"></i>
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading name">客户 - {{message.customerNumber}}</h5>
                                                                <p class="text">{{message.message | cutText:true:30}}</p>
                                                                <span class="timestamp">{{message.indate| date:'yyyy-MM-dd hh:mm'}}</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <!--<li class="inbox-item unread clearfix">
                                                    <a href="javascript:void(0);">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="media-object" src="assets/img/user3.png" alt="Antonio">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading name">Stella</h5>
                                                                <p class="text">Ok now I can see the status for each item. Thanks! :D</p>
                                                                <span class="timestamp">Oct 6</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="inbox-item clearfix">
                                                    <a href="javascript:void(0);">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="media-object" src="assets/img/user4.png" alt="Antonio">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading name">Jane Doe</h5>
                                                                <p class="text"><i class="fa fa-reply"></i> Please check the status of your ...</p>
                                                                <span class="timestamp">Oct 2</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="inbox-item clearfix">
                                                    <a href="javascript:void(0);">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="media-object" src="assets/img/user5.png" alt="Antonio">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading name">John Simmons</h5>
                                                                <p class="text"><i class="fa fa-reply"></i> I've fixed the problem :)</p>
                                                                <span class="timestamp">Sep 12</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>-->
                                                <li class="notification-footer">
                                                    <a href="javascript:void(0);" ng-click="btnViewMessageList();">查看所有客户留言</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="notification-item general role" data-role="93" >
                                        <div class="btn-group">
                                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-user"></i><span class="count">{{vipCount}}</span>
                                                <span class="circle"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" style="max-height: 350px;overflow:auto">
                                                <li class="notification-header" ng-if="vipCount != 0">
                                                    <em>您有 {{vipCount}} 条未处理客户申请</em>
                                                </li>
                                                <li ng-repeat="vip in vipData">
                                                    <a href="javascript:void(0);" ng-click="btnViewCustomer(vip);">
                                                        <i class="fa fa-user green-font"></i>
                                                        <span class="text">客户{{vip.customerNumber}}提交成为VIP客户申请</span>
                                                        <span class="timestamp">{{vip.lastEditUserName | date:'MM-dd h:mm:ss'}}前</span>
                                                    </a>
                                                </li>
                                                <li class="notification-footer" ng-click="btnViewCustomerList();">
                                                    <a href="javascript:void(0);">查看所有客户资料</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!--<li class="notification-item general">
                                        <div class="btn-group">
                                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-bell"></i><span class="count">2</span>
                                                <span class="circle"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li class="notification-header">
                                                    <em>您有 2 条通知</em>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-user green-font"></i>
                                                        <span class="text">客户KX008提交成为VIP客户申请</span>
                                                        <span class="timestamp">1 minute ago</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-user green-font"></i>
                                                        <span class="text">客户KX002提交成为VIP客户申请</span>
                                                        <span class="timestamp">12 hours ago</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-comment green-font"></i>
                                                        <span class="text">New comment on the blog post</span>
                                                        <span class="timestamp">18 minutes ago</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-shopping-cart red-font"></i>
                                                        <span class="text">4 new sales order</span>
                                                        <span class="timestamp">4 hours ago</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-edit yellow-font"></i>
                                                        <span class="text">3 product reviews awaiting moderation</span>
                                                        <span class="timestamp">1 day ago</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-comment green-font"></i>
                                                        <span class="text">New comment on the blog post</span>
                                                        <span class="timestamp">3 days ago</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-comment green-font"></i>
                                                        <span class="text">New comment on the blog post</span>
                                                        <span class="timestamp">Oct 15</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-warning red-font"></i>
                                                        <span class="text red-font">Low disk space!</span>
                                                        <span class="timestamp">Oct 11</span>
                                                    </a>
                                                </li>
                                                <li class="notification-footer">
                                                    <a href="javascript:void(0);">View All Notifications</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>-->
                                </ul>
                            </div>
                            <!-- logged user and the menu -->
                            <div class="logged-user">
                                <div class="btn-group">
                                    <a href="javascript:void(0);" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                        <img src="assets/img/user-avatar2.png" alt="User Avatar" style="width:25px; height:25px; border:0px none;" />
                                        <span class="name">{{$root.userInfo.userName}} ({{$root.userInfo.gname}})</span> <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <!--<li>
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-user"></i>
                                                <span class="text">个人信息</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-cog"></i>
                                                <span class="text">设置</span>
                                            </a>
                                        </li>-->
                                        <li>
                                            <a href="javascript:void(0);" ng-click="btnLogout()">
                                                <i class="fa fa-power-off"></i>
                                                <span class="text">退出登录</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end logged user and the menu -->
                        </div>
                        <!-- /top-bar-right -->
                    </div>
                </div>
                <!-- /row -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>