<div class="promo-cashback">
    <div class="container content">
        
        <div class="row">
           <div class="headline">
                <h2>晒单规则须知</h2>
            </div>
            <p>本次晒单返现，晒单网站不限，可晒出多个订单，以晒单链接为准，<span>每个晒单链接返现20元运费，同一订单晒单只核算一次。每个账户最多可获得返现100元，返现金额可用于支付运费，不可提现。</span></p>

            <h3>晒单规则:</h3>
            <ul class="list-unstyled">
                <li>1. 用于晒单的订单支付日期须为<span>2017年1月1日之后，且包裹已签收。</span></li>
                <li>2. 在任意海淘论坛博客（如没得比）、新浪微博（请@Cul中美速递）等渠道进行晒单均可参与活动；晒单链接必须为<span>2017年1月1日之后。</span></li>
                <li>3. 晒单内容需包含“Cul中美速递”时效、安全性、服务等的真实体验，<span>必须超过60字</span>，内容还需包含一张所购物品图片以及<span>CUL中美速递物流轨迹</span>，恶意抹黑，辱骂，言辞不当的晒单将不会获得返现。</li>
                <li>4. 新浪微博的粉丝数需要在100人以上（微博连续几个月不使用，只用来晒单的，将不做返现），在新浪博客、腾讯微博、QQ空间、微信朋友圈、陌陌等渠道晒单，不做返现。</li>
                <li>5. 晒单链接在被验证的时候必须可被打开的，如果被论坛下沉、锁定、删帖，则不做返现。</li>
            </ul>

            <h3>提交返现申请:</h3>
            <p>晒单后，请将<span>订单号和晒单链接地址</span>以邮件形式发送至<a href="mailto:marketing@culexpress.com">marketing@culexpress.com</a>。邮件标题格式：晒单返现申请+客户编号（客户编号客户后台可见</p>
            <p>注：为方便统计，请每次发邮件的时候，将同一账户所有的晒单链接放置于一封邮件内，重复多次发送邮件的将不做处理。</p>
           
            <h3>获取返现:</h3>
            <p>晒单成功即可获得20元运费返现，不可提现！同一订单只可进行一次晒单返现。我们会在您提交申请之后的3至5个工作日内邮件通知您，晒单是否有效，并且将返现金额充值到您的Cul账户。</p>
        </div>
        
    </div>
</div>