html, body {
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

.pagination-rewrite {
    margin-top: 0px;
}

.col-padding-clear {
    padding-left: 0px;
    padding-right: 0px;
}

.text-right {
    text-align: right !important;
}

/**search-bar**/
.search-bar {
    margin-bottom: 10px;
}

    .search-bar .search-col {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
    }

        .search-bar .search-col .search-label {
            float: left;
            margin-top: 8px;
            margin-right: 5px;
        }

        .search-bar .search-col .search-control {
            width: auto;
            float: left;
        }

        .search-bar .search-col select.search-control {
            padding-right: 20px;
        }

        .search-bar .search-col .input-group-btn {
            width: auto;
        }

/**table-td-row**/
.td-row + .td-row {
    border-top: 1px solid #ddd;
}

/*bootstrap override*/
a {
    color: #337AEB;
}

    a:hover {
        color: #33799F;
    }

.firstul {
  padding-left: 0;
  margin-top: 10px;
}

.functions li {
  list-style: none;
}

/*user-defined*/
.btn-tootip-left {
  width: 40px;
  float: left;
  margin-top: 5px;
}
.btn-tootip-right {
  width: 60px;
  float: left;
  margin-top: 5px; 
}
.btn-tootip-bom{
    width: 200px;
    float: left;
    margin-top: 5px;
    margin-left: 45px;
}
.btn-icon {
  padding:0px 5px 0px 5px;
}
.input-error{
    color:red;
    margin-top: 25px;
    font-size: 16px;
}
.flight-label {
    font-weight: 500;
    float: left;
    margin: 26px 0px 30px 0px;
}
.flight-input{
    margin-left:5px; 
    width:420px;
    margin:20px 0px 30px 10px;
}
.long-cell {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
}
.long-cell:hover {
    max-width: 300px;
    white-space: normal;
}
.idCardImage{
    width:50px;
}
    