<div class="widget">
    <div class="widget-header">
        <h3><i class="fa fa-edit"></i> 订单详情</h3>
    </div>
    <div class="widget-content">
        <fieldset>
        <legend>客户信息</legend>
            <div class="form-group">
                <label class="col-sm-2 control-label text-right">订单编号：</label>
                <div class="col-sm-4">
                    <a href="javascript:void(0);" style="text-decoration:none" class="control-label" ng-click="btnOpenDetail(data,'orderdetail')">{{data.orderNumber}}</a>
                </div>
                <label class="col-sm-2 control-label text-right">客户ID(注册名)：</label>
                <div class="col-sm-4">
                    <label class="control-label">{{data.inuserName}}</label>
                </div>
                <label class="col-sm-2 control-label text-right">客户编号：</label>
                <div class="col-sm-4">
                    <label class="control-label">{{data.customerNumber}}</label>
                </div>
                <label class="col-sm-2 control-label text-right">仓库：</label>
                <div class="col-sm-4">
                    <label class="control-label">{{data.receivedWarehouseNumber}}</label>
                </div>
                <label class="col-sm-2 control-label text-right">日期：</label>
                <div class="col-sm-4">
                    <label class="control-label">{{data.indate | date:'MM/dd/yyyy HH:mm:ss' }}</label>
                </div>              
            </div>
        </fieldset>
        <form class="form-horizontal" role="form">
            <fieldset>
                <legend>订单留言</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">留言记录：</label>
                    <div class="row col-sm-6">
                        <div style=" margin-bottom:10px;" ng-repeat="item in data.messageLogs">
                            <div class="col-sm-6 blue">{{item.operationUserName}}</div>
                            <div class="col-sm-6 text-right">{{item.operationDate | date:'MM/dd/yyyy HH:mm:ss'}}</div>
                            <div class="col-sm-12">{{item.message}}
                                <a ng-repeat="image in item.images track by $index" href="{{image}}" target="_blank">
                                    <img style="width:50px;margin:10px;" ng-src="{{image}}">
                                </a> 
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">您的留言：</label>
                    <div class="col-sm-4">
                        <div class="row fileupload-buttonbar" style="padding-left:15px;margin-right:0px">
                            <div class="thumbnail col-sm-12">
                                <a href="{{data._images}}" target="_blank">
                                    <img id="uploadImg_show" style="height:70px;margin-top:10px;margin-bottom:8px;" ng-src="{{data._images}}" data-holder-rendered="true">
                                </a>
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="10" aria-valuemax="100" aria-valuenow="0" style="height:10px;margin-bottom:0px">
                                    <div id="progress" class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                                <div class="caption" align="center">
                                    <span id="uploadImg_upload" class="btn btn-primary fileinput-button">
                                        <span id="file_btn_text">上传</span>
                                    <input type="file" id="uploadImg" name="uploadImg_image">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <label class="col-sm-2 control-label text-right"></label>
                    <div class="col-sm-4">
                        <textarea class="form-control" ng-model="_message"></textarea>
                    </div>
                    <button type="button" class="btn btn-default" ng-click="btnMessagePush()"><i class="fa fa-comment"></i>回复</button>
                </div>

            </fieldset>
            <div class="form-group text-center">
                <!--<button type="button" class="btn btn-primary" ng-if="!isPrintDetail">通过</button>-->
                <!--<button type="button" class="btn btn-primary" ng-if="!isPrintDetail" ng-click="btnSave()"><i class="fa fa-save"></i>保存</button>-->

                <button type="button" class="btn btn-primary" ng-if="isPrintDetail"><i class="fa fa-print"></i>打印</button>
                <button type="button" class="btn btn-default" ng-click="btnPrev()"><i class="fa fa-reply"></i>返回</button>
            </div>
        </form>
    </div>
</div>

<style>
    .form-edit input:focus {
        width: 200px;
    }
</style>