<!-- Profile Content -->
<div class="profile-body profile-blog blog-border my-dashboard" ng-controller="MyDashboardController">
    <!--Service Block v3-->
    <div class="row margin-bottom-10">
        <div class="col-sm-6 sm-margin-bottom-20">
            <div class="service-block-v3 service-block-u left-top">
                <i class="icon-basket-loaded"></i>
                <span class="service-heading">我的包裹</span>
                <span class="counter" id="totalPackageCount">{{currentUser.totalPackageCount|number}}</span>

                <div class="clearfix margin-bottom-10"></div>

                <div class="row margin-bottom-20">
                    <div class="col-xs-6 service-in">
                        <a ui-sref="customer.shippingnoticelist({status:'Intransit'})"><small>未入库</small></a>
                        <h4 class="counter" id="unreceivedPackageCount">{{currentUser.unreceivedPackageCount|number}}</h4>
                    </div>
                    <div class="col-xs-6 text-right service-in">
                        <a ui-sref="customer.shippingnoticelist({status:'Inbound'})"><small>已入库</small></a>
                        <h4 class="counter" id="receivedPackageCount">{{currentUser.receivedPackageCount|number}}</h4>
                    </div>
                </div>
                <div class="statistics">
                    <div class="progress progress-u progress-xxs">
                        <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-light">
                        </div>
                    </div>
                    <ul class="list-inline">
                        <li>
                            <a ui-sref="customer.myorders({status:'Shipped'})" class="tooltips" data-toggle="tooltip" data-original-title="运单已从美国仓库出货">
                                <small><span class="badge rounded-2x badge-white" id="shippedOrderCount">{{currentUser.shippedOrderCount|number}}</span> 运单已出库</small>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="customer.myorders({status:'Unpaid'})" class="tooltips" data-toggle="tooltip" data-original-title="请尽快支付以免影响运单处理">
                                <small>
                                    <span class="badge rounded-2x badge-white" id="unpaidOrderCount">{{currentUser.unpaidOrderCount|number}}</span> 运单待支付
                                </small>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="customer.myorders({status:'Arrears'})" class="tooltips" data-toggle="tooltip" data-original-title="请尽快充值以免影响运单处理">
                                <small>
                                    <span class="badge rounded-2x badge-white" id="overdraftOrderCount">{{currentUser.overdraftOrderCount|number}}</span> 运单运费不足
                                </small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="service-block-v3 service-block-blue right-top">
                <i class="icon-wallet"></i>
                <span class="service-heading">账户余额<small>￥</small></span>
                <span class="counter" id="myAccountBalance">{{currentUser.accountBalance|number}}</span>

                <div class="clearfix margin-bottom-10"></div>

                <div class="row margin-bottom-20">
                    <div class="col-xs-6 service-in">
                        <!--commit by clark-->
                        <!--<a ui-sref="customer.myaccount({anchorid:'earnpoint'})"><small>我的积分</small></a>-->
                        <small>我的积分</small>
                        <h4 class="counter" id="myPoint">{{(currentUser.myPoint||0)|number}}</h4>
                    </div>
                    <div class="col-xs-6 text-right service-in">
                        <!--commit by clark-->
                        <!--<a ui-sref="customer.myquestions"><small>我的问题</small></a>-->
                        <small>我的问题</small>
                        <h4 class="counter" id="myquestions">{{(currentUser.openQuestionCount||0)|number}}</h4>
                    </div>
                </div>
                <div class="statistics">
                    <div class="progress progress-u progress-xxs">
                        <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-light">
                        </div>
                    </div>
                    <ul class="list-inline">
                        <li>
                            <a ui-sref="customer.myfinance" class="tooltips" data-toggle="tooltip" data-original-title="点击在线充值"><small>在线充值</small></a>
                        </li>
                        <li>
                            <a ui-sref="customer.myfinancedetail({tabId:'recharge'})" class="tooltips" data-toggle="tooltip" data-original-title="点击查看充值记录充值"><small>充值记录</small></a>
                        </li>
                        <li>
                            <a ui-sref="customer.myfinancedetail({tabId:'debit'})" class="tooltips" data-toggle="tooltip" data-original-title="点击查看扣款明细"><small>扣款明细</small></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/end row-->
    <!--End Service Block v3-->

    <hr>
    <div class="row margin-bottom-40">
        <!--Profile Post-->
        <!--<div class="col-sm-6" >-->
        <div ng-class="setStyle()" ng-show="primAnnounceList.length>0">
            <div class="panel panel-profile no-bg">
                <div class="panel-heading overflow-h">
                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-bullhorn ffb"></i>公告</h2>
                    <i class="fa fa-chevron-down pull-right" ng-click="toggle('scrollbar')"></i>
                </div>
                <div id="scrollbar" class="panel-body no-padding mCustomScrollbar" data-mcs-theme="minimal-dark">
                    <div class="profile-post color-one" ng-repeat="item in primAnnounceList track by $index">
                        <span class="profile-post-numb">{{$index + 1}}</span>
                        <div class="profile-post-in">
                            <h3 class="heading-xs"><a href="#">{{item.title}}</a></h3>
                            <p>{{item.content}}</p>
                        </div>
                    </div>
                    <!--<div class="profile-post color-three">
                        <span class="profile-post-numb">04</span>
                        <div class="profile-post-in">
                            <h3 class="heading-xs"><a href="#">美货商城有新品上架</a></h3>
                            <p>美国原装 Schiff Move Free 三倍强效维骨力160粒 售价：149元.大家可以进入美货商城下订单,仅限CA仓库.</p>
                        </div>
                    </div>-->

                </div>
            </div>
        </div>
        <!--End Profile Post-->
        <!--Profile Event-->
        <div class="col-sm-6 md-margin-bottom-40" ng-show="proAnnounceList.length>0">
            <!--<div ng-class="setStyle()" ng-show="proAnnounceList">          -->
            <div class="panel panel-profile no-bg">
                <div class="panel-heading overflow-h">
                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-shopping-cart"></i>促销活动</h2>
                    <i class="fa fa-chevron-down pull-right" ng-click="toggle('scrollbar2')"></i>
                </div>
                <div id="scrollbar2" class="panel-body no-padding mCustomScrollbar" data-mcs-theme="minimal-dark">
                    <div class="profile-event" ng-repeat="item in proAnnounceList track by $index">
                        <div class="date-formats">
                            <span>{{item.openTime | date:"yyyy-MM-dd" | limitTo:2:8}}</span>
                            <small>{{item.openTime | date:"yyyy-MM-dd"}}</small>
                        </div>
                        <div class="overflow-h">
                            <h3 class="heading-xs"><a href="#">{{item.title}}</a></h3>
                            <p>{{item.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Profile Event-->
    </div>
    <!--/end row-->

    <div class="headline">
        <h2>
            <i class="fa fa-map-marker" aria-hidden="true"></i> 收货地址
        </h2>
    </div>
    <div class="alert alert-warning fade in">
        <strong>友情提醒:</strong>请大家在购物网站下单时一定记得写上姓后面的4个字母收件标示和单元号,单元号可以写在第一行地址后面也可以写在地址第二行.
        <a data-toggle="modal" data-target="#moreInfoModal">查看详细信息...</a>
        <!--<button class="btn-u" data-toggle="modal" data-target=".bs-example-modal-lg">查看详细信息</button>-->
        <div class="modal fade" tabindex="-1" id="moreInfoModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" style="right:0px">×</button>
                        <h4 class="modal-title">友情提醒</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            请大家在购物网站下单时一定记得写上姓后面的4个字母收件标示和单元号,单元号可以写在第一行地址后面也可以写在地址第二行.
                        </p>
                        </br>
                        <p>
                            请大家记得做货物预告,可以大大减少包裹入库的错误,提高入库的效率.为你为我,请您收到商家收的tracking number 以后,登录cul账户,做一下,货物预告. 谢谢大家的支持.
                        </p>
                        </br>
                        <p>
                            美国邮政国际特快， 最稳妥快捷的运输方式， 强烈推荐。 适合各种物品， 尤其是贵重物品和电子产品。不限制锂电池一般体积重,童车,游戏垫,玩具等单个包裹重量在66磅以下的包裹都可以发送. 但是大型物品比如滑雪板,大型玩具车,体育器材不能寄送,每个包裹不能超过66磅。
                            </br>
                            价格：首磅200元，续磅35元。4磅起运,4磅以下(包含4磅)的包裹运费都是305.请大家注意提交.</br>
                        </p>
                        <p>
                            关于此USPS渠道需要注意的地方:</br>
                            1.此渠道无需提交身份证, USPS即是美国邮政邮局，美国邮局要求每个箱子66磅以下,地址,品名申报需要填写英文, 请在CUL地址簿里添加英文地址.路名写汉语拼音即可. </br>
                            2.每个地址 发送包裹数最多两个 ,禁止发送海关,航空违禁品.详细填写申报品名。申报品名不能填写如礼物，保健品，婴儿用品，护肤品,日用品,用品这类,需要具体的物品名和件数.</br>
                            3.严禁误报虚报品名,商品价值,由此造成的包裹延误,罚没,丢失,本公司将不承担任何责任.</br>
                            4. 体积较大,较重的包裹可以选择USPS 特快渠道.</br>
                        </p>
                        </br>
                        <p>
                            一如既往的高效快捷一直都在CUL~!</br>
                            感谢大家的支持和配合.</br>
                            -CUL中美速递.</br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-bottom-20 pricing-bg-colored">
        <!--commit by clark-->
        <!--<div class="col-md-4 col-sm-6">
            <div class="pricing hover-effect">
                <div class="pricing-head">
                    <h3>加州(CA) <span>洛杉矶收货地址</span></h3>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="fa fa-map-marker"></i> 712 Nogales Street,City of Industry,CA 91748</li>
                    <li><i class="fa fa-user"></i> 收件人:<span ng-bind="currentUser.Customer.firstName"></span> <span ng-bind="currentUser.Customer.lastName"></span></li>
                    <li><i class="fa fa-phone"></i> 电话:(626)542-3266</li>
                    <li><i class="fa fa-check-circle"></i> 各种食品,奶粉无美国购物消费税</li>
                    <li><i class="fa fa-exclamation-circle"></i>请大家在购物网站下单时一定记得写上姓后面的4个字母收件标示和单元号,单元号可以写在第一行地址后面也可以写在地址第二行</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="pricing hover-effect">
                <div class="pricing-head">
                    <div class="sticker-right" style="background:green">免税</div>
                    <h3>特拉华(DE) <span>免税州收货地址</span></h3>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="fa fa-map-marker"></i> 150 Quigley Blvd,New Castle,DE 19720</li>
                    <li><i class="fa fa-user"></i> 收件人:<span ng-bind="currentUser.Customer.firstName"></span> <span ng-bind="currentUser.Customer.lastName"></span></li>
                    <li><i class="fa fa-phone"></i> 电话:(626)542-3266</li>
                    <li><i class="fa fa-check-circle"></i> 各种商品均无美国消费税</li>
                    <li><i class="fa  fa-exclamation-circle"></i>美东纽约机场直飞中国.包裹时效比加州仓库略多1-2个工作日</li>
                </ul>
            </div>
        </div>-->
        <div class="col-md-4 col-sm-6" ng-repeat="addressItem in model.addressList">
            <div class="address-item" style="height:740px;overflow: auto">
                <div class="address-head" style="height:210px;">
                    <span class="short-name">{{addressItem.warehouseShortName}}</span>
                    <h3 class="title">{{addressItem.warehouseName}} <span>
                <span class="remark" ng-if="addressItem.isTaxFree=='1'">免税州收货地址</span>
                        <span class="remark" ng-if="addressItem.isTaxFree!='1'">&nbsp;</span></span>
                    </h3>
                </div>
                <ul class="address-content list-unstyled">
                    <li>
                        <i class="fa fa-user pull-left"></i>
                        <div class="list-remark"><strong>名 (First Name):</strong> <span ng-bind="currentUser.firstName | uppercase"></span>
                        </div>
                    </li>
                    <li>
                        <div class="list-remark"><strong>姓 (Last Name):</strong> <span ng-bind="currentUser.lastName | uppercase"></span> <span ng-bind="currentUser.receiveIdentity | uppercase"></span>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-map-marker pull-left"></i>
                        <div class="list-remark"><strong>地址 (Address):</strong> <span>{{addressItem.address1}}</span>
                        </div>
                    </li>
                    <li>
                        <div class="list-remark"><strong>单元号 (Unit):</strong> <span ng-bind="currentUser.customerNumber | uppercase"></span>
                        </div>
                    </li>
                    <li>
                        <div class="list-remark"><strong>城市 (City):</strong> <span ng-bind="addressItem.city | uppercase"></span>
                        </div>
                    </li>
                    <li>
                        <div class="list-remark"><strong>州/省 (State):</strong> <span ng-bind="addressItem.stateOrProvince | uppercase"></span>
                        </div>
                    </li>
                    <li>
                        <div class="list-remark"><strong>邮编 (Zip Code):</strong> <span>{{addressItem.zipcode}}</span>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-phone pull-left"></i>
                        <div class="list-remark"><strong>电话:</strong> {{addressItem.contactPhoneNumber}}</div>
                    </li>
                    <li ng-if="addressItem.isTaxFree=='1'">
                        <i class="fa fa-check-circle pull-left"></i>
                        <div class="list-remark">各种商品均无美国消费税</div>
                    </li>
                    <li>
                        <i class="fa fa-exclamation-circle pull-left"></i>
                        <div class="list-remark">
                            <span>
                        {{addressItem.note}}
                      </span>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>
<!-- End Profile Content -->
<script type="text/javascript" src="assets/plugins/counter/waypoints.min.js"></script>
<script type="text/javascript" src="assets/plugins/counter/jquery.counterup.js"></script>
<script type="text/javascript" src="assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript">
    // jQuery(document).ready(function() {
    //     App.init();

    //     var scope = angular.element($('[ng-controller=MyDashboardController]')).scope();
    //     $('#totalPackageCount').text(scope.currentUser.totalPackageCount);
    //     $('#receivedPackageCount').text(scope.currentUser.receivedPackageCount);
    //     $('#unreceivedPackageCount').text(scope.currentUser.unreceivedPackageCount);
    //     $('#shippedOrderCount').text(scope.currentUser.shippedOrderCount);
    //     $('#unpaidOrderCount').text(scope.currentUser.unpaidOrderCount);
    //     $('#overdraftOrderCount').text(scope.currentUser.overdraftOrderCount);
    //     $('#myAccountBalance').text(scope.currentUser.accountBalance);
    //     $('#myPoint').text(scope.currentUser.myPoint);
    //     $('#myquestions').text(scope.currentUser.openQuestionCount);
    //     App.initCounter();
    //     App.initScrollBar();
    // });
</script>