<div class="container content" ng-controller="ForgetController" style="min-height:500px;max-width:300px; text-align:center;margin-top: 50px">
    <form ng-if="confirmEmail">
        <div class="form-group">
            <header><h3>获取密码重置邮件</h3></header>
        </div>
        <div class="form-group">
            <p>请输入您注册时的电子邮箱地址，我们将发送给您重置密码的链接：</p>
        </div>
        <div class="form-group">
            <input id="emailAddress" type="text" class="form-control" ng-model="model.emailAddress" />
        </div>
        <div class="form-group">
            <button class="btn btn-u" ng-click="sendEmail();" style="width:100%;">继续</button>
        </div>
    </form>
    <div class="row" ng-if="emailSuccessefull">
        <div style="min-height:500px;max-width:600px; text-align:left;">
            <p>重置密码邮件发送成功！</p>
            <p>
                我们已经发送重置密码邮件到 <span style="font-weight:bold;">{{model.emailAddress}}</span>，如果您在30分钟之内没有收到我们的电子邮件：
            </p>
            <p>
                1.请检查您电子邮箱的垃圾邮件。
            </p>
            <p>
                2.请再尝试申请重置密码邮件或者联系QQ客服。
            </p>
        </div>
    </div>
</div>