<!-- CSS Page Style -->
<!--=== Content Part ===-->
<!-- <div class="container content" ng-controller="LoginController">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <form ng-submit="login()" id="sky-form1" class="sky-form" novalidate="novalidate">
                <header>登录您的账户</header>

                <fieldset>
                    <section>
                        <div class="row">
                            <label class="label col col-4">邮箱/用户名</label>
                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="username" data-ng-model="emailAddress">
                                    <b class="tooltip tooltip-bottom-right">请输入您注册时填写的邮箱地址/用户名</b>
                                </label>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-4">登录密码</label>
                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password" data-ng-model="password">
                                    <b class="tooltip tooltip-bottom-right">密码长度为6-20位，可为英文、符号、数字</b>
                                </label>
                                <div class="note"><a ui-sref="forgetpassword" class="modal-opener">忘记密码?</a></div>
                            </div>
                        </div>
                    </section>


                </fieldset>
                <footer>
                    <button type="submit" name="submit" class="btn-u">登录</button>
                    <a ui-sref="register" class="btn-u btn-u-default">注册</a>
                    <i class="color-red icon-line icon-shield" data-ng-show="showLoginError"></i>
                    <span class="color-red" data-ng-show="showLoginError" data-ng-bind="loginError"></span>
                </footer>
            </form>
        </div>
    </div>
</div>-->
<div class="login-container" ng-controller="LoginController">
  <div class="login-main login-tab">
    <img class="login-icon" src="../../assets/img/login/login-icon.png" /><br />
    <form ng-submit="login()" autocomplete="off">
      <input class="txt name" name="username" data-ng-model="emailAddress" placeholder="请输入用户名或邮箱"
        autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"/>
      <b class="tooltip tooltip-bottom-right">请输入您注册时填写的邮箱地址/用户名</b>
      <input class="txt pwd" type="password" name="password" data-ng-model="password" placeholder="请输入登录密码"
        autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"/><br />
      <b class="tooltip tooltip-bottom-right">密码长度为6-20位，可为英文、符号、数字</b>
      <a ui-sref="forgetpassword" class="modal-opener forget"><i>?</i> 忘记密码</a><br />
      <div class="btn-container">
        <button type="submit" name="submit" class="btns btn-login">登 录</button>
        <a ui-sref="register" class="btns btn-register">注 册</a>
        <div class="login-error">
          <i class="color-red icon-line icon-shield" data-ng-show="showLoginError"></i>
          <span class="color-red" data-ng-show="showLoginError" data-ng-bind="loginError"></span>
        </div>
      </div>
    </form>
    <img class="login-bao" src="../../assets/img/login/login-bao.png" />
  </div>
</div>
<!--=== End Content Part ===-->
<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
<script type="text/javascript" src="assets/js/forms/login.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        <!-- LoginForm.initLoginForm(); -->
    });
</script>
