<div class="row" ng-controller="MyAddressController">  
    <!-- <div class="profile-body margin-bottom-20">
        <form class="sky-form">
            <div class="form-group ">
                <label class="label required">收货人</label>
                <input type="text" class="form-control" name="required" ng-model="data.receivePersonName">
            </div>
            <div class="form-group">
                <label class="label">身份证号码</label>
                <input type="text" class="form-control" name="required" ng-model="data.idCard">
                <p>请填写真实的身份证号码，身份证号码是15或18位数字。</p>
                <p class="text-danger">在需要身份证清关的渠道使用，请确保身份证号码持有人与收件人姓名对应。</p>
            </div>

            <div class="form-group" ng-show="state.showCardFront">
                <label class="label">身份证正面照</label>
                <input id="idCardFront" type="file" class="form-control" ng-model="data.idCardFront">
                <p>证件必须是清晰彩色原件电子版， 可以是扫描件或者数码拍照照片。仅支持.jpg .jpeg .png .bmp .gif，大小不超过2M。</p>
                <p class="text-danger">
                    在需要提供身份证清关的渠道使用，和收件人姓名对应，<a href="/images/ecard1.jpg" target="_blank">点击参考正面样例图</a>。
                </p>
            </div>

            <div ng-show="!!data.idCardFrontUrl" style="margin-top:20px;">
                <label class="label" ng-show="!state.showCardFront">身份证正面照</label>
                <img id="img-idCardFront" ng-src="{{data.idCardFrontUrl}}" style="width: 480px; height: 260px;" alt="身份证正面照" />
            </div>
             <div class="form-group" ng-show="!state.showCardFront&&(data.verifyMark===0||data.verifyMark===-1||!data.transactionNumber)">
                <a href="javascript:void(0)" ng-click="state.showCardFront=true">修改身份证正面照</a>
            </div>

            <div class="form-group" ng-show="state.showCardBack">
                <label class="label">身份证反面照</label>
                <input id="idCardBack" type="file" class="form-control" ng-model="data.idCardBack">
                <p>证件必须是清晰彩色原件电子版， 可以是扫描件或者数码拍照照片。仅支持.jpg .jpeg .png .bmp .gif，大小不超过2M。</p>
                <p class="text-danger">
                    在需要提供身份证清关的渠道使用，和收件人姓名对应，<a href="/images/ecard2.jpg" target="_blank">点击参考反面样例图</a>。
                </p>
            </div>

            <div ng-show="!!data.idCardBackUrl" style="margin-top:20px;">
                <label class="label" ng-show="!state.showCardFront">身份证反面照</label>
                <img id="img-idCardBack" ng-src="{{data.idCardBackUrl}}" style="max-width: 480px; max-height: 260px;" alt="身份证反面照" />
            </div>
             <div class="form-group" ng-show="!state.showCardBack&&(data.verifyMark===0||data.verifyMark===-1||!data.transactionNumber)"
                style="margin-top:20px;">
                <a href="javascript:void(0)" ng-click="state.showCardBack=true">修改身份证反面照</a>
            </div>
            <div class="form-group">
                <label class="label">收货地址</label>
                <div class="row">
                    <div class="col-sm-5">
                        <select class="form-control" ng-options="item as item.name for item in provinceList" ng-model="data.stateOrProvince" ng-change="selectProvince();">
                            <option>请选择省份</option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <select class="form-control"
                                ng-options="item as item.name for item in data.stateOrProvince.cities track by item.id" ng-model="selectedCity">
                            <option>请选择城市</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="label">收货地址</label>
                <div class="row">
                    <div class="col-sm-3">
                        <select class="form-control" ng-options="province as province.name for province in provinces" ng-model="search.province"
                            ng-change="getCity();">
                            <option>请选择省份</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-options="city as city.name for city in citys" ng-model="search.city"   ng-change="getArea();">
                            <option>请选择城市</option>
                        </select>
                    </div>

                    <div class="col-sm-3">
                        <select class="form-control" ng-options="area as area.name for area in areas" ng-model="search.area">
                            <option>请选择区</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="label required">详细地址</label>
                <input type="text" class="form-control" ng-model="data.address1">
            </div>
            <div class="form-group">
                <label class="label required">邮政编码</label>
                <input type="text" class="form-control" ng-model="data.zipcode">
            </div>
            <div class="form-group">
                <label class="label required">手机号码</label>
                <input type="text" class="form-control" ng-model="data.cellphoneNumber">
            </div>
            <div class="form-group">
                <label class="label">备用号码</label>
                <input type="text" class="form-control" ng-model="data.telephoneNumber">
            </div>
            <div class="form-group">
                <label class="label">备注信息</label>
                <textarea class="form-control" rows="5" ng-model="data.note"></textarea>
            </div>
            <div class="form-group">
                <a class="btn-u" href="javascript:void(0)" ng-click="submitAddress();">
                    <i class="fa fa-save"></i> 保存并返回
                </a>
                <a class="btn-u" href="javascript:void(0)" ng-click="goback()">
                    <i class="fa fa-reply"></i> 返回
                </a>
            </div>
        </form>
    </div> -->
    <div class="my-balance">
        <div class="common-title">
          <h2>
            <i class="fa fa-plus-square"></i>
            收货地址
          </h2>
          <p><small>除提交美国邮政 USPS特快，其他发货渠道请填写中文姓名和地址。身份证渠道必须填写中文姓名和身份证详细地址</small></p>
        </div>
        <div class="edit-content" >
          <div class="form-group left-row">
              <label class="label">收货公司</label>
              <input type="text" class="form-control" name="required" ng-model="data.receiveCompanyName">
          </div>
          <div class="form-group right-row">
              <label class="label required">电子邮箱</label>
              <input type="text" class="form-control email " name="required" ng-model="data.emailAddress">
          </div>
          <div class="form-group left-row">
              <label class="label required">收货人</label>
              <input type="text" class="form-control" name="required" ng-model="data.receivePersonName">
          </div>
          <div class="form-group right-row">
              <label class="label required">身份证号码</label>
              <input type="text" class="form-control" name="required" ng-model="data.idCard">
              <!-- <p>请填写真实的身份证号码，身份证号码是15或18位数字。</p>
              <p class="text-danger">在需要身份证清关的渠道使用，请确保身份证号码持有人与收件人姓名对应。</p> -->
          </div>
          <div class="form-group left-row">
            <label class="label">身份证正面照</label>
            <div class="shen">
              <img id="img-idCardFront" ng-src="{{data.idCardFrontUrl}}" src="../../assets/img/dashbard/shen-bg.png" alt="身份证正面照"  />
              <div>
                证件必须是清晰彩色原件电子版， 可以是扫描件或者数码拍照照片。仅支持.jpg .jpeg .png .bmp .gif，大小不超过2M。
                <div class="inputfileload">
                  <div class='uploadphoto'>上传照片</div>
                  <input id="idCardFront" type="file" class="file-input"  ng-model="data.idCardFront"  accept='image/jpeg,image/jpg,image/png,image/bmp,image/gif'>
                </div>
              </div>
            </div>
            <p class="text-danger">
                在需要身份证清关的渠道使用,和收件人姓名对应.<a href="/images/ecard1.jpg" target="_blank">点击参考正面样例</a>
            </p>
          </div>

          <div class="form-group right-row">
            <label class="label">身份证反面照</label>
            <div class="shen">
              <img id="img-idCardBackUrl" ng-src="{{data.idCardBackUrl}}" src="../../assets/img/dashbard/shen-bg.png" alt="身份证正面照"  />
              <div>
                证件必须是清晰彩色原件电子版， 可以是扫描件或者数码拍照照片。仅支持.jpg .jpeg .png .bmp .gif，大小不超过2M。
                <div class="inputfileload">
                  <div class='uploadphoto'>上传照片</div>
                  <input id="idCardBack" type="file" class="file-input" ng-model="data.idCardBack" accept='image/jpeg,image/jpg,image/png,image/bmp,image/gif'>
                </div>
              </div>
            </div>
            <p class="text-danger">
                在需要身份证清关的渠道使用,和收件人姓名对应.<a href="/images/ecard2.jpg" target="_blank">点击参考反面样例</a>
            </p>
          </div>
          <div class="form-group" ng-show="adsFlag == '1'" style="display:block">
              <label class="label">身份证地址<span style="color:red;">*</span></label>
              <input type="text" class="form-control" ng-model="data.idCardAddress">
          </div>
          <div class="form-group">
              <label class="label">收货地址</label><span style="color:red;">*</span>
              <div class="row">
                  <div class="col-sm-3">
                      <select style="padding: 0 10px;" class="form-control" ng-options="province as province.name for province in provinces" ng-model="search.province"
                          ng-change="getCity();">
                          <option>请选择省份</option>
                      </select>
                  </div>
                  <div class="col-sm-3">
                      <select style="padding: 0 10px;" class="form-control" ng-options="city as city.name for city in citys" ng-model="search.city"   ng-change="getArea();">
                          <option>请选择城市</option>
                      </select>
                  </div>

                  <div class="col-sm-3">
                      <select style="padding: 0 10px;" class="form-control" ng-options="area as area.name for area in areas" ng-model="search.area">
                          <option>请选择区</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <label class="label required">详细地址</label>
              <input type="text" class="form-control" ng-model="data.address1">
          </div>
          <div class="form-group">
              <label class="label">邮政编码</label>
              <input type="text" class="form-control" ng-model="data.zipcode">
          </div>
          <div class="form-group">
              <label class="label required">手机号码</label>
              <input type="text" class="form-control" ng-model="data.cellphoneNumber">
          </div>
          <div class="form-group">
              <label class="label">备用号码</label>
              <input type="text" class="form-control" ng-model="data.telephoneNumber">
          </div>
          <div class="form-group">
              <label class="label">备注信息</label>
              <textarea class="form-control" rows="5" ng-model="data.note"></textarea>
          </div>
          <div class="form-group pull-right">
              <a  ng-if="changeAddress != '0'"  class="btn-u bg-color-ffb" href="javascript:void(0)" ng-click="submitAddress();">
                  <i class="fa fa-save"></i> 保存并返回
              </a>
              <a class="btn-u btn-u-default" href="javascript:void(0)" ng-click="goback()">
                  <i class="fa fa-reply"></i> 返回
              </a>
          </div>
        </div>
    </div>
</div>
