<div ng-controller="MyFinanceController">
    <!-- <div class="profile-body margin-bottom-20">
        <div class="counters">
            <span class="counter-icon"><i class="fa fa-jpy rounded"></i></span>
            <span>{{currentUser.accountBalance}}</span>
            <div class="alert alert-warning fade in" style="text-align:left">
                <strong>使用说明:</strong>
                请填入您要充值的金额,点击确认付款.充值成功的话，该款项将直接划入您在本系统帐户上.
                如果您正在进行交易,请确保您充值的金额不少于您的交易金额.
            </div>
        </div>
        <div>
            <form action="#" id="sky-form1" class="sky-form" novalidate="novalidate">
                <fieldset>
                    <div class="row">
                        <section class="col col-3">
                            <img src="assets/img/culwebapp/alipay.png">
                        </section>
                        <section class="col col-5">
                            <label class="label">请输入您要充值的金额:</label>
                            <label class="input">
                                <i class="icon-append fa fa-jpy"></i>
                                <input type="text" name="number" class="form-control" ng-model="model.payAmount" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="label">(手续费:0.00)</label>
                            <span>
                                <button type="button" class="btn-u" ng-click="userPay();">充值</button>
                                <a class="btn-u btn-u-default" ui-sref="customer.myfinancedetail({tabId:'recharge'})">查看充值记录</a>
                            </span>
                        </section>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="row margin-top-20">
            <div class="col-sm-12">
                <button type="button" class="btn-u btn-u-default" ng-click="goback()">返回</button>
            </div>
        </div>
    </div> -->

  <div class="my-balance">
    <div class="common-title">
      <h2>
        <i class="fa fa-cny"></i>
        我的余额
      </h2>
    </div>
    <div class="balance-content">
      <div class="content-left">
        <h2>可用余额</h2>
        <h1 class="balance-money">{{currentUser.accountBalance}} <span>￥</span></h1>
      </div>
      <div class="content-right">
        <div class="right-item">
          <div class="right1">
            <img src="assets/img/culwebapp/alipay.png">
          </div>
          <div class="right2">
            <a class="btn-u btn-u-default btn-common" ui-sref="customer.myfinancedetail({tabId:'recharge'})">查看充值记录</a>
          </div>
        </div>
        <div class="right-item">
          <div class="right1">            
            <input type="text" name="number" class="form-control" ng-model="model.payAmount" placeholder="充值金额" />
            <hr style="margin:10px 0">
            <input type="text" name="number" class="form-control" ng-model="model.refundAmount" placeholder="提款金额" />          
            <div style="margin-top:6px;padding:0 1px;font-size:11px;line-height:15px;color:#999">
                    <i class="fa fa-exclamation-triangle color-ffb"></i>
                    <strong>注意:</strong>最小提款金额为￥100, 每次提款收取￥20手续费。申请批准后,提款金额将会返还到您支付宝账户。
                </div>  
          </div>
          <div class="right2">
            <button type="button" class="btn-u btn-chong btn-common" ng-click="userPay();">充值</button>
            <hr style="margin:10px 0">
            <button type="button" data-toggle="modal" data-target="#withdraw_modal" class="btn-u btn-chong btn-common" ng-click="preApplyRefund()">申请提款</button>
            <div ng-if="!!preApplyRefund_success" class="modal fade" id="withdraw_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel4">申请提款</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>支付宝账号:</h2>
                                </div>  
                                <div class="col-md-8">
                                    <p><input class="form-control" type="text" ng-model="model.alipayAccount" placeholder="请输入支付宝账号"></p>
                                    <p><input class="form-control" type="text" ng-model="model.alipayAccountRepeat" placeholder="请再输入一次支付宝账号"></p>
                                    
                                </div>                                
                            </div>
                            <div class="row">
                                <p>
                                    <input type="checkbox" ng-model="model.acceptTerms">
                                    <span>
                                        <small>
                                            我确认输入了正确的支付宝账户并了解中美速递不承担任何因提供不正确的支付宝账号所产生的赔偿责任!
                                        </small>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-u btn-u-default btn-common" data-dismiss="modal">取消</button>
                            <button type="button" class="btn-u btn-chong btn-common" data-dismiss="modal" ng-click="applyRefund();">提交申请</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="margin:10px 0">
            <a class="btn-u btn-u-default btn-common" ui-sref="customer.mywithdrawrequest">查看提款记录</a>
          </div>
        </div>
        <!-- <div class="note">
            <i class="fa fa-exclamation-triangle color-ffb"></i><strong>注意:</strong>因支付宝限制暂时不能通过支付宝充值余额, 订单通过支付宝支付仍然可用。
          </div> -->
      </div>
    </div>
  </div>
</div>
