<!-- Begin Content -->
<div class="row">
    <div class="profile-body margin-bottom-20">
        <div class="headline"><h2>我的问题</h2></div>
        <!--Table Bordered-->

        <div class="table-search-v1">
            <div>
                <table class="table table-bordered">
                    <thead>  
                        <tr>
                            <th>#</th>
                            <th>问题编号</th>
                            <th>日期</th>
                            <th>问题类别</th>
                            <th>收货仓库</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="questionItem in questionList">
                            <td>{{questionItem.rownumber}}</td>
                            <td><a href="javascript:void(0)" ng-click="redirectToDetail(questionItem);">{{questionItem.messageNumber}}</a></td>
                            <td>{{questionItem.indate|date:'MM/dd/yyyy HH:mm:ss'}}</td>
                            <td>
                                <span ng-repeat="questionCategoryItem in questionCatgories" ng-if="questionCategoryItem.typeID==questionItem.messageType">
                                    {{questionCategoryItem.typeName}}
                                </span>
                            </td>
                            <td>
                                <span ng-repeat="warehouseItem in questionWarehouses" ng-if="warehouseItem.warehouseNumber==questionItem.receivedWarehouseNumber">
                                    {{warehouseItem.warehouseName}}
                                </span>
                            </td>
                            <td>
                                <span class="label label-info" ng-if="questionItem.status=='Closed'">已关闭</span>
                                <span class="label label-info" ng-if="questionItem.status=='Processing'">待处理</span>
                                <span class="label label-info" ng-if="questionItem.status=='ForwardWH'">转交仓库</span>
                            </td>
                            <td><button class="btn-u btn-u-xs btn-u-default" type="button" ng-click="deleteQuestion(questionItem.messageNumber)">删除</button></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="text-right">
                        <pagination options="pagedOptions" on-page="onPaged"></pagination>
                    </div>
                </div>
                <div>
                    <a class="btn-u bg-color-ffb" ui-sref="customer.askquestion">
                        <i class="fa fa-question-circle"> 我要提问</i>
                    </a>
                    <button type="button" class="btn-u btn-u-default" ng-click="goback()">返回</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->
