<!-- Begin Content -->
<div class="row" ng-controller="OrderOfflineImportCtrl" style="background-color: #fff;">
    <div class="profile-body margin-bottom-20" style="background-color: #fff;">
        <div class="common-title">
            <h2>
                <i class="fa fa-clock-o"></i> 批量创建线下订单
            </h2>
        </div>
        <div class="sky-form edit-content">
            <div class="form-group">
                <label class="label required">线下订单上传</label>
                <div style="height: 50%">
                    <form enctype="multipart/form-data" id="addForm">
                        <div class="form-group">
                            <label></label>
                            <input id="orderfile" type="file" class="file" name="file" multiple="true" accept=".xlsx">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->