<div class="widget widget-table">
    <div class="profile-body margin-bottom-20 order-list">
        <div class="common-title">
            <h2>
                <i class="fa fa-shopping-cart"></i>
                订单列表
            </h2>
        </div>

        <div class="list">
            <form action="#" id="sky-form" class="sky-form form-inline" novalidate="novalidate">
                <div class="row">
                    <div class="form-group">
                        <label>搜索条目：</label>
                        <select class="form-control" ng-model="queryPara.searchKeyName" ng-options="searchKeyItem.key as searchKeyItem.text for searchKeyItem in searchKeyItems"></select>
                        <input type="text" class="form-control" ng-model="queryPara[queryPara.searchKeyName]" ng-enter="searchOrder()" />
                        
                        <div class="form-group" id="datepicker1">
                            <div class="input-group date">
                                <input type="text" placeholder="开始时间" class="form-control" ng-model="queryPara.startDate">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-th"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" id="datepicker2">
                            <div class="input-group date">
                                <input type="text" placeholder="结束时间" class="form-control" ng-model="queryPara.endDate">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-th"></i>
                                </span>
                            </div>
                        </div>

                        <a href="javascript:void(0)" ng-click="searchOrder()" class="btn-u bg-color-ffb">查找订单</a>
                    </div>
                </div>
                <div class="row" style="margin-top:15px;">
                    <div class="form-group">
                        <label class="pull-left" style="margin-top:5px;">订单状态：</label>
                        <div class="inline-group pull-left">
                            <label class="radio" style="margin-right: 10px; padding-left: 10px;">
                                <a href="javascript:void(0)" ng-click="changeQueryStaus('Shipped')" class="rbx-txt">
                                    <input type="radio" ng-model="queryPara.orderStatus" value="Shipped" />
                                    <i class="rounded-x"></i>已出库
                                </a>
                            </label>
                            <label class="radio" style="margin-right:10px;padding-left:10px;">
                                <a href="javascript:void(0)" ng-click="changeQueryStaus('PartialShipped')" class="rbx-txt">
                                    <input type="radio" ng-model="queryPara.orderStatus" value="PartialShipped" />
                                    <i class="rounded-x"></i>部分出库
                                </a>
                            </label>
                            <label class="radio" style="margin-right:10px;padding-left:10px;">
                                <a href="javascript:void(0)" ng-click="changeQueryStaus('Unpaid')" class="rbx-txt">
                                    <input type="radio" ng-model="queryPara.orderStatus" value="Unpaid" />
                                    <i class="rounded-x"></i>待支付
                                </a>
                            </label>
                            <label class="radio" style="margin-right:10px;padding-left:10px;">
                                <a href="javascript:void(0)" ng-click="changeQueryStaus('Arrears')" class="rbx-txt">
                                    <input type="radio" ng-model="queryPara.orderStatus" value="Arrears" />
                                    <i class="rounded-x"></i>运费不足
                                </a>
                            </label>
                            <label class="radio" style="margin-right:10px;padding-left:10px;">
                                <a href="javascript:void(0)" ng-click="changeQueryStaus('Processing')" class="rbx-txt">
                                    <input type="radio" ng-model="queryPara.orderStatus" value="Processing" />
                                    <i class="rounded-x"></i>处理中
                                </a>
                            </label>
                            <label class="radio" style="margin-right:10px;padding-left:10px;">
                                <a href="javascript:void(0)" ng-click="changeQueryStaus('WaybillUpdated')" class="rbx-txt">
                                    <input type="radio" ng-model="queryPara.orderStatus" value="WaybillUpdated" />
                                    <i class="rounded-x"></i>运单更新
                                </a>
                            </label>
                            <label class="radio" style="margin-right:10px;padding-left:10px;">
                                <a href="javascript:void(0)" ng-click="changeQueryStaus('Void')" class="rbx-txt">
                                    <input type="radio" ng-model="queryPara.orderStatus" value="Void" />
                                    <i class="rounded-x"></i>已取消
                                </a>
                            </label>
            
                            <label class="radio" style="margin-right:10px;padding-left:10px;">
                                <a href="javascript:void(0)" ng-click="changeQueryStaus('Paid')" class="rbx-txt">
                                    <input type="radio" ng-model="queryPara.orderStatus" value="Paid" />
                                    <i class="rounded-x"></i>已支付
                                </a>
                            </label>
                            <label class="radio" style="margin-right:10px;padding-left:10px;">
                                <a href="javascript:void(0)" ng-click="changeQueryStaus('Arrived')" class="rbx-txt">
                                    <input type="radio" ng-model="queryPara.orderStatus" value="Arrived" />
                                    <i class="rounded-x"></i>已送达
                                </a>
                            </label>
                            <label class="radio" style="margin-right:10px;padding-left:10px;">
                                <a href="javascript:void(0)" ng-click="changeQueryStaus()" class="rbx-txt">
                                    <input type="radio" ng-model="queryPara.orderStatus" value="" />
                                    <i class="rounded-x"></i>所有状态
                                </a>
                            </label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="row" style="margin-top:15px;">
                    
                </div>
            </form>

            <div class="row" style="margin-top:15px;" ng-show="selectedListCache.length > 0">
                <div class="form-group">
                    <label class="pull-left" style="margin-top:5px;">已选择：</label>
                    <div class="inline-group pull-left">
                        <label class="search-label">{{selectedListCache.length}}个订单</label>
                        <button type="button" class="btn btn-link" ng-click="btnClearSelectedListCache();">清除已选项</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:15px;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><input type="checkbox" ng-change="btnSelectedItem(item)" ng-model="searchBar.selectedAll" /></th>
                        <th>序号</th>
                        <!-- <th>订单批号</th> -->
                        <!-- <th>客户编号</th> -->
                        <th>订单编号</th>
                        <th>CUL包裹单号</th>
                        <!-- <th>入库单号</th> -->
                        <th>生成日期</th>
                        <th>客户关联号</th>
                        <th>发货仓库</th>
                        <th>发货渠道</th>
                        <th>收货地址</th>
                        <th>价格</th>
                        <th>打印状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in dataList">
                        <td><input type="checkbox" ng-change="btnSelectedItem(item)" ng-model="item._selected" /></td>
                        <td>{{item.rownumber}}</td>
                        <!-- <td>{{item.batchNumber || '-'}}</td> -->
                        <!-- <td><a href="javascript:void(0);" ng-click="btnOpenDetail(item,'customerdetail')">{{item.customer.customerNumber}}</a></td> -->
                        <td style="width: 200px;">
                            <small>
                                <span class="label label-success" ng-if="item.orderStatus==='Shipped'">已出库</span>
                                <span class="label label-warning" ng-if="item.orderStatus==='Unpaid'">待支付</span>
                                <span class="label label-info" ng-if="item.orderStatus==='Processing'">处理中</span>
                                <span class="label label-info" ng-if="item.orderStatus==='WaybillUpdated'">运单更新</span>
                                <span class="label label-info" ng-if="item.orderStatus==='Void'">已取消</span>
                                <span class="label label-success" ng-if="item.orderStatus==='Paid'">已支付</span>
                                <span class="label label-danger" ng-if="item.orderStatus==='Arrears'">运费不足</span>
                                <span class="label label-success" ng-if="item.orderStatus==='Arrived'">已送达</span>
                                <span class="label label-success" ng-if="item.orderStatus==='PartialShipped'">部分出库</span>
                            </small>
                            <small>{{item.orderNumber}}</small>
                        </td>
                        <td style="max-width: 160px;">
                            <div ng-repeat="pkg in item._outboundTrackingNumbers track by $index">{{pkg}}</div>
                        </td>
                        <!-- <td class="long-cell">
                            <div ng-repeat="pkg in item._inboundTrackingNumbers" style="overflow: hidden;">{{pkg}}</div>
                        </td> -->
                        <td>{{item.orderDate | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                        <td>{{item.referenceOrderNumber || '-'}}</td>
                        <td>{{item.warehouseName}}</td>
                        <td>{{item.shipServiceName}}</td>
                        <td class="long-cell">
                            <p ng-repeat="ads in item._shipToAddresses track by $index">
                                {{ads}}
                            </p>
                        </td>
                        <td>
                            <span ng-if="item.currencyCode == 'USD'" title="USD">
                                <i class="fa fa-dollar" aria-hidden="true"></i>
                            </span>
                            <span ng-if="item.currencyCode != 'USD'" title="RMB">
                                <i class="fa fa-rmb" aria-hidden="true"></i>
                            </span> {{item.totalCount}}
                        </td>  
                        <td>{{item._printStatus}}</td>
                        <td>
                            <a href="javascript:void(0);" class="role" data-role="83" ng-click="btnDeleteApproval(item)" ng-if="item._printStatus == '未打印' && item.orderStatus == 'Unpaid'">
                                 <i class="fa fa-trash-o" style="font-size: 20px;"></i></a>
                        </td>
                    </tr> 
                </tbody>
            </table> 

            <div class="row" style="margin-top:10px">
                <div class="text-right pull-right">
                    <pagination options="pagedOptions" on-page="onPaged"></pagination>
                </div>
                <label class="pull-right">
                    <select style="width:50px;" class="form-control" ng-model="pageSize" ng-change="onPaged(1)">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="text-left pull-left " style="margin-left:20px">
                <!--<a class="btn btn-primary" target="_blank" ng-href="{{exportUrl}}">将结果导出Excel文件</a>-->
                <form id="form_export" method="post" action="/" target="_blank">
                    <input id="dateFrom" name="dateFrom" type="hidden" value="{{exportOptions.dateFrom}}" />
                    <input id="dateTo" name="dateTo" type="hidden" value="{{exportOptions.dateTo}}" />
                    <input id="orderStatus" name="orderStatus" type="hidden" value="{{exportOptions.orderStatus}}" />
                    <input id="printStatus" name="printStatus" type="hidden" value="{{exportOptions.printStatus}}" />
                    <input id="warehouseNumber" name="warehouseNumber" type="hidden" value="{{exportOptions.warehouseNumber}}" />
                    <input id="shipServiceId" name="shipServiceId" type="hidden" value="{{exportOptions.shipServiceId}}" />
                    <input id="customerNumber" name="customerNumber" type="hidden" value="{{exportOptions.customerNumber}}" />
                    <input id="userName" name="userName" type="hidden" value="{{exportOptions.userName}}" />
                    <input id="orderNumber" name="orderNumber" type="hidden" value="{{exportOptions.orderNumber}}" />
                    <input id="receiveTrackingNumber" name="receiveTrackingNumber" type="hidden" value="{{exportOptions.receiveTrackingNumber}}" />
                    
                    <input id="outBoundTrackingNumber" name="outBoundTrackingNumber" type="hidden" value="{{exportOptions.outBoundTrackingNumber}}"
                    />
                    <input id="receiveidentity" name="receiveidentity" type="hidden" value="{{exportOptions.receiveidentity}}" />
                    <input id="referenceOrderNumber" name="referenceOrderNumber" type="hidden" value="{{exportOptions.referenceOrderNumber}}"
                    />
                    <input id="cnTrackingNumber" name="cnTrackingNumber" type="hidden" value="{{exportOptions.cnTrackingNumber}}" />
                    <input id="token" name="token" type="hidden" value="{{exportOptions.token}}" />
                    <button type="submit" class="btn-u bg-color-ffb" >将结果导出Excel文件</button>
                </form>
            </div>
            <div class="text-right pull-left" style="margin-left:10px">
                <button type="button" class="btn-u bg-color-ffb" ng-click="delSomeOrder()"> 批量删除</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="del-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="common-title" style="text-align: left">
                    <h2>
                         删除  
                    </h2>
                </div>
                <div class="del-msg">
                    <label class="col-sm-3 control-label text-right">删除原因:</label>
                    <div class="col-sm-7 text-left">
                        <textarea type="input" class="form-control" ng-model="deleteMessage"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn-u bg-color-ffb" data-dismiss="modal" ng-click="btnDelete(item, $event)">确定</button>
                <button type="button" class="btn-u bg-color-ffb" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#datepicker1 .input-group.date').datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            // keepOpen: true,
            language: 'zh-CN',
            todayBtn: "linked",
            toggleActive: true
        });
        $('#datepicker2 .input-group.date').datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            // keepOpen: true,
            language: 'zh-CN',
            todayBtn: "linked",
            toggleActive: true
        });
    });
</script>