<div ng-controller="OrdertrackingCtrl" style="overflow-x:hidden;">
    <!-- <div class="row" ng-if="!isOrderPackage&&showTrack">
        <div class="col-sm-12">
            <div class="headline" style="padding-left:20%;"><h2>包裹轨迹</h2></div>
            <ul class="timeline-v2">
                <li class="title equal-height-columns">
                    <p ng-if="!!orderEventInfo.usedTimeString">已运送：{{orderEventInfo.usedTimeString }}</p>
                    <p ng-if="!orderEventInfo.usedTimeString">已运送：{{orderEventInfo.usedDay}}天{{orderEventInfo.usedHour}}小时</p>
                    <p ng-if="!!orderEventInfo.shipDate && showOutboundDate">出库时间：{{orderEventInfo.shipDate|date:'yyyy年MM月dd日 HH:mm'}}</p>
                </li>
                <li class="equal-height-columns" ng-repeat="eventItem in orderEventInfo.eventList" ng-if="!!eventItem.note">
                    <div class="cbp_tmtime equal-height-column">
                        <span>{{eventItem.operationDate|date:'yyyy年MM月dd日 HH:mm:ss'}}</span>
                        <span><i class="fa {{eventItem.icon}} fa-3x"></i></span>
                    </div>
                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                    <div class="cbp_tmlabel equal-height-column">
                        <div>
                            <h2>{{eventItem.note}}</h2>
                            <div class="row">
                                <div class="col-sm-12" bind-html-unsafe="eventItem.description">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p ng-if="eventItem.code!=102">
                                        <span ng-if="!!eventItem.operationUser">{{eventItem.operationUser}}</span><span ng-if="!!eventItem.warehouseName">[{{eventItem.warehouseName}}]</span>
                                    </p>
                                    <p ng-if="eventItem.code==102">
                                        {{eventItem.operationUser}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> -->
    <!-- <div class="row" ng-if="isOrderPackage" style="width:70%;margin:0 auto;">
        <div class="headline"><h2>订单包裹信息</h2></div>
        <ul class="list-unstyled">
            <li class="list-row" ng-repeat="packageNumber in packagesList">
                <a href="javascript:void(0)" ng-click="showTrackInfo(packageNumber);"><u>{{packageNumber}}</u></a>
            </li>
        </ul>
    </div> -->
    <div class="container-fluid content order-track" ng-if="!isErrorNumber">
      <img ng-if="orderEventInfo.usedTimeString" src="../../assets/img/ordertracking/bg-banner.png" />
      <div class="container" ng-class="{'order-container':orderEventInfo.usedTimeString, 'order-package':isOrderPackage}">
        <div class="row" ng-if="orderEventInfo.usedTimeString">
          <div class="col-sm-3 col-xs-12">
            <div class="item-baoguo">
              <img src='../../assets/img/ordertracking/icon-left-baoguo.png' />
              <h3 class="title">包裹轨迹</h3>
              <p>Parcel trajectory</p>
            </div>
            <div  ng-if="status != 'Init'" class="item-left item-yun">
              <img src="../../assets/img/ordertracking/icon-left-yunsong.png" />
              <div class='item-content' ng-if="status != 'Init'">
                <p>已运送</p>
                <p class="time">{{orderEventInfo.usedTimeString}}</p>
              </div>
            </div>
            <div  ng-if="status != 'Init'" class="item-left item-time" v-if="orderEventInfo.eventList && orderEventInfo.eventList.length > 0">
              <img src="../../assets/img/ordertracking/icon-left-chuku.png" />
              <div class='item-content'>
                <p>出库时间{{orderEventInfo.status}}</p>
                <!--<p class="chuku">{{orderEventInfo.eventList[0].operationDate|date:'yyyy.MM.dd HH:mm'}}</p>-->
                <p class="chuku">{{eventChukuDate |date:'yyyy.MM.dd HH:mm'}}</p>              
              </div>
            </div>
          </div>
          <div class="col-sm-9 col-xs-12 col-track">
            <div class="track-item" ng-repeat="eventItem in orderEventInfo.eventList">
              <div class="track-item-icon">
                <i class="fa {{eventItem.icon}}"></i>
              </div>
              <div class="track-item-content">
                <div class="head">{{eventItem.operationDate|date:'yyyy年MM月dd日 HH:mm:ss'}}</div>
                <div>{{eventItem.note}}</div>
                <div bind-html-unsafe="eventItem.description"></div>
                <div class="foot">{{eventItem.operationUser}}</div>
              </div>
            </div>
            <div ng-show="!orderEventInfo.eventList || orderEventInfo.eventList.length === 0" class="no-data">
              暂无任何记录
            </div>
          </div>
        </div>
        <div class="row" ng-if="isOrderPackage" style="background-color: #fff;">
            <div class="common-title">
              <h2 style="width: 190px;">
                <i class="fa fa-shopping-cart"></i>
                订单包裹信息
              </h2>
            </div>
            <ul class="list-unstyled" style="margin-top: 20px;">
                <li class="list-row" ng-repeat="packageNumber in packagesList">
                    <a href="javascript:void(0)" ng-click="showTrackInfo(packageNumber);"><u>{{packageNumber}}</u></a>
                </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid content order-no-track" ng-if="isErrorNumber">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 left-col">
          <img src="../../assets/img/ordertracking/no-page.png" />
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 right-col">
          <h2 class="title">无效的运单号码 . . .</h2>
          <p class="content">您输入的运单号码有误，别着急，核对一下您的运单号码回到主页再输一次试试。</p>
          <a class="btn-go" ui-sref="/">回到主页</a>
        </div>
      </div>
    </div>
</div>
