<!-- CSS Steps Plugins -->
<!-- Begin Content -->
<div class="row" ng-controller="MyOrdersController" style="background-color: #fff; padding: 20px;">
    <div class="common-title">
      <h2>
        <i class="fa fa-check-circle-o"></i>
        提交订单
      </h2>
    </div>
    <div>
        <form action="#" class="sky-form shopping-cart">
            <div>
                <step-wizard on-submit="wizardSubmit" on-valid="wizardValid" options="wizardOptions">
                    <ul class="wizard">
                      <li>
                        <div class="title">
                            <h2>转运服务</h2>
                            <p class="subtitle">选择转运服务类别</p>
                        </div>
                      </li>
                      <li>
                        <div class="title">
                          <h2>收货信息</h2>
                          <p class="subtitle">填写商品申报和收货信息</p>
                        </div>
                      </li>
                      <li>
                        <div class="title">
                            <h2>提交订单</h2>
                            <p class="subtitle">确认订单明细和提交订单</p>
                        </div>
                      </li>
                    </ul>
                    <ul class="viewport" style="margin-top: 20px;">
                        <li>
                            <div class="form-group">
                                <div ng-if="showWeight">
                                    <label class="label">包裹重量</label>
                                    <input type="text" class="form-control" ng-model="data.packageWeight" />
                                </div>
                                <div style="margin-top:12px;">
                                    <label class="label">选择发货渠道</label>
                                    <select class="form-control" ng-model="data.shipServiceItem" ng-change="selectedChannel()" ng-options="shipChannelItem as shipChannelItem.shipServiceName for shipChannelItem in allShipChannels">
                                        <option value="">请选择渠道</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group" ng-show="!!data.shipServiceItem">
                                <div class="table-responsive" style="border-top: 0;">
                                    <table class="table table-hover table-bordered" style="margin-top:20px;margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th style="width:120px;">服务名称</th>
                                                <th style="width:120px;">递送时间</th>
                                                <th style="width:150px;">运费</th>
                                                <th class="hidden-sm">服务描述</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{data.shipServiceItem.shipServiceName}}</td>
                                                <td>{{data.shipServiceItem.estimatedTime}}</td>
                                                <td style="text-align:left;">
                                                    <ul class="list-unstyled">
                                                        <li ng-repeat="goodsCategoryItem in data.shipServiceItem.shipServiceFeeList">
                                                            <div><label class="label">{{goodsCategoryItem.currency}}</label></div>
                                                            <div>
                                                                首磅价格：{{goodsCategoryItem.firstWeight|number:2}}
                                                            </div>
                                                            <div>次磅价格：{{goodsCategoryItem.continuedWeight|number:2}}
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="hidden-sm" style="text-align:left;">
                                                    {{data.shipServiceItem.serviceDetail}}
                                                    <span class="label label-light">
                                                        <i class="fa fa-hand-o-right"></i>{{data.shipServiceItem.attention}}{{data.shipServiceItem.rules}}{{data.shipServiceItem.serviceSummary}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="note">
                                    请选择您需要的转运服务类别，点击下一步继续您的订单，在订单提交前，您可以审核和修改你的订单。
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <!--商品申报-->
                                <div class="table-responsive">
                                    <h5 class="title-type">商品申报:</h5>
                                    <div class="alert alert-warning fade in alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <strong>温馨提示:</strong>请如实填写购买商品名称及数量，错误申报会造成海关扣件或退件！一个地址建议每天发送一个包裹!
                                        <a data-toggle="modal" data-target="#moreInfoModal">详细信息...</a>
                                        <!--<button class="btn-u" data-toggle="modal" data-target=".bs-example-modal-lg">查看详细信息</button>-->
                                        <div class="modal fade" tabindex="-1" id="moreInfoModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" style="right:0px">×</button>
                                                        <h4 class="modal-title">温馨提示</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            请大家下单时如实详细填写每一个商品的商品品牌，商品品名描述以及各个商品数量，商品的单价，
                                                            申报价值最终会自动计算，大家只要填写每样物品的单价即可。
                                                            如申报内件物品和实际不符，很容易造成海关的扣货，延误，丢失，本公司将不承担此类责任！
                                                        </p>
                                                        <br>
                                                        <p>
                                                            注意:不要填写礼物，生活用品，宝宝用品这类含糊字眼，品名一定要详细，比如衣服不能笼统填写衣服，
                                                            具体是皮衣，毛衣，衬衫等等，鞋子不能只填写鞋子，必须是运动鞋，皮鞋，靴子，拖鞋等。
                                                            具体品牌也尽可能填写正确，填写英文即可,不要胡乱填写，数量也一定要按照正确实际情况填写.
                                                        </p>
                                                        <p>
                                                            注意:USPS渠道禁止使用拼音填写品名，拼音品名无法通过美国海关申报，会产生退运的情况。USPS渠道的收件地址可以用拼音填写即可。
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="background-color: #f9f9f9; padding: 20px;">
                                      <div class="s-title">入库包裹信息</div>
                                      <div ng-repeat="shippingItem in shippingItems" style="background-color: #fff; margin-bottom: 15px; padding: 10px 0;">
                                        <div class="row media-body ques">
                                            <div class="col-md-6">
                                                <dl class="dl-horizontal ques">
                                                    <dt><i class="fa fa-barcode"></i> 商品编号:</dt>
                                                    <dd class="ng-binding">{{shippingItem.trackingNumber}}</dd><br>
                                                    <dt><i class="fa fa-clock-o"></i> 预报时间:</dt>
                                                    <dd class="ng-binding">
                                                      <span ng-if="!!shippingItem.inboundDate">
                                                          {{shippingItem.inboundDate|sysdate}}
                                                      </span>
                                                      <span ng-if="!shippingItem.inboundDate">
                                                          {{shippingItem.createDate|sysdate}}
                                                      </span>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div class="col-md-6">
                                                <dl class="dl-horizontal ques">
                                                  <dt><i class="fa fa-cubes"></i> 包裹重量:</dt>
                                                  <dd class="ng-binding">
                                                    {{shippingItem.packageWeight}}磅
                                                  </dd><br>
                                                  <dt><i class="fa fa-map-marker"></i> 发货仓库:</dt>
                                                  <dd>
                                                    {{shippingItem.warehouseName}}
                                                  </dd>
                                                </dl>
                                            </div>
                                          <div class="col-md-12">
                                            <dl class="dl-horizontal ques">
                                              <dt class="mes"><i class="fa fa-archive"></i> 运单内容:</dt>
                                              <dd class="ng-binding des">{{shippingItem.packageDescription}}
                                              </dd>
                                            </dl>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="s-title" style="margin-top: 25px;">转运包裹信息</div>
                                          <div ng-repeat="outboundPackageItem in outboundPackages" style="margin-bottom: 15px; padding:20px 30px; background-color: #fff;">
                                            <select class="form-control" ng-model="outboundPackageItem.addressNumber"
                                              ng-options="addressItem.transactionNumber as (addressItem.stateOrProvince+' '+addressItem.address1+' '+addressItem.zipcode+' '+addressItem.receivePersonName) for addressItem in addressListData"
                                              style="width: 40%; float: left; margin-top: 5px; margin-right:20px;">
                                                <option value="">请选择收货地址</option>
                                            </select>
                                            <select class="form-control" ng-model="outboundPackageItem.currentCategory" style="margin-top:5px; width:30%;float:left;"
                                                    ng-change="selectedCategory(outboundPackageItem,'currentCategory',outboundPackageItem.currentCategory)"
                                                    ng-options="categoryItem.cateid as categoryItem.name for categoryItem in categories | filter:{parentid:null}">
                                                <option value="">请选择商品主类别</option>
                                            </select>
                                            <select class="form-control" ng-model="outboundPackageItem.goodsCategory" style="margin-top: 5px; width: 20%; float: left; margin-left:20px;"
                                                    ng-change="selectedCategory(outboundPackageItem,'goodsCategory',outboundPackageItem.goodsCategory)"
                                                    ng-options="categoryItem2.cateid as categoryItem2.name for categoryItem2 in outboundPackageItem.subCategories">
                                                <option value="">请选择商品子类别</option>
                                            </select>
                                            <div class="clearfix"></div>
                                            <div style="margin-bottom:10px;clear:both;"></div>
                                            <table class="table" style="margin-top:20px; border-top: solid 1px #e1e1e1; border-bottom: solid 1px #e1e1e1;">
                                                <thead>
                                                    <tr>
                                                        <th style="width:30%;">商品品牌</th>
                                                        <th style="width:30%;">商品描述</th>
                                                        <th style="width:10%;">数量</th>
                                                        <th style="width:20%;">单价(美元)</th>
                                                        <th style="width:10%;">操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="orderItem in outboundPackageItem.orderItems">
                                                        <td class="nob-td">
                                                            <input type="text" class="form-control" style="width: 95%;" ng-model="orderItem.itemBrand" />
                                                        </td>
                                                        <td class="nob-td">
                                                            <input type="text" class="form-control" style="width: 95%;" ng-model="orderItem.description" />
                                                        </td>
                                                        <td class="nob-td">
                                                            <input min="0" type="number" class="form-control" style="width: 95%;" ng-model="orderItem.quantity" />
                                                        </td>
                                                        <td class="nob-td">
                                                            <input min="0" type="number" class="form-control" style="width: 95%;" ng-model="orderItem.unitprice" />
                                                        </td>
                                                        <td class="nob-td">
                                                            <a class="btn-u bg-color-607" ng-click="removeOrderItem($event,$index,outboundPackageItem);"><i class="fa fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="row">
                                              <div class="col-md-7" style="text-align: left;">
                                                <a class="btn-u bg-color-ffb" ng-click="addOrderItem($event,outboundPackageItem);" href="javascript:void(0);">
                                                    <i class="fa fa-plus-square"> 添加商品</i>
                                                </a>
                                                <a class="btn-u bg-color-ffb" href="javascript:void(0);" ng-click="orderBinning(outboundPackageItem);" ng-show="!data.isFastOrder">
                                                    <i class="fa  fa-indent"> 分箱</i>
                                                </a>
                                              </div>
                                              <div class="col-md-5" style="text-align: right;">
                                                <a class="btn-u bg-color-ffb" href="javascript:void(0);" ng-click="removePackage(outboundPackageItem);" ng-show="outboundPackages.length>1">
                                                    <i class="fa fa-outdent"> 删除包裹</i>
                                                </a>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--商品申报-->
                                <!--收货地址-->
                                <!--<div class="table-responsive">
                                    <h5 class="title-type">选择收货地址:</h5>
                                    <div class="alert alert-warning fade in alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <strong>温馨提示:</strong>一个地址建议每天发送一个包裹！
                                    </div>

                                    <div>
                                        <p ng-repeat="addressItem in addressListData track by $index">
                                            <span class="label label-light ng-binding">
                                                <input type="checkbox" name="checkbox" ng-model="addressItem.checked"><i></i>
                                                {{addressItem.stateOrProvince}} {{addressItem.address1}} {{addressItem.zipcode}} {{addressItem.receivePersonName}}
                                                <span style="float:right">
                                                    <a href="javascript:void(0)" ng-click="redirectToAddressInfo(addressItem)">修改地址</a>
                                                </span>
                                            </span>
                                        </p>
                                    </div>
                                </div>-->
                                <div style="margin:20px 0;">
                                    <a class="btn-u bg-color-ffb" ui-sref="customer.myaddress">
                                        <i class="fa fa-plus-square"> 添加地址</i>
                                    </a>
                                </div>
                                <!--收货地址-->
                                <div class="form-group">
                                    <h5 class="title-type">备注说明:</h5>
                                    <textarea class="form-control" rows="3" ng-model="data.priceAdjustMemo"></textarea>
                                </div>
                                <div class="note">
                                    请选择收货地址和如实填写商品描述，点击下一步继续您的订单，在订单最终提交前，您依旧可以审核和修改你的订单。
                                </div>
                            </div>
                        </li>
                        <li style="position: relative;">
                            <div class="form-group row" style="margin:5px 15px">
                                <div class="col-sm-2"><label class="label">申报价值：</label></div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" class="form-control" aria-label="申报价值 (to the nearest dollar)" ng-model="data.declareGoodsValue" disabled ng-change="calculateFee('insuranceMark');">

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="checkbox-inline" style="margin-top:5px">
                                        <input type="checkbox" ng-model="data.insuranceMark" id="buyInsurance" ng-click="calculateFee('insuranceMark','checkbox')" /> 购买5%保险
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row" style="margin:0 15px">
                                <div class="col-sm-2"><label class="label">打赏小费：</label></div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-jpy"></i></span>
                                        <input type="number" class="form-control" ng-model="data.tip" ng-change="calculateFee('tip');">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" style="margin:5px 15px">
                                <div class="col-sm-2"><label class="label">使用积分：</label></div>
                                <div class="col-sm-4">
                                    <input type="number" ng-model="data.usePoint" class="form-control" ng-change="calculateFee('usePoint');" ng-blur="usePointChanged()" />
                                </div>
                                <div class="col-sm-4" style="padding-top:6px;">
                                    <span>可使用积分：({{(currentUser.myPoint||0)|number}}) </span>
                                </div>
                            </div>
                            <div class="form-group row" style="margin:5px 15px">
                                <div class="col-sm-2"><label class="label">增值服务：</label></div>
                                <div class="col-sm-8">
                                    <a href="javascript:void(0)">
                                      <input id="agree-message" class="pk-checkbox-input" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="data.pack_takeoutInvoice" />
                                      <label for="agree-message"> 取出发票 </label></a>
                                    <a href="javascript:void(0)" class="pk-item">
                                      <input id="pack_urgentProcess" class="pk-checkbox-input" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="data.pack_urgentProcess" />
                                      <label for="pack_urgentProcess"> 加急处理 </label></a>
                                    <a href="javascript:void(0)" class="pk-item">
                                      <input id="pack_steadyInner" class="pk-checkbox-input" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="data.pack_steadyInner" />
                                      <label for="pack_steadyInner"> 内件加固 </label></a>
                                    <a href="javascript:void(0)" class="pk-item">
                                      <input id="pack_replaceCarton" class="pk-checkbox-input" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="data.pack_replaceCarton" />
                                      <label for="pack_replaceCarton"> 更换外箱 </label></a>
                                    <a href="javascript:void(0)" class="pk-item">
                                      <input id="pack_removeInner" class="pk-checkbox-input" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="data.pack_removeInner" />
                                        <label for="pack_removeInner"> 去除内件 </label></a>
                                </div>
                            </div>
                            <img src="../../assets/img/dashbard/icon-kdx.png" class="icon-kdx" />
                            <div class="form-group row" style="margin:5px 15px">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <div class="alert alert-warning fade in">
                                        <strong>说明:</strong> CULEXPRESS 提供拆包，合并服务，但是没有清点和核对包裹的义务，由于美国各类官网经常出现漏发，错发包裹，合并包裹，拆分包裹很难界定责任方，
                                            如果您选择拆包，合包服务，包裹内件出现缺失，CULEXPRESS不承担任何责任，提交订单即代表您同意和认可这项条例。
                                        <a href="#" target="_blank">查看详细条例...</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 30px;">
                              <table style="width: 100%;">
                                <thead style="border-top: solid 1px #e1e1e1; border-bottom: solid 1px #e1e1e1;">
                                  <th class="td-m">包裹重量(磅)</th>
                                  <th class="td-m">运费</th>
                                  <th class="td-m">购买保险</th>
                                  <th class="td-m">小费</th>
                                  <th class="td-m">增值服务</th>
                                  <th class="td-m">积分抵扣</th>
                                  <th class="td-m" style="width: 16%;">总计费用</th>
                                </thead>
                                <tbody>
                                  <tr style="background-color: #f7f9fb;">
                                    <td class="td-m">{{countFee.packageWeight|number:2}}</td>
                                    <td class="td-m">{{countFee.shippingFee|currency:'¥'}}</td>
                                    <td class="td-m">{{countFee.insuranceFee|currency:'¥'}}</td>
                                    <td class="td-m">{{countFee.tip|currency:'¥'}}</td>
                                    <td class="td-m">¥0.00</td>
                                    <td class="td-m" style="color: red">{{(countFee.usePoint||0) * -1|currency:'￥'}}</td>
                                    <td class="td-m"><strong>{{countFee.totalCount|currency:'¥'}}</strong></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                        </li>
                    </ul>
                </step-wizard>
            </div>
        </form>
    </div>
    <style>
        .profile .table a {
            color: #fff;
        }
    </style>
</div>
<!-- End Content -->
