<div class="profile-body margin-bottom-20 order-info" style="background: #fff;" ng-controller="OrderdetailCtrl">
    <div class="common-title">
        <h2>
            <i class="fa fa-shopping-cart"></i> 订单详情
        </h2>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12">
            <div class="item item-zhi">
                <h4>订单编号：{{data.orderNumber}}/{{data.shipServiceName}}</h4>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-6">
            <div class="item item-user">
                <h4>客户信息：</h4>
                <div>
                    <label>名(First Name):</label> <span>{{data.customer.firstName}}</span>
                </div>
                <div>
                    <label>姓(Last Name):</label> <span>{{data.customer.lastName}}</span>
                </div>
                <div>
                    <label>客户编号:</label> <span>{{data.customer.customerNumber}}</span>
                </div>
                <div>
                    <label>收货标识:</label> <span>{{data.customer.receiveIdentity}}</span>
                </div>
                <div>
                    <label>注册邮箱:</label> <span>{{data.customer.emailAddress}}</span>
                </div>
                <div>
                    <label>用户注册名:</label> <span>{{data.customer.userName}}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="item item-fei">
                <h4>费用明细：</h4>
                <div>
                    <strong><label>包裹重量：</label> <span>{{data.actualWeight|number : 2}}磅</span></strong>
                </div>
                <div>
                    <label>运 &nbsp; &nbsp; &nbsp; 费：</label> <span>{{data.shippingFee|currency:'¥'}}</span>
                </div>
                <div>
                    <label>购买保险：</label> <span>{{data.insuranceFee|currency:'¥'}}</span>
                </div>
                <div>
                    <label>小 &nbsp; &nbsp; &nbsp; 费：</label> <span>{{data.tip|currency:'¥'}}</span>
                </div>
                <div>
                    <label>增值服务：</label> <span>{{data.valueAddFee|currency:'¥'}}</span>
                </div>
                <div style="color:red;">
                    <label>积分抵扣：</label> <span>{{(data.usedPoint||0) * -1 | currency:'￥'}}</span>
                </div>
                <div>
                    <strong><label><strong>运费总计：</strong></label> <span>{{data.totalCount|currency:'¥'}}</span></strong>
                </div>
                <div ng-if="data.orderStatus=='Arrears'">
                    <strong><label><strong>运费拖欠：</strong></label> <span>{{data.shippingFeeAdjust|currency:'¥'}}</span></strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12">
            <div class="item item-zhi">
                <h4>支付信息：</h4>
                <div>
                    <label>支付日期:</label> <span>{{data.payDate|date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    <label style="margin-left: 50px;">实际支付:</label> <span>{{data.paied|currency:'¥'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12">
            <div class="item item-zhi">
                <h4>增值服务: </h4>
                <div>
                    <span class="margin-left-20" ng-show="data.pack_takeoutInvoice == null && data.pack_urgentProcess == null 
            && data.pack_steadyInner == null && data.pack_replaceCarton == null && data.pack_removeInner == null"><i class="fa fa-times-circle"></i> 没有选择任何增值服务</span>
                    <span class="margin-left-20" ng-show="data.pack_takeoutInvoice == 1"><i class="fa fa-check-circle"></i> 取出发票</span>
                    <span class="margin-left-20" ng-show="data.pack_urgentProcess == 1"><i class="fa fa-check-circle"></i> 加急处理</span>
                    <span class="margin-left-20" ng-show="data.pack_steadyInner == 1"><i class="fa fa-check-circle"></i> 内件加固</span>
                    <span class="margin-left-20" ng-show="data.pack_replaceCarton == 1"><i class="fa fa-check-circle"></i >更换外箱</span>
                    <span class="margin-left-20" ng-show="data.pack_removeInner == 1"><i class="fa fa-check-circle"></i> 去除内件</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12">
            <div class="common-title">
                <h2>
                    <i class="fa fa-history"></i>预报信息
                </h2>
            </div>
            <div class="panel-body" style="padding-bottom: 0;">
                <div class="table-responsive">
                    <table class="table order-detail">
                        <thead>
                            <tr>
                                <th class="text-center">快递单号</th>
                                <th class="text-center">快递名称</th>
                                <th class="text-center">运单内容</th>
                                <th class="text-center">预报时间</th>
                                <th class="text-center">入库时间</th>
                                <th class="text-center">入库重量</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="inboundPackageItem in data.inboundPackages">
                                <td>{{inboundPackageItem.trackingNumber}}</td>
                                <td>{{inboundPackageItem.carrierName}}</td>
                                <td>{{inboundPackageItem.packageDescription}}</td>
                                <td>{{inboundPackageItem.createDate|date:'yyyy-MM-dd'}}</td>
                                <td>{{inboundPackageItem.inboundDate|date:'yyyy-MM-dd'}}</td>
                                <td>{{inboundPackageItem.packageWeight|number:2}}磅</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12">
            <div class="common-title">
                <h2>
                    <i class="fa fa-cubes"></i>包裹明细
                </h2>
            </div>
            <div class="panel-body" style="padding-bottom: 0;">
                <div>{{data.priceAdjustMemo}}</div>
                <div class="table-responsive">
                    <table class="table order-detail">
                        <thead>
                            <tr>
                                <th class="text-center">包裹编号</th>
                                <th class="text-center">商品品牌</th>
                                <th class="text-center">商品描述</th>
                                <th class="text-center">数量</th>
                                <th class="text-center">申报价值</th>
                                <th class="text-center">合计</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="packageItem in data.outboundPackages">
                                <th style="vertical-align: middle; text-align: center;">
                                    <a ui-sref="ordertracking({trackingNumber:'{{packageItem.trackingNumber}}'})" style="font-size:12px;">
                            {{packageItem.trackingNumber}}</a>
                                    <a class="btn-u bg-color-ffb" style="padding: 1px 5px; color: #fff; margin-top: 5px;" ui-sref="ordertracking({trackingNumber:'{{packageItem.trackingNumber}}'})">
                                        <i class="fa fa-truck"></i> 查看包裹轨迹</a>
                                </th>
                                <td colspan="5" style="padding: 0;">
                                    <table class="table" style="margin-bottom: 0;">
                                        <tr ng-repeat="orderItem in packageItem.items">
                                            <td style="width: 20%;">{{orderItem.itemBrand}}</td>
                                            <td style="width: 20%;">{{orderItem.description}}</td>
                                            <td style="width: 20%;">{{orderItem.quantity}}</td>
                                            <td style="width: 20%;">{{orderItem.unitprice|currency}}</td>
                                            <td style="width: 20%;">{{(orderItem.quantity*orderItem.unitprice)|currency}}</td>
                                        </tr>
                                        <tr style="border-bottom: 0;">
                                            <td colspan="5" style="text-align: left;">
                                                <i class="fa fa-map-marker color-ffb" style="margin-right: 5px;"></i>收货地址：
                                                <span><span ng-if="!!packageItem.address.receiveCompanyName&&packageItem.address.receiveCompanyName!='null'">{{packageItem.address.receiveCompanyName}}/</span>{{orderItem.address.receivePersonName}}</span>
                                                <span>{{packageItem.address.cellphoneNumber}}</span>
                                                <span>{{packageItem.address.address1}}</span>
                                                <span>{{packageItem.address.zipcode}}</span>
                                                <!--<span style="float:right" ng-if="data.orderStatus==='Unpaid'">
                                        <a class="btn-u bg-color-ffb" style="padding: 1px 5px; color: #fff; margin-left: 20px;" ng-click="redirectToAddressInfo(packageItem.address)">
                                        <i class="fa fa-pencil"></i> 修改地址</a>                                  
                                    </span>-->
                                                <!--<a href="javascript:void(0)" ng-click="redirectToAddressInfo(packageItem.address)" style="color:#2c41bf;">修改地址</a>-->

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row pull-right" style="margin-right:15px;">
        <span style="font-weight:bold;">
              申报商品总价:</span>
        <span>{{(data.declareGoodsValue||0)|currency}}</span>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="common-title">
                <h2>
                    <i class="fa fa-comments"></i> 订单留言
                </h2>
            </div>
            <div class="panel panel-default" style="margin-top:15px; background-color: #f7f9fb;">
                <div class="panel-body" style="padding: 0;">
                    <div ng-repeat="orderMessageItem in orderMessages" class="msg-item">
                        <span>
                      <i class="fa fa-user"></i> {{orderMessageItem.operationUserName}}
                  </span>
                        <span style="font-weight:bold;"> {{orderMessageItem.message}}</span>
                        <span class="pull-right"><small>{{orderMessageItem.operationDate|sysdate}}</small></span>
                    </div>
                    <div class="msg-item">
                        <input class="form-control msg-txt" ng-model="data.orderMessage" />
                        <button class="btn submit" ng-click="submitMessage();">发表</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row padding-top-5" style="margin-top:10px;">
        <div class="col-sm-12">
            <div class="text-right">
                <button style="margin-top: 10px; width: 100px;" class="btn-u bg-color-ffb" ng-disabled="data.payLocked" ng-click="payOrder(data);" ng-if="data.orderStatus==='Unpaid'||data.orderStatus==='Arrears'">
          <i class="fa fa-save"></i> 支付订单</button>
                <!--<button style="margin-top: 10px; width: 100px;" class="btn-u bg-color-ffb" ng-click="redirectToTrack();" ><i class="fa fa-truck"></i> 支付订单</button>-->
                <button style="margin-top: 10px; width: 100px;" class="btn-u bg-color-ffb" ng-click="deleteOrder(data.orderNumber);" ng-if="data.orderStatus==='Unpaid'"><i class="fa fa-reply"></i> 取消订单</button>
                <button style="margin-top: 10px; width: 100px;" type="button" class="btn-u btn-u-default" ng-click="goback()">返回</button>
            </div>
        </div>
    </div>
</div>