<div class="row">
    <div class="profile-body">
        <div class="panel panel-profile">
            <div class="panel-heading overflow-h">
                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-question-circle color-ffb"></i>问题描述</h2>
                <a ui-sref="customer.myquestions"><i class="fa fa-chevron-circle-left pull-right"></i></a>
                <div class="hr"></div>
            </div>
            <div class="panel-body margin-bottom-20">
                <div class="row media-body ques">
                    <div class="col-md-4">
                        <dl class="dl-horizontal ques">
                            <dt><i class="fa fa-barcode"></i> 问题编号:</dt>
                            <dd>{{data.messageNumber}}</dd><br/>
                            <dt><i class="fa fa-clock-o"></i> 生成日期:</dt>
                            <dd>{{data.indate|date:'MM/dd/yyyy HH:mm:ss'}}</dd><br/>
                            <dt><i class="fa fa-barcode"></i> 运单号码:</dt>
                            <dd>
                                {{data.receiveTrackingNumber}}
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal ques">
                            <dt><i class="fa fa-cube"></i> 当前状态:</dt>
                            <dd>{{data.status}}
                                <span class="label label-info" ng-if="data.status==0">处理中</span>
                                <span class="label label-info" ng-if="data.status==1">已处理</span>
                            </dd><br/>
                            <dt><i class="fa fa-map-marker"></i> 收货仓库:</dt>
                            <dd>
                                <span ng-repeat="warehouseItem in questionWarehouses" ng-if="warehouseItem.warehouseNumber==data.receivedWarehouseNumber">
                                    {{warehouseItem.warehouseName}}
                                </span>
                            </dd><br/>
                            <dt><i class="fa fa-barcode"></i> 发货单号:</dt>
                            <dd>
                                {{data.deliveryTrackingNumber}}
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal ques">
                          <dt><i class="fa fa-reorder"></i> 问题类别:</dt>
                          <dd>
                              <span ng-repeat="questionCategoryItem in questionCatgories" ng-if="questionCategoryItem.typeID==data.messageType">
                                  {{questionCategoryItem.typeName}}
                              </span>
                          </dd><br/>
                          <dt><i class="fa fa-cube"></i> 订单编号:</dt>
                          <dd>{{data.SONumber}}</dd>
                        </dl>
                    </div>
                </div>
                <div class="media media-v2 margin-bottom-20">
                    <div class="media-body">
                        <div class="header-icon">
                          <img src="../../assets/img/dashbard/icon-user.png" />
                        </div>
                        <div class="b-txt">
                          <h4>您的问题描述</h4>
                          <p>{{data.message}}</p>
                        </div>
                        <div class="messages">
                          <div class="msg-item" ng-repeat="replyMessageItem in data.messageLogs">
                            <div class="header-icon">
                              <img src="../../assets/img/dashbard/icon-user.png" />
                            </div>
                            <div class="b-txt">
                              <h4 class="media-heading">
                                  <strong>
                                      <span ng-if="replyMessageItem.operationUserName && replyMessageItem.operationUserName!=currentUser.userName" class="text-success">客服[{{replyMessageItem.operationUserName}}]</span>
                                      <span ng-if="replyMessageItem.operationUserName==currentUser.userName || !replyMessageItem.operationUserName" class="text-warning">*您*</span>
                                  </strong>
                                  <small>{{replyMessageItem.operationDate|date:'yyyy/MM/dd HH:mm:ss'}}</small>
                              </h4>
                              <p>
                                  {{replyMessageItem.message}}
                              </p>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                          <div class="msg-submit">
                            <input name="message" id="message" ng-model="data.questionMessage" />
                            <button type="button" class="btn-u bg-color-ffb" ng-click="submitMessage();">发表</button>
                          </div>
                        </div>
                        <div class="pull-right op-row">
                          <a ui-sref="customer.myquestions" class="btn-u bg-color-ffb"><i class="fa fa-question-circle"> 我的问题</i></a>
                          <button type="button" class="btn-u btn-u-default" ng-click="goback()">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
