<div ng-controller="MyFinanceController">
      <div class="my-balance">
        <div class="common-title">
          <h2>
            资费与服务
          </h2>
        </div>
        <div class="service-content">
            <div class="table-search-v1">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" style="margin-bottom:0px">
                            <thead>
                                <tr>
                                    <th>渠道名称</th>
                                    <th>首磅¥</th>
                                    <th>续磅¥</th>
                                    <th>服务说明</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>A</td>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>母婴生活食品保健类用品，限重6磅。</td>
                                </tr>
                                <tr>
                                    <td>B</td>
                                    <td>28</td>
                                    <td>28</td>
                                    <td>普通衣服鞋帽围巾，限重6磅。</td>
                                </tr>
                                <tr>
                                    <td>C</td>
                                    <td>40</td>
                                    <td>40</td>
                                    <td>二线品牌箱包专用渠道，限重6磅。</td>
                                </tr>
                                <tr>
                                    <td>D</td>
                                    <td>40</td>
                                    <td>40</td>
                                    <td>普通化妆品渠道，限重2磅。</td>
                                </tr>
                                <tr>
                                    <td>E</td>
                                    <td>40</td>
                                    <td>40</td>
                                    <td>一般电子产品，限重6磅。</td>
                                </tr>
                                <tr>
                                    <td>F</td>
                                    <td>26</td>
                                    <td>26</td>
                                    <td>奶粉专用渠道，限重6磅。</td>
                                </tr>
                                <tr>
                                    <td>G</td>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>大包裹转运渠道，限重50磅。</td>
                                </tr>
                                <tr>
                                    <td>H</td>
                                    <td>50</td>
                                    <td>50</td>
                                    <td>奢侈品专用渠道，限重6磅。</td>
                                </tr>
                                <tr>
                                    <td>USPS</td>
                                    <td>70</td>
                                    <td>30</td>
                                    <td>美国邮政官方渠道，限重50磅。</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    