
<div class="widget widget-table" ng-controller="IdAuthTwCtrl">
    <div class="widget-header">  
        <h3><i class="fa fa-table"></i> 身份认证 </h3>
    </div>
    <div class="widget-content">
        <div class="row">
            <div class="col-sm-12 search-bar">
                <div class="search-col">
                    <label class="search-label">验证状态：</label>
                    <select class="form-control search-control" ng-model="searchBar.verifyMark">
                        <option value="">全部</option>
                        <option value="1">验证通过</option>
                        <option value="0">未验证</option>
                        <option value="-1">验证失败</option>
                    </select>
                </div>

                <div class="search-col">
                    <label class="search-label">上传开始日期：</label>
                    <p class="input-group">
                        <input type="text" class="form-control search-control" style="width:110px;" uib-datepicker-popup ng-model="searchBar.startDate"
                            is-open="searchBar.opened.startDate" show-button-bar="false" ng-click="searchBar.opened.startDate = true"
                        />
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="searchBar.opened.startDate = true"><i class="fa fa-calendar"></i></button>
                            </span>
                    </p>
                </div>
                <div class="search-col">
                    <label class="search-label">上传结束日期：</label>
                    <p class="input-group">
                        <input type="text" class="form-control search-control" style="width:110px;" uib-datepicker-popup ng-model="searchBar.endDate"
                            is-open="searchBar.opened.endDate" show-button-bar="false" ng-click="searchBar.opened.endDate = true"
                        />
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="searchBar.opened.endDate = true"><i class="fa fa-calendar"></i></button>
                            </span>
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="search-col">
                    <label class="search-label">搜索条目：</label>
                    <select class="form-control search-control" ng-model="searchBar.keywordType">
                        <!--<option value="customerNumber">客户编号</option>-->
                        <option value="receivePersonName">收货人姓名</option>
                        <option value="cellphoneNumber">手机号码</option>
                        <option value="idCard">身份证号</option>
                        <option value="twOrder">淘宝订单号</option>  
                    </select>
                    <textarea type="text" class="form-control search-control" style="margin-left:5px; width:430px;" placeholder="请输入查询关键字" ng-model="searchBar.keywords"></textarea>
                    <button type="button" class="btn btn-primary" style="margin-left:5px;" ng-click="btnSearch()">搜索</button>
                    <a class="btn btn-primary" style="margin-left:5px;" href="{{api}}/exportReceiveaddressListTw?{{searchBar.keywordType}}={{searchBar.keywords}}">导出</a>
                    <button type="button" class="btn btn-primary" style="margin-left:5px;" ng-click="btnDownload()">批量下载图片</button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <div>
                    <th>序号</th>
                    <!--<th>客户编号</th>-->
                    <th>收货人姓名</th>
                    <th>淘宝订单号</th>
                    <th>手机号码</th>
                    <th>身份证号</th>
                    <th>上传时间</th>
                    <th>正面照</th>
                    <th>反面照</th>
                    <th>验证状态</th>
                    <th>操作</th>
                    <!--<th>备注</th>-->
                    </tr>
            </thead>
            <tbody>
                <tr ng-if="dataList.length == 0">
                    <td colspan="13">没有数据，请选择条件进行搜索。</td>
                </tr>

                <tr ng-if="dataList.length > 0" ng-repeat="item in dataList track by $index">
                    <td>{{item.rownumber}}</td>
                    <!--<td><a href="javascript:void(0);" ng-click="btnOpenDetail('customer',item)">{{item.customerNumber}}</a></td>-->
                    <td>{{item.receivePersonName}}</td>
                    <td>{{item.twOrder}}</td>
                    <td>{{item.cellphoneNumber}}</td>
                    <td>
                        <span>{{item.idCard}}</span>
                    </td>
                    <td>{{item.lastEditDate | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                    <td>
                        <div class="image-div">
                            <a href="{{item.idCardFrontUrl}}" target="_blank"> <img class="idCardImage" ng-src="{{item.idCardFrontUrl}}"/></a>
                        </div>
                    </td>
                    <td>
                        <div class="image-div">
                            <a href="{{item.idCardBackUrl}}" target="_blank"> <img class="idCardImage" ng-src="{{item.idCardBackUrl}}"/></a>
                        </div>
                    </td>
                    <td ng-class="{'alert-danger': item.verifyMark == 0}">{{item._verifyMark}}</td>
                    <td>   
                        <a href="javascript:void(0);" class="role" data-role="30"  ng-click="btnOpenDetail('address',item)">修改</a>
                        <!--<a href="javascript:void(0);" class="role" data-role="30" ng-show="item.verifyMark != 0" ng-click="btnVerificationCancle(item, $index)">取消验证</a>-->
                    </td>
                    <!--<td><a ng-show="item.verifyMark == -1" ng-click="btnVerification(item, $index,0)"> {{item.idRemark}}</a></td>-->
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-12 text-right">
                <uib-pagination class="pagination pagination-rewrite pull-right" boundary-links="true" max-size="5" total-items="pagination.totalCount"
                    items-per-page="pagination.pageSize" ng-model="pagination.pageIndex" ng-change="getData()" previous-text="上一页"
                    next-text="下一页" first-text="首页" last-text="尾页">
                </uib-pagination>
                <select class="form-control pull-right" style="width:70px;" ng-model="pagination.pageSize" ng-change="getData()">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
        </div>
    </div>
    <!--指令-->
    <print-idcard></print-idcard>
    <print-idcard-img></print-idcard-img>


    <script type="text/html" id="tplValidate_approval_form">
        <form class="form-horizontal" role="form">
            <fieldset>
                <legend>验证</legend>

                <div class="form-group">
                    <label class="col-sm-3 control-label text-right">验证方式:</label>
                    <div class="col-sm-5 text-left">
                        <label><input type="radio" name="validateType" id="validateType" value=1  ng-model="validateType" >验证通过</label>                        &nbsp;
                        <label><input type="radio"  name="validateType" id="validateType" value=0  ng-model="validateType" >验证失败</label>
                    </div>
                </div>
                <div class="form-group" ng-show="validateType==0">
                    <label class="col-sm-3 control-label text-right">备注：</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" ng-model="idRemark"></textarea>
                        <code>{{idRemarkError}}</code>
                    </div>
                </div>
            </fieldset>
            <div class="form-group text-center">
                <button type="button" class="btn btn-primary" ng-click="btnApprove($event)">确定</button>
                <button type="button" class="btn btn-default" ng-click="btnCancel($event)">取消</button>
            </div>
        </form>
    </script>

    <script type="text/javascript">

    </script>