<div ng-controller="MainController">
    <img class="index-banner" src="../assets/img/channelintro/channelintro.jpg" />
  <!--=== Content Part ===-->
  <div class="container content">
        <div class="row embargo-title">
            <div>渠道说明</div>
            <div class="title-icon">
                <img src="../assets/img/jinyun/icon-zy.png" />
            </div>
        </div>
        <div class="channelintro-tab">
            <div class="table-search-v1">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" style="margin-bottom:0px">
                        <thead>
                            <tr>
                                <th class="text-center" style="max-width:50px">渠道</th>
                                <!-- <th style="min-width:100px">商品类别</th> -->
                                <th class="text-center" style="width:500px">服务描述</th>
                                <th class="text-center" style="width:250px">物品要求</th>
                                <th class="text-center hidden-sm" style="max-width:50px;">关税</th>
                                <th class="text-center" style="width:50px">限重</th>
                                <th class="text-center" >身份证</th>
                                <th class="text-center" style="min-width:50px">首重</th>
                                <th class="text-center" style="min-width:50px">续重</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="shipChannelItem in shipChannelsInsuse">
                                <td class="item-center">{{shipChannelItem.shipServiceName}}</td>
                                <td class="td-width">                                   　
                                    <small>
                                        <div bind-html-unsafe="shipChannelItem.serviceSummary"></div>
                                    </small>
                                </td>
                                <td><small>{{shipChannelItem.serviceDetail}}</small></td>
                                <td class="item-center">
                                    <span ng-show="shipChannelItem.taxIncluded == '1'">包税</span>
                                    <span ng-show="shipChannelItem.taxIncluded == '0'">不包税</span>
                                     <!-- <span ng-show="shipChannelItem.surcharge_overBaseRate > 0">{{shipChannelItem.surcharge_overBaseRate}}%清关费用</span> -->
                                    
                                </td>
                                <td class="item-center">{{shipChannelItem.maxWeight}}磅</td>
                                <td class="item-center">
                                    <span ng-show="shipChannelItem.needIDCard == '1'">需要身份证</span>
                                    <span ng-show="shipChannelItem.needIDCard == '0'">无需身份证</span>
                                </td>
                                <td class="item-center">
                                    {{shipChannelItem.firstWeight}} ¥
                                </td>
                                <td class="item-center">
                                   {{shipChannelItem.continuedWeight}}/磅
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row embargo-title">
            <div>增值服务</div>
            <div class="title-icon">
                <img src="../assets/img/jinyun/icon-zy.png" />
            </div>
        </div>
        <div class="addsrvice-tab">
            <div class="table-search-v1">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" style="margin-bottom:0px">
                        <thead>
                            <tr>
                                <th style="width:150px">增值服务</th>
                                <th style="width:300px">价位(¥)</th>
                                <th>服务介绍</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>取出发票</td>
                                <td style="color:#12ca06">免费</td>
                                <td>方便代购，不让客户了解价格</td>
                            </tr>
                            <tr>
                                <td >去鞋盒/包装</td>
                                <td style="color:#12ca06">免费</td>
                                <td >减少运输重量</td>
                            </tr>
                            <tr>
                                <td >合箱服务</td>
                                <td style="color:#12ca06">免费</td>
                                <td >多个包裹合成一箱</td>
                            </tr>
                            <tr>
                                <td >分箱服务</td>
                                <td style="color:#12ca06">免费</td>
                                <td >把一个包裹分成多个包裹</td>
                            </tr>
                            <tr>
                                <td >弃货服务</td>
                                <td style="color:#12ca06">免费</td>
                                <td >将商品或包裹丢弃</td>
                            </tr>
                            <tr>
                                <td >自提服务</td>
                                <td style="color:#12ca06">免费</td>
                                <td >从仓库取走您从网上下单的包裹</td>
                            </tr>
                            <tr>
                                <td >退货服务</td>
                                <td class="text-strong">20/次</td>
                                <td >将包裹退回购物网站或其他地方</td>
                            </tr>
                            <tr>
                                <td >加套外箱</td>
                                <td class="text-strong">20/箱</td>
                                <td >在原外箱的基础上进行加固</td>
                            </tr>
                            <tr>
                                <td >仓储服务</td>
                                <td><label style="color:#12ca06">免费</label>(60天之后3¥/天，365天后弃货处理)</td>
                                <td >包裹入库后，没有提出出库，也没有自提</td>
                            </tr>
                            <tr>
                                <td >请点拍照</td>
                                <td class="text-strong">20</td>
                                <td >对包裹内物品进行清点并拍照</td>
                            </tr>
                            <tr>
                                <td >复秤服务</td>
                                <td class="text-strong">10/件</td>
                                <td >核实包裹重量，并拍照回复客户</td>
                            </tr>
                            <tr>
                                <td >内件加固</td>
                                <td class="text-strong">3</td>
                                <td >对包裹内商品用防震气泡进行加固服务</td>
                            </tr>
                            <tr>
                                <td >保险</td>
                                <td class="text-strong">5%</td>
                                <td >在商品丢失后，按保额进行赔偿，保险为保额的5%</td>
                            </tr>
                            <tr>
                                <td >退款费</td>
                                <td class="text-strong">20</td>
                                <td >将顾客在系统上的余额退款给顾客(手续费20元，最大余额120元)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div><!--/container-->
  <!--=== End Content Part ===-->
  </div>
  <script type="text/javascript">
    $('.faq-title').on('click', function() {
      var nextCont = $(this).nextAll('.faq-content');
      $('.faq-content').not(nextCont).hide();
      nextCont.toggle();
    })
  </script>
  