<div>
  <img class="index-banner" src="../assets/img/jinyun/jy-banner.png" />
</div>
<div class="container content">
  <div class="row embargo-title">
    <div>转运说明</div>
    <div class="title-icon">
      <img src="../assets/img/jinyun/icon-zy.png" />
    </div>
  </div>
  <div class="row embargo-row">
    <div class="col-md-3 col-xs-12 col-sm-6">
      <img src="../assets/img/jinyun/icon-nf.png" />
      <div class="embargo-item">
        <strong clas="embargo-item-title">奶粉</strong>
        <p>勿与其他杂物一起装箱，否则会延误邮寄时间，后续开分箱处理需支付相应操作的费用。 <br/>0-765g≤3罐 <br/>765g-1080g≤2罐<br/>1080g以上<=1罐</p>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6">
      <img src="../assets/img/jinyun/icon-sb.png" />
      <div class="embargo-item">
        <div clas="embargo-item-title">手表</div>
        <p>每箱包裹中的手表货物不能超过2只。  <br/><br/>转运数量：≤2件</p>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6">
      <img src="../assets/img/jinyun/icon-xjd.png" />
      <div class="embargo-item">
        <div clas="embargo-item-title">小家电</div>
        <p>电动剃须刀和电动牙刷不能写剃须刀和牙刷，必须要全称.  <br/><br/>转运数量：≤2件</p>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6">
      <img src="../assets/img/jinyun/icon-bb.png" />
      <div class="embargo-item">
        <div clas="embargo-item-title">包包</div>
        <p>大包，中包，小包，手包，背包，钱包，布袋。  <br/>转运数量：≤2件 <br/>包裹数量：≤2件 <br/>包裹数量：≤2件</p>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6">
      <img src="../assets/img/jinyun/icon-xz.png" />
      <div class="embargo-item">
        <div clas="embargo-item-title">鞋子</div>
        <p>每箱包裹中的鞋子数量不能超过3双。  <br/><br/>转运数量：≤3双</p>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6">
      <img src="../assets/img/jinyun/icon-hzp.png" />
      <div class="embargo-item">
        <div clas="embargo-item-title">化妆品</div>
        <p>单一化妆品或润肤品的包裹不能超过4磅。  <br/><br/>转运数量：≤4磅</p>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6">
      <img src="../assets/img/jinyun/icon-ldc.png" />
      <div class="embargo-item">
        <div clas="embargo-item-title">锂电池产品 </div>
        <p>含锂电池，锂电子产品，必须如实申报，因未如实申报被海关扣查，所造成罚款全部由客户承担。</p>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6">
      <img src="../assets/img/jinyun/icon-qt.png" />
      <div class="embargo-item">
        <div clas="embargo-item-title">其它物品</div>
        <p>其他物品相关说明 最终解释权归cul所有</p>
      </div>
    </div>
  </div>
  <div class="row embargo-title">
    <div>禁运说明</div>
    <div class="title-icon">
      <img src="../assets/img/jinyun/icon-jy.png" />
    </div>
  </div>
  <div class="row embargo-row">
    <div class="col-md-3 col-xs-6 col-sm-6">
      <img src="../assets/img/jinyun/icon-yryb.png" />
      <div class="embargo-item embargo-sm-item">
        <strong clas="embargo-item-title">易燃易爆类</strong>
        <p>指甲油、香水、香薰、打火机、压力铝罐包装物。</p>
      </div>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-6">
      <img src="../assets/img/jinyun/icon-dwbb.png" />
      <div class="embargo-item embargo-sm-item">
        <div clas="embargo-item-title">动植物标本类</div>
        <p>动物头骨、标本、兽皮等。 </p>
      </div>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-6">
      <img src="../assets/img/jinyun/icon-wqdj.png" />
      <div class="embargo-item embargo-sm-item">
        <div clas="embargo-item-title">武器刀具类</div>
        <p>瞄准镜、枪管、匕首、弓箭、仿真武器模型等。</p>
      </div>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-6">
      <img src="../assets/img/jinyun/icon-yxzp.png" />
      <div class="embargo-item embargo-sm-item">
        <div clas="embargo-item-title">音像制品</div>
        <p>音像制品、CD光盘、书籍、文物古玩、国家货币。</p>
      </div>
    </div>
  </div>
  <div class="row embargo-scend-title">
    <div>易腐蚀品、医疗用品、毒品、军火、贵重金银首饰、钻石、等海关明文规定禁运物品。</div>
  </div>
</div>
