<link rel="stylesheet" href="assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="assets/css/pages/profile.css">
<link rel="stylesheet" href="assets/css/pages/shortcode_timeline2.css">

<div class="container content">
    <div class="row">
        <div class="headline"><h2>使用流程</h2></div>
        <!--=== Profile ===-->
        <div class="container content profile">
            <div>
                <!-- Profile Content -->
                <div>
                    <div>
                        <!--Timeline-->
                        <ul class="timeline-v2">
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>第1步</span> <span>网站注册</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    <h2>免费网站注册</h2>
                                    <div class="row">
                                        <!--<div class="col-md-4">
                                            <img class="img-responsive" src="../images/howtouse/step1.jpg" alt="">
                                            <div class="md-margin-bottom-20"></div>
                                        </div>-->
                                        <div class="col-md-12">
                                            <p>
                                                <ul class="list-unstyled">
                                                    <li><i class="fa fa-check color-green"></i> 填写注册ID:3~15字符</li>
                                                    <li><i class="fa fa-check color-green"></i> 密码设置:英文、符号或数字,长度6-20位</li>
                                                    <li><i class="fa fa-check color-green"></i> 信箱: 请保证真实有效,需接收验证信息</li>
                                                    <li><i class="fa fa-check color-green"></i> 推荐人ID:用于双方得到推荐奖励</li>
                                                </ul>
                                            </p>
                                            <p><i class="fa fa-desktop color-green"></i> 注册完成后登录</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>第2步</span> <span>完善资料</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    <h2>在个人资料和收货地址完善资料</h2>
                                    <p>填写个人信息和联系方式.</p>
                                </div>
                            </li>
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>第3步</span> <span>收货地址</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    <h2>获取收货地址</h2>
                                    <p>填写完个人资料后,用户中心就会显示你的美国收货地址,一个是在加州(CA),一个在免税州特拉华（DE）.发到加州仓库的各种食品,奶粉无美国购物消费税.请大家在购物网站下单时一定记得写上姓后面您专属的4个字母收件标示和单元号,单元号可以写在第一行地址后面也可以写在地址第二行；发到DE免税州的各种包裹无美国消费税,直发中国</p>
                                </div>
                            </li>
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>第4步</span> <span>网站下单</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    <h2>网站下单</h2>
                                    <p>去购物网站按照用户中心里的地址填写收货地址: 在网上购物的时候,一定记得写上系统给您分配,由4个字母组成的识别码,地址后面也要加上单元号.以防止在没有做货物预告或者包裹面单破损的情况下, 我们仓库收到包裹会根据客人的识别码和单元号确认客人信息号.</p>
                                </div>
                            </li>
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>第5步</span> <span>货物预报</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    <h2>货物预报</h2>
                                    <p>网站发货后,会发送一封有tracking number的发货确认信(不是订单确定信),一般是下订单以后的1-2天后会发出,收到这封信以后,登录www.culexpress.com,点击货物预报,选择美国网站的发货快递公司名(购物网站的发货信里会标出),填写你的运单号码,里面的物品大致内容.方便记录和管理.</p>
                                    <p>以CA仓库举例,快递名称选择相对应购物网站发出包裹选择的快递公司,运单号码一般建议手动输入,运单内容大致填写,PS：写得过多可能会导致系统无法显示.提交信息后,你可以在“预报信息”里看到你提交的包裹信息:</p>
                                    <p>包裹到达我们的仓库以后,我们会在1-3工作日内将您的包裹入库.库存信息里会更新这单包裹.包裹状态会是“已入库”.您登录culexpress.com网站会弹出窗口提示您有包裹入库.</p>
                                </div>
                            </li>
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>第6步</span> <span>提交订单</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    <h2>提交订单</h2>
                                    <p>包裹入库后,你可以在库存信息里,选择你要发出的包裹,如果要发出多个包裹,就一起选中,提交订单.</p>
                                    <p>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> 选择您的发货渠道</li>
                                            <li><i class="fa fa-check color-green"></i> 选择分（合）箱个数和发货地址.（即发出包裹数）</li>
                                            <li><i class="fa fa-check color-green"></i> 填写货物信息</li>
                                        </ul>
                                    </p>

                                    <div class="margin-bottom-20"></div>

                                    <!--<div class="row">
                                        <div class="col-md-4 col-xs-6">
                                            <img class="img-responsive md-margin-bottom-10" src="assets/img/main/img3.jpg" alt="">
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <img class="img-responsive md-margin-bottom-10" src="assets/img/main/img9.jpg" alt="">
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <img class="img-responsive md-margin-bottom-10" src="assets/img/main/img4.jpg" alt="">
                                        </div>
                                    </div>-->
                                </div>
                            </li>
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>第7步</span> <span>订单处理</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    <h2>订单处理</h2>
                                    <p>提交订单后,如果选择是的小包裹渠道.
请点击’支付订单’按钮预支付订单,先按入库重量支付运费,这不一定是最终的包裹运费,在我们处理您的包裹以后,会结算出最终的运费,如果少于您预付的运费,我们会将余额转入您的账户里.如果实际要发出的包裹运费超出了你的预付金额.我们系统会有更新,同时发送Email通知你补足尾款.</p>
                                    <p>如果选择的是大包裹渠道.
请点击’支付订单’按钮预支付订单,先按入库重量支付运费,这不一定是最终的包裹运费,在我们处理您的包裹以后,会结算出最终的运费,如果少于您预付的运费,我们会将余额转入您的账户里.如果实际要发出的包裹运费超出了你的预付金额.我们系统会有更新,同时发送Email通知你补足尾款.处理订单的时间是1-2个工作日.请大家多多谅解.</p>

                                    <div class="margin-bottom-20"></div>

                                    <!--<div class="row">
                                        <div class="col-md-4 col-xs-6">
                                            <img class="img-responsive md-margin-bottom-10" src="assets/img/main/img3.jpg" alt="">
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <img class="img-responsive md-margin-bottom-10" src="assets/img/main/img9.jpg" alt="">
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <img class="img-responsive md-margin-bottom-10" src="assets/img/main/img4.jpg" alt="">
                                        </div>
                                    </div>-->
                                </div>
                            </li>
                        </ul>
                        <!--End Timeline-->
                    </div>
                </div>
                <!-- End Profile Content -->
            </div>
        </div><!--/container-->
        <!--=== End Profile ===-->
    </div>
</div>