<link rel="stylesheet" href="assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="assets/css/pages/profile.css">
<link rel="stylesheet" href="assets/css/pages/shortcode_timeline2.css">
<div>
  <img class="index-banner" src="../assets/img/howtouse/image_banner.jpg" />
</div>
<div class="container content howuse">
    <div class="row">
      <div class="left-col hidden-xs hidden-sm">
        <img class="imac" src="../assets/img/howtouse/mac.png" />
      </div>
      <div class="right-col step-one">
        <h2 class="title"><span>01.免费网站</span>注册</h2>
        <ul class="font-item">
          <li class="step-user">填写注册ID：3~15字符</li>
          <li class="step-pwd">密码设置：英文、符号或数字，长度6-20位。  </li>
          <li class="step-email">信箱：请保证真实有效，需接收验证信息。</li>
          <li class="step-tuser">推荐人ID：用于双方得到奖励</li>
        </ul>
        <button class="btn-register" onclick="window.location.href='../#/register/'">立即注册</button>
      </div>
    </div>
    <div class="row step-two">
      <div class="left-col">
        <h2 class="title"><span>02.完善资料</span></h2>
        <p class="info first-info">在<span>个人资料</span>和<span>收货地址</span>完善资料</p>
        <p class="info">填写个人信息和联系方式</p>
      </div>
      <div class="right-col hidden-xs hidden-sm">
        <img src="../assets/img/howtouse/icon-2-user.png" />
        <img src="../assets/img/howtouse/icon-2-location.png" />
        <img src="../assets/img/howtouse/icon-2-edit.png" />
      </div>
    </div>
</div>
<div class="content howuse step-three">
  <div class="container">
    <div class="row">
      <div class="left-col">
        <h2 class="title"><span>03.获取</span>专属收货地址</h2>
        <p class="info first-info">填写完个人资料后</p>
        <p class="info">用户中心会显示您的美国收货地址</p>
        <p class="info">一个在加州（CA）一个在特拉华（DE）</p>
        <p>
          <span class="card">CA</span>
          <span class="card">DE</span>
        </p>
        <div class="m-info">
          <div class="info-content">
            <p class="info">食品类无消费税</p>
            <p class="info">其他物品有消费税</p>
            <p class="info" style="margin-top:10px;">直发中国</p>
          </div>
          <div class="info-img">
            <img src="../assets/img/howtouse/icon-3-free.png" />
            <img src="../assets/img/howtouse/icon-3-flight.png" />
          </div>
        </div>
        <div class="m-info">
          <div class="info-content">
            <p class="info">无美国消费税 </p>
            <p class="info">下单时填写姓名后面 </p>
            <p class="info">4个专属字母做收件</p>
            <p class="info">识别和单元号</p>
          </div>
          <div class="info-img">
            <img src="../assets/img/howtouse/icon-3-free.png" />
            <img src="../assets/img/howtouse/icon-3-flight.png" />
          </div>
        </div>
      </div>
      <div class="right-col hidden-xs hidden-sm">
        <img src="../assets/img/howtouse/image_05.png" />
      </div>
    </div>
  </div>
</div>
<div class="container content howuse step-four">
    <div class="row">
      <div class="left-col hidden-xs hidden-sm">
        <img src="../assets/img/howtouse/image_09.png" />
      </div>
      <div class="right-col">
        <h2 class="title"><span>04.购物网站</span>下单</h2>
        <ul class="font-item">
          <li class="step-dui">按用户中心里的地址 正确填写收货地址</li>
          <li class="step-dui">写上系统给您分配的由4个字母组成的客户标示</li>
          <li class="step-dui">收货地址后缀加上客户编号 由2个字母和3个数字组成</li>
          <li class="step-dui">提交订单 下单即可</li>
        </ul>
        <p class="remark">
          地址后面务必加上客户编号，和标示号，以防止包裹面单快递单号破损的情况下，仓库收到包裹会根据客户编号和标示号来确认客户的信息。
        </p>
      </div>
    </div>
</div>
<div class="content howuse shen-bg">
  <div class="container">
    <div class="row step-five">
      <div class="left-col hidden-xs hidden-sm">
        <img src="../assets/img/howtouse/image_13.png" />
      </div>
      <div class="right-col">
        <h2 class="title"><span>05.货物</span>预报</h2>
        <ul class="font-item">
          <li class="step-dui">发货1-2天后美国网站一般都会发送一封包含Tracking number的发货确认邮件</li>
          <li class="step-dui">收到确认邮件后，请登录<span class="site-info">www.culexpress.com.</span>点击<span class="huo">货物预报</span></li>
          <li class="step-dui">选择美国网站的发货快递公司名</li>
          <li class="step-dui">填写对应的快递单号和具体品名</li>
          <li class="step-dui">提交信息，在“预报信息”里看到包裹信息</li>
          <li class="step-dui">等待1-3个工作日包裹入库， 登录CUL官网会提示包裹入库信息</li>
        </ul>
        <p class="remark">
          地址后面要加上单元号，以防止包裹免单破损的情况下 仓库收到包裹会根据客户的识别码和单元号确认客户信息号。
        </p>
      </div>
    </div>
    <div class="row step-six" style="margin-bottom: 50px;">
        <h2 class="title sp6"><span>06.提交</span>订单</h2>
        <div style="float:right">
          <ul class="font-item">
            <li class="step-dui">登录后台,添加收货地址</br>
              <i class="fa fa-info-circle"></i> <strong>标准渠道:</strong> 保存中文地址即可，需要填写收货人名和详细地址，点击保存</br>
              <i class="fa fa-info-circle"></i> <strong>身份证渠道:</strong> 需要保存身份证正面、反面图片以及对应的人名和身份证号码和中文地址信息，点击保存</br>
              <i class="fa fa-info-circle"></i> <strong>USPS美国邮政渠道:</strong> 需要保存英文地址 保证收货人名和收货地址全是英文，拼音即可，点击保存
            </li>
            <li class="step-dui">包裹显示入库后,您可以在预报信息中查看到已入库包裹的信息并且从已入库包裹中勾选要发出的包裹提交订单</br>
              <i class="fa fa-info-circle"></i> 如果有多个包裹需要一起发货 您可以随意选择多个需要合并的包裹并提交 目前最多合并包裹数量为10个</br>
              <i class="fa fa-info-circle"></i> 如果有包裹需要拆分发货 您可以选择一个或多个包裹 填写你要拆分发货的包裹数量 勾选上对应的发货地址即可提交</br>
            </li>
            <li class="step-dui">选择要发货包裹-选择您要发的发货渠道点击下一步</li>
            <li class="step-dui">选择收货地址和商品类别、商品品牌、商品描述、数量、单价等信息，点击下一步</li>
            <li class="step-dui">审核申报价值、填写积分、小费、增值服务等内容、审核订单详细内容 审核无误后，点击提交并支付订单，完成订单的提交</li>
          </ul>
        </div>
    </div>
  </div>
</div>
<div class="container-fluid step-six-fluid">
  <ul class="img-item">
    <li>
      <img src="../assets/img/howtouse/icon-6-1.png" />
      <span>选择发货渠道</span>
    </li>
    <li>
      <img src="../assets/img/howtouse/icon-6-2.png" />
      <span>填写出包裹数发货地址</span>
    </li>
    <li>
      <img src="../assets/img/howtouse/icon-6-3.png" />
      <span>填写货物信息</span>
    </li>
  </ul>
  <img class='bg-img' src="../assets/img/howtouse/image_19.jpg" />
</div>
<div class="container-fluid howuse step-seven">
  <img class="seven-icon-down" src="../assets/img/howtouse/icon-7-down.png" />
  <div class="container">
    <div class="row">
      <h2 class="title"><span>07.等待</span>您的包裹送到府</h2>
      <p class="seven-info">
        登录<span class="site-info">www.culexpress.com</span>官网输入CUL开头的单号,追踪和查询订单状态,系统会更新对应的国内单号或者配送信息等内容。
        如果有任何问题，请登录后台点击在线咨询，或者通过在线QQ客服和邮箱联系我们！</p><br/>
        <ul class="img-item">
          <li>
            <img src="../assets/img/howtouse/icon-7-1.png" />
            <p>支付订单<br/>预支付运费</p>
          </li>
          <li>
            <img src="../assets/img/howtouse/icon-7-2.png" />
            <p>按称重<br/>支付运费</p>
          </li>
          <li>
            <img src="../assets/img/howtouse/icon-7-3.png" />
            <p>称重包裹<br/>最终结算运费</p>
          </li>
        </ul>
    </div>
  </div>
</div>
