<link rel="stylesheet" href="assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="assets/css/pages/profile.css">
<link rel="stylesheet" href="assets/css/pages/shortcode_timeline2.css">
<div>
  <img class="index-banner" src="../assets/img/howtouse/image_banner.jpg" />
</div>
<div class="container content howuse">
    <div class="row">
      <div class="left-col hidden-xs hidden-sm">
        <img class="imac" src="../assets/img/howtouse/mac.png" />
      </div>
      <div class="right-col step-one">
        <h2 class="title"><span>01.免费网站</span>注册</h2>
        <ul class="font-item">
          <li class="step-user">填写注册ID：3~15字符</li>
          <li class="step-pwd">密码设置：英文、符号或数字，长度6-20位。  </li>
          <li class="step-email">信箱：请保证真实有效，需接收验证信息。</li>
          <li class="step-tuser">推荐人ID：用于双方得到奖励</li>
        </ul>
        <button class="btn-register">立即注册</button>
      </div>
    </div>
    <div class="row step-two">
      <div class="left-col">
        <h2 class="title"><span>02.完善资料</span></h2>
        <p class="info first-info">在<span>个人资料</span>和<span>收获地址</span>完善资料</p>
        <p class="info">填写个人信息和联系方式</p>
      </div>
      <div class="right-col hidden-xs hidden-sm">
        <img src="../assets/img/howtouse/icon-2-user.png" />
        <img src="../assets/img/howtouse/icon-2-location.png" />
        <img src="../assets/img/howtouse/icon-2-edit.png" />
      </div>
    </div>
</div>
<div class="content howuse step-three">
  <div class="container">
    <div class="row">
      <div class="left-col">
        <h2 class="title"><span>03.获取</span>收货地址</h2>
        <p class="info first-info">填写完个人资料后</p>
        <p class="info">用户中心会显示您的美国收货地址</p>
        <p class="info">一个在加州（CA）一个在特拉华（DE）</p>
        <p>
          <span class="card">CA</span>
          <span class="card">DE</span>
        </p>
        <div class="m-info">
          <p class="info">无美国消费税 <img src="../assets/img/howtouse/icon-3-free.png" /></p>
          <p class="info">直发中国 <img src="../assets/img/howtouse/icon-3-flight.png" /></p>
        </div>
        <div class="m-info">
          <p class="info">无美国消费税 <img src="../assets/img/howtouse/icon-3-free.png" /></p>
          <p class="info">下单时填写姓名后面 <img src="../assets/img/howtouse/icon-3-flight.png" /></p>
          <p class="info">4个专属字母做收件</p>
          <p class="info">识别和单元号</p>
        </div>
      </div>
      <div class="right-col hidden-xs hidden-sm">
        <img src="../assets/img/howtouse/image_05.png" />
      </div>
    </div>
  </div>
</div>
<div class="container content howuse step-four">
    <div class="row">
      <div class="left-col hidden-xs hidden-sm">
        <img src="../assets/img/howtouse/image_09.png" />
      </div>
      <div class="right-col">
        <h2 class="title"><span>04.购物网站</span>下单</h2>
        <ul class="font-item">
          <li class="step-dui">按用户中心里的地址填写收货地址</li>
          <li class="step-dui">写上系统给您分配</li>
          <li class="step-dui">由4个字谜组成的识别码</li>
          <li class="step-dui">地址后添加单元号</li>
        </ul>
        <p class="remark">
          地址后面要加上单元号，以防止包裹免单破损的情况下 仓库收到包裹会根据客户的识别码和单元号确认客户信息号。
        </p>
      </div>
    </div>
</div>
<div class="content howuse shen-bg">
  <div class="container">
    <div class="row step-five">
      <div class="left-col hidden-xs hidden-sm">
        <img src="../assets/img/howtouse/image_13.png" />
      </div>
      <div class="right-col">
        <h2 class="title"><span>05.货物</span>预报</h2>
        <ul class="font-item">
          <li class="step-dui">发货1-2天，Cul发送一封tracking number 的发货确认信 </li>
          <li class="step-dui">登陆<span class="site-info">www.culexpress.com.</span>点击<span class="huo">货物预报</span></li>
          <li class="step-dui">选择美国网站的发货快递公司名</li>
          <li class="step-dui">填写运单号码与大致物品内容</li>
          <li class="step-dui">提交信息，在“预报信息”里看到包裹信息</li>
          <li class="step-dui">1-3个工作日包裹入库，登录CUL会提示包裹入库</li>
        </ul>
        <p class="remark">
          地址后面要加上单元号，以防止包裹免单破损的情况下 仓库收到包裹会根据客户的识别码和单元号确认客户信息号。
        </p>
      </div>
    </div>
    <div class="row step-six" style="margin-bottom: 50px;">
        <h2 class="title">06<br/>提交订单</h2>
        <p>包裹入库后 您可在库存信息里选择要发出的包裹 <br/>如果发出多个包裹 就一起选中 提交订单</p>
    </div>
  </div>
</div>
<div class="container-fluid step-six-fluid">
  <ul class="img-item">
    <li>
      <img src="../assets/img/howtouse/icon-6-1.png" />
      <span>选择发货渠道</span>
    </li>
    <li>
      <img src="../assets/img/howtouse/icon-6-2.png" />
      <span>填写出包裹数发货地址</span>
    </li>
    <li>
      <img src="../assets/img/howtouse/icon-6-3.png" />
      <span>填写货物信息</span>
    </li>
  </ul>
  <img class='bg-img' src="../assets/img/howtouse/image_19.jpg" />
</div>
<div class="container-fluid howuse step-seven">
  <img class="seven-icon-down" src="../assets/img/howtouse/icon-7-down.png" />
  <div class="container">
    <div class="row">
      <h2 class="title">07<br/>订单处理</h2>
      <p class="seven-info">
        我们处理您的包裹以后，会结算出最终的运费，如果少于您预付的运费，我们会将余额转回您的账户
        如果实际运费超出预付金额，系统会更新运费，同时发送E-mail通知您补足尾款</p><br/>
        <ul class="img-item">
          <li>
            <img src="../assets/img/howtouse/icon-7-1.png" />
            <p>支付订单<br/>预支付运费</p>
          </li>
          <li>
            <img src="../assets/img/howtouse/icon-7-2.png" />
            <p>按称重<br/>支付运费</p>
          </li>
          <li>
            <img src="../assets/img/howtouse/icon-7-3.png" />
            <p>称重包裹<br/>最终结算运费</p>
          </li>
        </ul>
    </div>
  </div>
</div>
