<!--=== Job Description ===-->
<div class="job-description">
    <div class="container content">
            <div class="headline"><h2>招贤纳士</h2></div>
            <p>culexpress.com 热忱欢迎有活力、有责任心、有梦想的人才加入.</p>

            <hr>
        
            <h2>客服代表</h2>
            <p>岗位描述:</p>
            <ul class="list-unstyled">
                <li><i class="color-green fa fa-check"></i> 接听服务热线电话，运用聊天软件，受理客户咨询、投诉、技术支持等服务项目</li>
                <li><i class="color-green fa fa-check"></i> 运用个人服务技巧、服务意识提升客户满意度，维护公司品牌与企业形象</li>
                <li><i class="color-green fa fa-check"></i> 严格按照公司管理模式、工作流程标准开展工作，确保良好的服务状态，工作顺畅高效</li>
            </ul>

            <p>任职要求:</p>
            <ul class="list-unstyled">
                <li><i class="color-green fa fa-check"></i> 大专以上学历，计算机相关专业</li>
                <li><i class="color-green fa fa-check"></i> 普通话标准、声音甜美、口齿伶俐</li>
                <li><i class="color-green fa fa-check"></i> 计算机操作熟练，熟练使用office 办公软件，打字速度至少50字/分钟</li>
                <li><i class="color-green fa fa-check"></i> 较强的责任心；具备敏捷的反应能力，良好的倾听、理解、表达能力及服务意识；做事细致耐心，个人学习、自律能力强；良好的团队精神，能较快的适应工作环境；心理承受能力强，可在较大的工作、学习压力下优异的完成工作任务</li>
                <li><i class="color-green fa fa-check"></i> 有同类客户服务工作经验者优先，有网络推广营销经验者优先</li>
                <li><i class="color-green fa fa-check"></i> 熟悉海淘、有丰富的海淘经验者优先</li>
                <li><i class="color-green fa fa-check"></i> 工作地区：上海</li>
            </ul>

            <hr>

            <h2>网站美工，网站平面设计师</h2>
            <p>任职要求:</p>
            <ul class="list-unstyled">
                <li><i class="color-green fa fa-check"></i> 熟练使用网页设计dreamweaver,flash,photoshop等网页设计软件，并能结合平面设计软件设计、制作与维护商业、企业网站</li>
                <li><i class="color-green fa fa-check"></i> 熟练使用div+css</li>
                <li><i class="color-green fa fa-check"></i> 善于沟通、性格开朗、合作能力强</li>
            </ul>
        
            <hr>
        
            <p>简历发送至job@culexpress.com</p>
            <p>发送简历注意事项：请在邮件标题注明应聘岗位， 如“应聘客服代表 姓名XXX”的字样，否则简历将不予处理。 例：应聘客服代表 您的简历在我们收到后，会马上进行筛选，并根据岗位人员变动，实时招聘。请您耐心的等待</p>
        </div>
        <!-- End Left Inner -->
    </div>
</div>
<!--=== End Job Description ===-->