<!--=== Job Description ===-->
<div class="job-description">
    <div class="container content">
        <div class="headline"><h2>News 最新信息</h2></div>
        
		<div class="inner-results">
			<h3>OR俄勒冈仓库暂停收货通知</h3>
			<p>亲爱的客户:</br>
				</br>
				为了给大家更好的服务质量，CUL OR 俄勒冈仓库于2017年1月起暂停收货，已经发往OR仓库的包裹我们将会继续收货45天，请大家放心。</br>
				请大家以后将包裹发往CA加州仓库和 DE特拉华免税仓库，CA仓库和DE仓库正常收货发货一切照旧，会带给大家更好的服务，和更好的速度，请大家拭目以待。</br>
				</br>
				祝愿大家新年愉快!</br>
			</p>
			<ul class="list-inline down-ul">
				<li>2017-01-30</li>
				<li>CUL Express运营团队</li>
			</ul>
		</div>
		<!-- Begin Inner Results -->

		<hr>

		<div class="inner-results">
			<h3>CUL EXPRESS CA加州仓库地址变更通知</h3>
			<p>亲爱的客户:</br>
				</br>
				大家好， 2017年10月起 CA加州仓库的地址变更咯~新地址为　835 S Lawson St Street, city of industry, CA 91748, 请大家注意更改收货地址。</br>
				</br>
				谢谢~ 祝大家海淘愉快!</br>
			</p>
			<ul class="list-inline down-ul">
				<li>2017-10-23</li>
				<li>CUL Express运营团队</li>
			</ul>
		</div>
        <!-- End Left Inner -->
    </div>
</div>
<!--=== End Job Description ===-->
