<nav>
    <ul class="pagination" style="margin:0;">
        <li ng-class="{disabled:!canPrev}">
            <a href="javascript:void(0)" aria-label="{{options.first||'<<'}}" ng-click="paged(1)">
                <span aria-hidden="true">{{options.first||'<<'}}</span>
            </a>
        </li>
        <li ng-class="{disabled:!canPrev}">
            <a href="javascript:void(0)" aria-label="{{options.prev||'<'}}" ng-click="paged('prev')">
                <span aria-hidden="true">{{options.next||'<'}}</span>
            </a>
        </li>
        <li ng-repeat="stepItem in steps track by $index" ng-class="{active:stepItem==index}"><a href="javascript:void(0)" ng-click="paged(stepItem)">{{stepItem}}</a></li>
        <li ng-class="{disabled:!canNext}">
            <a href="javascript:void(0)" aria-label="{{options.next||'>'}}" ng-click="paged('next')">
                <span aria-hidden="true">{{options.next||'>'}}</span>
            </a>
        </li>
        <li ng-class="{disabled:!canNext}">
            <a href="javascript:void(0)" aria-label="{{options.last||'>>'}}" ng-click="paged(allPageCount)">
                <span aria-hidden="true">{{options.last||'>>'}}</span>
            </a>
        </li>
    </ul>
</nav>
