<div class="wrapper">
    <!--=== Content Part ===-->
    <div class="container content">
        <div class="headline"><h2>资费标准</h2></div>
        <!-- Pricing Mega v1 -->
        <div class="row no-space-pricing pricing-mega-v1">
            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                <div class="pricing hidden-area">
                    <div class="pricing-head ">
                        <h4 class="price">加州(CA)</h4>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li class="bg-color">
                            <i class="fa fa-star"></i>    首磅价格
                        </li>
                        <li>
                            <i class="fa fa-star-half-o"></i>    续磅价格
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-cubes"></i>    体积运费
                        </li>
                        <li>
                            <i class="fa fa-space-shuttle"></i>正常送达时效
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-truck"></i>    起运标准
                        </li>
                        <li>
                            <i class="fa fa-user"></i>    提供身份证
                        </li>
                        <li>
                            <i class="fa fa-check"></i>    适合物品
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-minus-circle"></i>    渠道限制
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 block">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>
                            USPS<span>美国邮政</span>
                        </h3>
                        <h4 class="price">
                            <i>￥</i>200<i></i>
                            <span class="hidden-md hidden-lg">加州(CA)</span>
                        </h4>
                    </div>
                    <ul class="pricing-content list-unstyled ">
                        <li class="bg-color">
                            ￥200.00
                            <span class="hidden-md hidden-lg">首磅价格</span>
                        </li>
                        <li>
                            ￥35.00<span class="hidden-md hidden-lg">续磅价格</span>
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-times"></i><span class="hidden-md hidden-lg">体积运费</span>
                        </li>
                        <li>
                            3-5个工作日
                            <span class="hidden-md hidden-lg">正常送达时效</span>
                        </li>
                        <li class="bg-color">
                            4磅起运
                            <span class="hidden-md hidden-lg"> 起运标准</span>
                        </li>
                        <li>
                            <i class="fa fa-times"></i><span class="hidden-md hidden-lg">提供身份证</span>
                        </li>
                        <li>
                            贵重物品和电子产品
                            <span class="hidden-md hidden-lg">适合物品</span>
                        </li>
                        <li class="bg-color">
                            一边不能超过108英寸的长度<span class="hidden-md hidden-lg">渠道限制</span>
                        </li>
                    </ul>
                    <div>
                       <a ng-click="gotoDetail('ca-1')" class="btn btn-u btn-block ">详细说明</a>
                                          </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 block">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>
                            小包裹<span>UCS渠道</span>
                        </h3>
                        <h4 class="price">
                            <i>￥</i>52<i></i>
                            <span class="hidden-md hidden-lg">加州(CA)</span>
                        </h4>
                    </div>
                    <ul class="pricing-content list-unstyled ">
                        <li class="bg-color">
                            ￥52.00
                            <span class="hidden-md hidden-lg">首磅价格</span>
                        </li>
                        <li>
                            ￥30.00<span class="hidden-md hidden-lg">续磅价格</span>
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-times"></i><span class="hidden-md hidden-lg">体积运费</span>
                        </li>
                        <li>
                            大于5个工作日
                            <span class="hidden-md hidden-lg">正常送达时效</span>
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-times"></i>
                            <span class="hidden-md hidden-lg"> 起运标准</span>
                        </li>
                        <li>
                            <i class="fa fa-check"></i><span class="hidden-md hidden-lg">提供身份证</span>
                        </li>
                        <li>
                            自用,母婴用品
                            <span class="hidden-md hidden-lg">适合物品</span>
                        </li>
                        <li class="bg-color">
                            <span class="hidden-md hidden-lg">渠道限制</span>
                        </li>
                    </ul>
                    <div>
                        <a ng-click="gotoDetail('ca-2')" class="btn btn-u btn-block ">详细说明</a>
                    </div>
                </div>
            </div>
             <div class="col-md-2 col-sm-6 block">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>
                            小包裹<span>CA渠道</span>
                        </h3>
                        <h4 class="price">
                            <i>￥</i>52<i></i>
                            <span class="hidden-md hidden-lg">加州(CA)</span>
                        </h4>
                    </div>
                    <ul class="pricing-content list-unstyled ">
                        <li class="bg-color">
                            ￥52.00
                            <span class="hidden-md hidden-lg">首磅价格</span>
                        </li>
                        <li>
                            ￥28.00<span class="hidden-md hidden-lg">续磅价格</span>
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-times"></i><span class="hidden-md hidden-lg">体积运费</span>
                        </li>
                        <li>
                            大于5个工作日
                            <span class="hidden-md hidden-lg">正常送达时效</span>
                        </li>
                        <li class="bg-color">
                           7-10磅
                            <span class="hidden-md hidden-lg"> 起运标准</span>
                        </li>
                        <li>
                            <i class="fa fa-times"></i><span class="hidden-md hidden-lg">提供身份证</span>
                        </li>
                        <li>
                            <span class="hidden-md hidden-lg">适合物品</span>
                        </li>
                        <li class="bg-color">
                            不能发化妆品和电子产品<span class="hidden-md hidden-lg">渠道限制</span>
                        </li>
                    </ul>
                    <div>
                        <a ng-click="gotoDetail('ca-3')" class="btn btn-u btn-block ">详细说明</a>
                    </div>
                </div>
            </div>
             <div class="col-md-2 col-sm-6 block">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>
                            大包裹<span>包清关包税渠道</span>
                        </h3>
                        <h4 class="price">
                            <i>￥</i>55<i></i>
                            <span class="hidden-md hidden-lg">加州(CA)</span>
                        </h4>
                    </div>
                    <ul class="pricing-content list-unstyled ">
                        <li class="bg-color">
                            ￥55.00
                            <span class="hidden-md hidden-lg">首磅价格</span>
                        </li>
                        <li>
                            ￥35.00<span class="hidden-md hidden-lg">续磅价格</span>
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-times"></i><span class="hidden-md hidden-lg">体积运费</span>
                        </li>
                        <li>
                            大于5个工作日
                            <span class="hidden-md hidden-lg">正常送达时效</span>
                        </li>
                        <li class="bg-color">
                            单个包裹可以20磅
                            <span class="hidden-md hidden-lg"> 起运标准</span>
                        </li>
                        <li>
                            <i class="fa fa-times"></i><span class="hidden-md hidden-lg">提供身份证</span>
                        </li>
                        <li>
                            <span class="hidden-md hidden-lg">适合物品</span>
                        </li>
                        <li class="bg-color">
                            不能发电子产品、手机电脑
                            <span class="hidden-md hidden-lg">渠道限制</span>
                        </li>
                    </ul>
                    <div>
                        <a ng-click="gotoDetail('ca-4')" class="btn btn-u btn-block ">详细说明</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Pricing Mega v1 -->

        <div class="margin-bottom-50"></div>

        <div class="row no-space-pricing pricing-mega-v1">
            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                <div class="pricing hidden-area">
                    <div class="pricing-head ">
                        <h4 class="price">特拉华(DE)</h4>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li class="bg-color">
                            <i class="fa fa-star"></i>    首磅价格
                        </li>
                        <li>
                            <i class="fa fa-star-half-o"></i>    续磅价格
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-cubes"></i>    体积运费
                        </li>
                        <li>
                            <i class="fa fa-space-shuttle"></i>正常送达时效
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-truck"></i>    起运标准
                        </li>
                        <li>
                            <i class="fa fa-user"></i>    提供身份证
                        </li>
                        <li>
                            <i class="fa fa-check"></i>    适合物品
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-minus-circle"></i>    渠道限制
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 block">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>
                            USPS<span>美国邮政</span>
                        </h3>
                        <h4 class="price">
                            <i>￥</i>200<i></i>
                            <span class="hidden-md hidden-lg">加州(CA)</span>
                        </h4>
                    </div>
                    <ul class="pricing-content list-unstyled ">
                        <li class="bg-color">
                            ￥200.00
                            <span class="hidden-md hidden-lg">首磅价格</span>
                        </li>
                        <li>
                            ￥35.00<span class="hidden-md hidden-lg">续磅价格</span>
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-times"></i><span class="hidden-md hidden-lg">体积运费</span>
                        </li>
                        <li>
                            3-5个工作日
                            <span class="hidden-md hidden-lg">正常送达时效</span>
                        </li>
                        <li class="bg-color">
                            4磅起运
                            <span class="hidden-md hidden-lg"> 起运标准</span>
                        </li>
                        <li>
                            <i class="fa fa-times"></i><span class="hidden-md hidden-lg">提供身份证</span>
                        </li>
                        <li>
                            贵重物品和电子产品
                            <span class="hidden-md hidden-lg">适合物品</span>
                        </li>
                        <li class="bg-color">
                            一边不能超过108英寸的长度<span class="hidden-md hidden-lg">渠道限制</span>
                        </li>
                    </ul>
                    <div>
                        <a ng-click="gotoDetail('de-1')" class="btn btn-u btn-block ">详细说明</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 block">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>
                            小包裹<span>UCS渠道</span>
                        </h3>
                        <h4 class="price">
                            <i>￥</i>52<i></i>
                            <span class="hidden-md hidden-lg">加州(CA)</span>
                        </h4>
                    </div>
                    <ul class="pricing-content list-unstyled ">
                        <li class="bg-color">
                            ￥52.00
                            <span class="hidden-md hidden-lg">首磅价格</span>
                        </li>
                        <li>
                            ￥30.00<span class="hidden-md hidden-lg">续磅价格</span>
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-times"></i><span class="hidden-md hidden-lg">体积运费</span>
                        </li>
                        <li>
                            大于5个工作日
                            <span class="hidden-md hidden-lg">正常送达时效</span>
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-times"></i>
                            <span class="hidden-md hidden-lg"> 起运标准</span>
                        </li>
                        <li>
                            <i class="fa fa-check"></i><span class="hidden-md hidden-lg">提供身份证</span>
                        </li>
                        <li>
                            自用,母婴用品
                            <span class="hidden-md hidden-lg">适合物品</span>
                        </li>
                        <li class="bg-color">
                            <span class="hidden-md hidden-lg">渠道限制</span>
                        </li>
                    </ul>
                    <div>
                        <a ng-click="gotoDetail('de-2')" class="btn btn-u btn-block ">详细说明</a>
                    </div>
                </div>
            </div>
             <div class="col-md-2 col-sm-6 block">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>
                            小包裹<span>DE渠道</span>
                        </h3>
                        <h4 class="price">
                            <i>￥</i>52<i></i>
                            <span class="hidden-md hidden-lg">加州(CA)</span>
                        </h4>
                    </div>
                    <ul class="pricing-content list-unstyled ">
                        <li class="bg-color">
                            ￥52.00
                            <span class="hidden-md hidden-lg">首磅价格</span>
                        </li>
                        <li>
                            ￥28.00<span class="hidden-md hidden-lg">续磅价格</span>
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-times"></i><span class="hidden-md hidden-lg">体积运费</span>
                        </li>
                        <li>
                            大于5个工作日
                            <span class="hidden-md hidden-lg">正常送达时效</span>
                        </li>
                        <li class="bg-color">
                           7-10磅
                            <span class="hidden-md hidden-lg"> 起运标准</span>
                        </li>
                        <li>
                            <i class="fa fa-times"></i><span class="hidden-md hidden-lg">提供身份证</span>
                        </li>
                        <li>
                            <span class="hidden-md hidden-lg">适合物品</span>
                        </li>
                        <li class="bg-color">
                            不能发化妆品和电子产品<span class="hidden-md hidden-lg">渠道限制</span>
                        </li>
                    </ul>
                    <div>
                        <a ng-click="gotoDetail('de-3')" class="btn btn-u btn-block ">详细说明</a>
                    </div>
                </div>
            </div>
             <div class="col-md-2 col-sm-6 block">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>
                            大包裹<span>包清关包税渠道</span>
                        </h3>
                        <h4 class="price">
                            <i>￥</i>55<i></i>
                            <span class="hidden-md hidden-lg">加州(CA)</span>
                        </h4>
                    </div>
                    <ul class="pricing-content list-unstyled ">
                        <li class="bg-color">
                            ￥55.00
                            <span class="hidden-md hidden-lg">首磅价格</span>
                        </li>
                        <li>
                            ￥35.00<span class="hidden-md hidden-lg">续磅价格</span>
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-times"></i><span class="hidden-md hidden-lg">体积运费</span>
                        </li>
                        <li>
                            大于5个工作日
                            <span class="hidden-md hidden-lg">正常送达时效</span>
                        </li>
                        <li class="bg-color">
                            单个包裹可以20磅
                            <span class="hidden-md hidden-lg"> 起运标准</span>
                        </li>
                        <li>
                            <i class="fa fa-times"></i><span class="hidden-md hidden-lg">提供身份证</span>
                        </li>
                        <li>
                            <span class="hidden-md hidden-lg">适合物品</span>
                        </li>
                        <li class="bg-color">
                            不能发电子产品、手机电脑
                            <span class="hidden-md hidden-lg">渠道限制</span>
                        </li>
                    </ul>
                    <div>
                        <a ng-click="gotoDetail('de-4')" class="btn btn-u btn-block ">详细说明</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="margin-bottom-40"></div>

        <div class="headline">
            <h2>收费说明</h2>
            <p></p><br>

            <p><span class="dropcap">加州(CA)</span></p>
                
            <hr>
            
            <p id="ca-1"><span class="dropcap-bg">1</span>
                <strong>USPS（美国邮政）渠道</strong>
                <p>价格：首磅200元，续磅35元。（4磅起运，也就是低于4磅的包裹都是305计费,2磅也是305计费）</p>
                <p>美国邮政国际特快(USPS Express international),被税率相对比较低， 适合各种物品，尤其是贵重物品和电子产品。正常情况下，不被税不进海关的情况下 ，3-5个工作日到达一线城市。暂时没有体积运费，比如婴儿座椅，大型玩具等可以选择这个渠道，但是有长度限制，包裹任何一边不能超过108英寸的长度， 建议每个包裹在15磅以下为宜，太重长途运输容易造成包裹破损</p>
                <p class="text-danger">注意：如婴儿游戏毯这种非常方正的包裹和婴儿座椅类的大型包裹不建议合并箱子， 请单独提交订单，这样方便我们可以尽快处理完成您的订单谢谢，如果您这样提交了，我们会联系您重新提交订单，谢谢</p>
            </p>

            <hr>

            <p id="ca-2"><span class="dropcap-bg">2</span> 
                <strong>小包裹UCS渠道</strong>
                <p>价格：首磅52元，续磅30元</p>
                <p>需要提供身份证，建议一般除去电子类自用物品7磅以下不容易被税，如果产生关税自理，母婴用品这类不容易被税物品10磅也可以</p>
            </p>                     

            <hr>

            <p id="ca-3"><span class="dropcap-bg">3</span>
                <strong>小包裹CA渠道</strong>
                <p>价格：首磅52元，续磅28元</p>
                <p>不要身份证，不能发化妆品和电子产品，建议7-10磅</p>
            </p>

            <hr>

            <p id="ca-4"><span class="dropcap-bg">4</span>
                <strong>大包裹渠道 （包清关包税渠道）</strong>
                <p>可接受一个包裹20磅左右,根据下面分类进行收费:</p>
                <p>
                    <ul>
                        <li>A类，(低价值(单件价值$100以下)衣服，鞋子，保健品母婴用品，奶粉，食品。):首磅55，续磅35(原价38)，10磅以上每磅35</li>
                        <li>B类， (化妆品):55一磅。(原价60)</li>
                        <li>C 类， (电子产品，单价$500美元以下的包，高档营养品，(海参，西洋参)，汽车配件):55一磅。(原价60)</li>
                    </ul>
                </p>
                <p class="text-danger">注意：大包裹渠道 （包清关包税渠道）不能发电子产品、手机电脑，一个包裹可以20磅左右， CA仓库DE 仓库大包裹渠道只能寄送A，B类，C类电子产品目前不能寄送。包税渠道寄送单件价值超过500美元上的商品(电子产品不包括在内)，除去运费外，还需另外缴纳商品价值10%的关税。(以购物凭证为准)</p>
                <p class="text-danger">A, B类物品不接受混装，假如包裹内含有A类货品和B类货品，则整个包裹按照B类收费</p>
            </p>

            <p></p><br>

            <p><span class="dropcap">特拉华(DE)</span></p>
                
            <hr>
            
            <p id="de-1"><span class="dropcap-bg">1</span>
                <strong>USPS（美国邮政）渠道</strong>
                <p>价格：首磅200元，续磅35元。（4磅起运，也就是低于4磅的包裹都是305计费,2磅也是305计费）</p>
                <p>美国邮政国际特快，USPS Express international 是最稳妥快捷的运输方式， 强烈推荐。被税率也相对比较低， 适合各种物品，尤其是贵重物品和电子产品。正常情况下，不被税不进海关的情况下 ，3-5个工作日到达一线城市。暂时没有体积运费，比如婴儿座椅，大型玩具等可以选择这个渠道，但是有长度限制，包裹任何一边不能超过108英寸的长度， 建议每个包裹在15磅以下为宜，太重长途运输容易造成包裹破损</p>
                <p class="text-danger">注意：如婴儿游戏毯这种非常方正的包裹和婴儿座椅类的大型包裹不建议合并箱子， 请单独提交订单，这样方便我们可以尽快处理完成您的订单谢谢，如果您这样提交了，我们会联系您重新提交订单，谢谢</p>
            </p>

            <hr>

            <p id="de-2"><span class="dropcap-bg">2</span> 
                <strong>小包裹UCS渠道</strong>
                <p>价格：首磅52元，续磅30元</p>
                <p>需要提供身份证，建议一般除去电子类自用物品7磅以下不容易被税，如果产生关税自理，母婴用品这类不容易被税物品10磅也可以</p>
            </p>                     

            <hr>

            <p id="de-3"><span class="dropcap-bg">3</span>
                <strong>小包裹DE渠道</strong>
                <p>价格：首磅52元，续磅28元</p>
                <p>不要身份证，不能发化妆品和电子产品，建议7-10磅</p>
            </p>

            <hr>

            <p id="de-4"><span class="dropcap-bg">4</span>
                <strong>大包裹渠道 （包清关包税渠道）</strong>
                <p>不能发电子产品、手机电脑，一个包裹不能超过10磅,根据下面分类进行收费:</p>
                <p>
                    <ul>
                        <li>A类，(低价值(单件价值$100以下)衣服，鞋子，保健品母婴用品，奶粉，食品。):首磅55，续磅35(原价38)</li>
                        <li>B类， (化妆品):55一磅。(原价60)</li>
                        <li>C 类， (电子产品，单价$500美元以下的包，高档营养品，(海参，西洋参)，汽车配件):55一磅。(原价60)</li>
                    </ul>
                </p>
                <p class="text-danger">注意：DE仓库大包裹渠道只能寄送A，B类，C类电子产品目前不能寄送。包税渠道寄送单件价值超过500美元上的商品(电子产品不包括在内)，除去运费外，还需另外缴纳商品价值10%的关税。(以购物凭证为准)</p>
                <p class="text-danger">A, B类物品不接受混装，假如包裹内含有A类货品和B类货品，则整个包裹按照B类收费</p>
                <p class="text-danger">海参西洋参不能转运,大包裹不允许超过10磅</p>
            </p>
        </div>
        
        <div>
            <div class="headline"><h2>备注说明</h2></div>
            <ol>
                <li>以上标价均为人民币。 如果需要支付美元，请按即时汇率转换即可</li>
                <li>大包裹和小包裹不一样，并不是按照重量或者体积大小来区分的。大包裹是指包关税的渠道，1磅也可以走大包裹的。或者12磅的包裹可以给2个地址，分成2个小包裹走的</li>
                <li>大包裹是包税渠道，小包裹万一被税，关税自理。大包裹和小包裹的价格不同</li>
                <li>由于航空公司严格查算包裹的体积重量，我们停止提供体积重过大的包裹邮寄服务。
                    这类物品主要包括:婴儿童车，安全座椅，行李箱，箱包，婴儿游戏垫，各种大型玩具等体积重量超过实际重量30%的物品。如果您执意要寄送体积重过大的包裹，
                    我们将会按包裹的体积重计算运费。体积重的换算标准: 长x宽x高/166。尺寸单位为英寸</li>
                <li>余额使用：如此包裹需要运费100元，您的帐户余额为45元，您只需要先在余额充值里充值55元，使账户余额变为100元。（如有积分，可以在提交订单时勾选“使用积分”，1积分等于1元，一个订单只能使用30个积分哦）。
                    积分有20，那么只需要充值35元即可
                </li>
                <li>关于保险：如果购买中美速递的保险，中美速递的保险是只保丢失不保破损。保险是货值的2%。最高每个包裹保到500美金，赔付会按照余额充值的形式赔付到中美速递账户</li>
                <li>关于货物丢失赔付： 中美速递提供丢失保险，如果您购买了保险，一旦货物在运输过程中发生丢件情况，我们会根据您当时订单中购买的保险金额，在中美速递保险申报的价值以及您丢失物品的原始订单实际货值进行审核较低金额进行赔付，对您的申请核实无误后，我们会以余额充值的形式赔付到中美速递账户中。详情可见《中美速递理赔条款》。   
如果您没有购买保险，一旦发生丢失，核定为丢失件后， 本公司提供按照丢失的包裹订单中的重量，提供每磅9美金的赔付，最高赔付额是100美金。我们会以余额充值的形式赔付到中美速递账户中</li>
            </ol>
            <p class="text-danger">注意：以上丢失赔偿，所产生的相应运费及保险费不另做赔偿。液体及易碎物品无法赔付。没有选择加固的包裹一旦出现损坏,CUL将不赔付。
                <ul>
                    <li class="text-danger">任何渠道如果一旦产生有被税，或者被海关抽查和清关延误等不可抗力情况下，一律按照特殊情况来看待，清关时间则不能按照正常时间计算，必须要等待海关和航空方面的具体情况来定， 货物则必须等待清关完毕后才能正常配送，客户必须耐心等待。 所有包裹一旦出现被税，海关抽查，清关延误，航班延误等不可抗力，特殊情况引起的延误等待，中美速递不做赔偿。 所有赔偿只针对确认为丢失的包裹才做赔付，并且是以中美速递账户余额的形式赔付到客户的中美速递账户余额中</li>
                    <li class="text-danger">所有索赔申请必须在派送后5个工作日之内提出，并同时提供货物发票收据及相应的配送快递的破损、丢失证明（需要有有效的盖章），以及索赔申请表。 收到书面索赔后的7-10个工作日之内给予答复。无法提供上述材料的，本公司不予理赔</li>
                    <li class="text-danger">所有的赔付均以余额或者积分的形式达到您的中美速递账户中的</li>
                    <li class="text-danger">中美速递账户中的运费余额和积分，不接受提现，只能作为运费使用</li>
                    <li class="text-danger">每一个客户从注册中美速递开始起，则视为已经接受并且同意中美速递的详细条款</li>
                </ul>
            </p>
        </div>

    </div><!--/container-->
    <!--=== End Content Part ===-->

</div><!--/wrapper-->
