<link rel="stylesheet" href="assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="assets/css/pages/profile.css">
<link rel="stylesheet" href="assets/css/pages/shortcode_timeline2.css">

<div class="container content">


    <div class="headline" align="center">
        <h3 class="underline" >转运说明</h3>
        
    </div>
    <div >
        <table width="1000" style="table-layout:fixed;margin:0 auto">
            <style>
            #p1{font-weight:bold;font-size: 16px;}
            #td1{height:80px;vertical-align: text-top;}
            </style>
            <tr>
                <td>
                    <img src="..\images\prohibitedArticle\milkPowder.png" />
                </td>
                <td >
                    <div>
                        <p id="p1">奶粉</p>
                        <p>勿与其他杂物一起装箱，否则会延误邮寄时间，后续开分箱处理需要支付相应操作的费用。<br/>0-765g≤3罐
                        <br/>765g-1080g≤2罐<br/>1080g以上≤1罐</p>
                    </div>
                </td>
                <td>
                    <img src="..\images\prohibitedArticle\whatch.png" />
                </td>
                <td id="td1">
                    <div>
                        <p id="p1">手表</p>
                        <p>每箱包裹中的手表货物不能超过2只。<br/>
                        转运数量：≤2件</p>
                    </div>
                </td>
                <td>
                    <img src="..\images\prohibitedArticle\appliances.png" />
                </td>
                <td id="td1">
                    <div>
                        <p id="p1">小家电</p>
                        <p>电动剃须刀和电动牙刷不能写剃须刀和牙刷，必须写全称。<br/>
                         转运数量：≤2件</p>
                    </div>
                </td>
                <td>
                    <img src="..\images\prohibitedArticle\bag.png" />
                </td>
                <td id="td1">
                    <div>
                        <p id="p1">包包</p>
                        <p>大包、中包、小包、手包、背包、钱包、布袋。<br/>
                         转运数量：≤2件
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="..\images\prohibitedArticle\shoes.png" />
                </td>
                <td id="td1">
                    <div>
                        <p id="p1">鞋子</p>
                        <p>每箱包裹中的鞋子数量不能超过3双。<br/>
                        转运数量：≤3双
                        </p>
                    </div>
                </td>
                <td>
                    <img src="..\images\prohibitedArticle\cosmetics.png" />
                </td>
                <td id="td1">
                    <div>
                        <p id="p1">化妆品</p>
                        <p>单一化妆品或润肤品的包裹不能超过4磅。<br/>0-765g≤3罐
                         转运数量：≤4磅
                         </p>
                    </div>
                </td>
                <td>
                    <img src="..\images\prohibitedArticle\battery.png" />
                </td>
                <td id="td1">
                    <div>
                        <p id="p1">锂电池产品</p>
                        <p>含锂电池，锂电子的产品，必须如实申报，因未如实申报被海关扣查，所造成罚款全部由客户承担。</p>
                    </div>
                </td>
                <td>
                    <img src="..\images\prohibitedArticle\something.png" />
                </td>
                <td id="td1">
                    <div>
                        <p id="p1">其他</p>
                        <p>其他物品相关说明最终解释权归cul所有</p>
                    </div>
                </td>
            </tr>


        </table>
    </div>

    <div>
        <div class="headline" align="center">
            <h3>禁运物品</h3>
        </div>

        <h4 class="price">一、航空管制类</h4>

        <ul>
            <li>武器：武器弹药&仿真武器（枪支、子弹、炮弹、手榴弹、地雷、炸弹、弓箭、仿真枪、瞄准器、枪械配件等）</li>
            <li>
                违禁物品：烈性毒药&麻醉药物(毒品)（烈性毒药：铊、氰化物、砒霜等；麻醉药物（毒品）：鸦片、吗啡、可卡因、海洛因、大麻、冰毒、麻黄素及其它相关制品等）</li>
            <li>
                液压灌装物品：金属灌装液压物品（氧气瓶、防嗮喷雾、生发喷雾、气雾剂等）
            </li>
            <li>
                易燃、易爆品：香水、香薰、指甲油、精油、剃须刀清洗液和含酒精成分的物品（打火机、火柴、雷管、炸药、火药、烟花、锂电池（单一）、 汽油、煤油、酒精、油、瓦斯、磷、硫磺等）
            </li>
            <li>
                危险化学（化工）品：腐蚀性物品&放射性元素或含放射性物品&生化制品（腐蚀性物品：硫酸、盐酸、有机溶剂、农药、双氧水等；放射性元素或含放射性物品： 铀、钴、镭、钚等，及接触或存放过放射性物品的容器、工具等； 生化制品：病毒、医药废弃物、血液、血清样本等）
            </li>

        </ul>

        <h4 class="price">二、海关、商检管制类（所有自提线路不受限制）</h4>

        <ul>
            <li>
                部分数码产品：手机、笔记本、电子书、平板电脑、数码相机、单反相机、单反镜头
            </li>
            <li>
                交通配件：汽车、摩托车、自行车配件和附件等
            </li>
            <li>
                名贵药草：燕窝、冬虫夏草、参、鹿茸、阿胶等
            </li>
            <li>
                药品（非保健品）：处方药，麻醉药品等
            </li>
            <li>
                饮料：茶叶、维生素功能饮料、酸奶、果汁、运动饮料、其他饮料等
            </li>
            <li>
                烟酒
            </li>
            <li>
                动植物：动植物相关物品（假发、动物、植物、种子或繁殖材料、标本、动物饲料、皮张、毛类，蹄、骨角类及其制品（象牙、犀牛角）等）
            </li>
            <li>
                管制类刀具等
            </li>
            <li>
                贵重物品：一线品牌奢侈品、文物古玩、陶瓷工艺等（贵金属及其制品、金银首饰、宝石、水晶、化石等）
            </li>
            <li>
                大件商品：大型家电、音响等（乐器、家电、家具等）
            </li>
            <li>
                任何国家货币：有价证券、国家货币、伪造货币、任何国家机密资料等
            </li>
            <li>
                印刷品：书籍字画类、印刷品等
            </li>
            <li>
                所有二手商品
            </li>
            <li>
                军用产品：军用制品、军用装备等（手铐、警棍、电击棍、防弹衣、防弹头盔等）
            </li>
            <li>
                传媒介质：胶卷、照片、唱片、IC电子零配件等（线路板、CPU、IC、机械手臂、网卡、游戏卡、影片、录音带、录像带、 激光视盘、光盘、计算机储存介质配件(如：U盘、硬盘)及其它传媒介质等）
            </li>
            <li>
                高尔夫球头
            </li>
            <li>
                成人用品器具类
            </li>
            <li>
                其它禁运食品：待加工半成品、 含蛋、肉、内脏、奶类加工食品、 各类肉泥等
            </li>
            <li>
                不属于民生类需求的其他物品：生产工具、生产原料、生产材料、零件配件等
            </li>
        </ul>


    </div>
    <tr>
        <td>
            <p class="text-danger">
                注意：以上是部分国家禁运的进口物品种类（如本禁运条款与海关总署令第43号《中华人民共和国禁止进出境物品表》 和《中华人民共和国限制进出境物品表》有抵触时， 一切以海关总署令第43号文为准），以帮助和提醒您更加明智地购物，避免购买到违禁物品而导致无法发货。如果因个人失误，没有真实预报，一旦查出，后果由客户自己承担。
            </p>
        </td>
    </tr>
</div>
<!--/container-->
<!--=== End Content Part ===-->
</div>
<!--/wrapper-->