<!--=== Job Description ===-->
<div class="job-description">
    <div class="container content">
        <div class="headline"><h2>Refer a Friend 好友邀请</h2></div>
       
        <div class="container content">
            <div class="row-fluid privacy">
                <p>CUL为了回馈大家长期以来的支持和鼓励，推出"好友邀请奖励”答谢大家，推荐者和被推荐者双方均可:</p>
                <ol>
                    <li>通过此方式获得积分，并可以用此积分当做运费来使用。</li>
                    <li>请登录客户端后台，复制自己的专属好友邀请注册衔接。</li>
                    <li>通过点击此衔接注册的用户，注册并且使用即被推荐者。</li>
                    <li>当被推荐人完成第一个CUL订单并且变成已发货的时候，被推荐者即得到20积分奖励。</li>
                    <li>当被推荐人完成第一个CUL订单并且变成已发货的时候，推荐者即得到20积分奖励励。</li>
                    <li>奖励会自动增加到您的账户中，该积分可以直接当做运费使用，点击账户财务明细即可看到。</li>
                    <li>被推荐人每次发货一个订单，推荐人将从中得到一积分的推荐奖励，点击账户明细即可看到。</li>
                </ol>
                <p>活动是给大家的回馈，禁止以注册多个账户的方法赚取运费积分，违规者将取消账户以及扣除相互推荐关系所得到的所有积分，希望大家多多配合。</p>
            </div>
        </div>
    </div>
</div>
<!--=== End Job Description ===-->
