<!--=== Service Blocks ===-->
<div class="container content-sm">
    <div class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">我们的服务</h2>
        <p class="space-lg-hor">我们的服务人员皆拥有多年处理中美之间空海运进出口的经验,为集国际快递国际货运,仓储配送,包装,对外贸易以及保险代理于一身的全方位配套的综合性国际物流企业,有着完善的国内外服务网络和良好的企业信誉.</p>
    </div>

    <div class="row content-boxes-v4 content-boxes-v4-sm margin-bottom-30">
        <div class="col-md-4 md-margin-bottom-40">
            <i class="pull-left icon-globe"></i>
            <div class="content-boxes-in-v4">
                <h2>美国至中国空运门到门的快递服务</h2>
                <p>中美速递与全球多家物流企业进行全方位的合作,Fedex,UPS,Ontrac,USPS,DHL, EMS.确保你的包裹可以从美国任何一个地方都可以安全,高效地发往中国全境.</p>
            </div>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <i class="pull-left icon-handbag"></i>
            <div class="content-boxes-in-v4">
                <h2>专属美国收货地址</h2>
                <p>大部分海外购物网站仅提供美国境内的发货业务,不支持国际直邮到中国,免费注册成为中美速递会员即可获得两个美国的专属收货地址.让您足不出户,尽情潇洒海外购物.</p>
            </div>
        </div>
        <div class="col-md-4">
            <i class="pull-left icon-home"></i>
            <div class="content-boxes-in-v4">
                <h2>个人专属的美国仓库</h2>
                <p>中美速递为会员免费提供属于您个人的美国仓储空间,您可以免费仓储货物,在线通过我们的物流系统管理, 合箱,分箱发出你的各种包裹.</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row content-boxes-v4 content-boxes-v4-sm margin-bottom-30">
        <div class="col-md-4 md-margin-bottom-40">
            <i class="pull-left icon-rocket margin-right-10"></i>
            <div class="content-boxes-in-v4">
                <h2>大小包裹双渠道发货</h2>
                <p>美中线小包裹.重量在7磅以下的小包裹,国内由EMS或者合作快递公司配送，适合海淘自用一族.</p>
                <p>美中线大包裹.无重量和国内收货地址限制.一次可以大量发货.空运中国,全国合作快递公司派送.适合发货较多的客户需求.</p>
            </div>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <i class="pull-left icon-wallet margin-right-10"></i>
            <div class="content-boxes-in-v4">
                <h2>便捷的在线支付</h2>
                <p>中美速递物流系统集成支付宝在线支付功能,您可以轻松便捷的进行各种帐务管理.方便并且安全.</p>
            </div>
        </div>
        <div class="col-md-4">
            <i class="pull-left icon-present margin-right-10"></i>
            <div class="content-boxes-in-v4">
                <h2>好友邀请推荐制</h2>
                <p>为了能让我们的物流系统服务更多的客人, 好友邀请机制让你轻松邀请身边的朋友加入中美速递, 每邀请一位好友加入,你和他都可以获得20运费奖励,并且以后你好的好友每寄一单包裹, 你都会得到1个运费的回馈.</p>
            </div>
        </div>
    </div>

</div>
<!--=== End Service Blocks ===-->