<div class="widget">
    <div class="widget-header">
        <h3><i class="fa fa-edit"></i>仓库管理-新建渠道</h3>
    </div>
    <div class="widget-content">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label text-right">渠道名称：<small style="color:red">*</small></label>
                <div class="col-sm-10 text-left">
                    <input id="channelName" type="text" class="form-control" placeholder="渠道名称：" ng-model="form.warehouseShortName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2  text-right">状态：</label>
                <div class="col-sm-10 text-left">
                  <label>
                    <input type="radio" name="status" id="status1" value="1" ng-model="form.status">
                    启用
                  </label> &nbsp;
                  <label>
                    <input type="radio" name="status" id="status2" value="0" ng-model="form.status">
                    禁用
                  </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label text-right">清关地址：<small style="color:red">*</small></label>
                <div class="col-sm-10 text-left">
                    <input id="clearAddress" type="text" class="form-control" placeholder="清关地址" ng-model="form.clearAddress">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label text-right">渠道描述：<small style="color:red">*</small></label>
                <div class="col-sm-10 text-left">
                  <textarea id="channelDesc" type="text" class="form-control" placeholder="渠道描述" ng-model="form.channelDesc" ></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-if="flag != '1'" type="button" class="btn btn-primary" ng-click="saveChannel()">确认</button>
                    <button ng-if="flag == '1'" type="button" class="btn btn-primary" ng-click="update()">更新</button>
                    <a class="btn btn-link" href="javascript:void(0);" ng-click="back()">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
<print-inbound-package></print-inbound-package>

<script>
     $(function() {
         document.getElementById("warehouseShortName").focus();
     })
</script>
