<div class="widget widget-table">
    <div class="widget-header">
        <h3><i class="fa fa-table"></i>角色管理</h3>
    </div>
    <div class="widget-content">
        <div class="row">
            <div class="col-sm-12" style="padding:0 20px 15px 12px;">
                <button type="button" class="btn btn-primary" style="margin-left:5px;" ng-click="addReceipt();">添加角色</button>
            </div>
            <div class="col-sm-12 search-bar">
                <div class="clearfix"></div>
                <div class="search-col">
                    <label class="search-label">状态:</label>
                    <select class="form-control search-control" ng-model="searchBar.status">
                      <option value="">所有</option>
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select> &nbsp;
                    <label class="search-label">角色名称:</label>
                    <input type="text" class="form-control search-control" style="margin-left:5px; width:480px;" placeholder="请输入查询关键字" ng-model="searchBar.roleName" />
                    <button type="button" class="btn btn-primary" style="margin-left:5px;" ng-click="btnSearch()">搜索</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="min-width:50px;">序号</th>
                            <th style="min-width:100px;">角色名称</th>
                            <th style="min-width:100px;">角色描述</th>
                            <th style="min-width:50px;">状态</th>
                            <th style="min-width:100px;">最后修改用户</th>
                            <th style="min-width:100px;">最后修改时间</th>
                            <th style="min-width:110px;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in dataList">
                            <td>{{item.role_id}}</td>
                            <td>{{item.role_name}}</td>
                            <td>{{item.role_describe}}</td>
                            <td>{{item.status == 0 ? '禁用' : '启用'}}</td>
                            <td>{{item.updater}}</td>
                            <td>{{item.update_times | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                            <td>
                                <a href="javascript:void(0);" ng-click="btnActions(item,'delete')">修改</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <uib-pagination class="pagination pagination-rewrite pull-right"
                                        boundary-links="true"
                                        max-size="5"
                                        total-items="pagination.totalCount"
                                        items-per-page="pagination.pageSize"
                                        ng-model="pagination.pageIndex"
                                        ng-change="getData()"
                                        previous-text="上一页"
                                        next-text="下一页"
                                        first-text="首页"
                                        last-text="尾页">
                        </uib-pagination>
                        <select class="form-control pull-right" style="width:70px;" ng-model="pagination.pageSize" ng-change="getData()">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
