<div class="widget widget-table">
    <div class="widget-header">
        <h3><i class="fa fa-table"></i>用户管理</h3>
    </div>
    <div class="widget-content">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="min-width:50px;">序号</th>
                            <th style="min-width:100px;">用户名</th>
                            <th style="min-width:100px;">邮箱</th>
                            <th style="min-width:100px;">客户编号</th>
                            <th style="min-width:50px;">状态</th>
                            <th style="min-width:100px;">用户组</th>
                            <th style="min-width:100px;">角色名</th>
                            <th style="min-width:100px;">国家码</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in dataList track by $index">
                            <td>{{$index + 1}}</td>
                            <td>{{item.userName}}</td>
                            <td>{{item.emailAddress}}</td>
                            <td>{{item.customerNumber}}</td>
                            <td>{{item.active | activeStr}}</td>
                            <td>{{item.gname}}</td>
                            <td>{{item.role_name}}</td>
                            <td>{{item.countryCode}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <uib-pagination class="pagination pagination-rewrite pull-right"
                                        boundary-links="true"
                                        max-size="5"
                                        total-items="pagination.totalCount"
                                        items-per-page="pagination.pageSize"
                                        ng-model="pagination.pageIndex"
                                        ng-change="getData()"
                                        previous-text="上一页"
                                        next-text="下一页"
                                        first-text="首页"
                                        last-text="尾页">
                        </uib-pagination>
                        <select class="form-control pull-right" style="width:70px;" ng-model="pagination.pageSize" ng-change="getData()">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
