<div class="widget widget-table">
    <div class="widget-header">
        <h3><i class="fa fa-table"></i> 库存时间</h3>
    </div>
    <div class="widget-content">
        <form> 
            <div class="row">
                <div class="col-sm-12 search-bar">
                 
                    <div class="search-col">
                        <label class="search-label">入库类型：</label>
                        <select class="form-control search-control" ng-options="sendType.key as sendType.value for sendType in sendTypes" ng-model="searchBar.sendType">
                        
                        </select>
                    </div>

                    <div class="search-col">
                        <label class="search-label">发货仓库：</label>
                        <select class="form-control search-control" ng-model="searchBar.warehouseNumber" ng-options="item.warehouseNumber as item.warehouseName for item in searchBar.warehouseList"></select>
                    </div>
                
             
               
                    <div class="search-col">
                        <label class="search-label">创建时间：起</label>
                        <p class="input-group pull-left">
                            <input type="text" class="form-control search-control" style="width:110px;" uib-datepicker-popup ng-model="searchBar.startDate"
                                is-open="searchBar.opened.startDate" show-button-bar="false" ng-click="searchBar.opened.startDate = true"
                            />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="searchBar.opened.startDate = true"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="search-col">
                        <!--<div class="search-col" ng-show="searchBar.dateRange == 'range'">-->
                        <label class="search-label">至</label>
                        <p class="input-group pull-left">
                            <input type="text" class="form-control search-control" style="width:110px;" uib-datepicker-popup ng-model="searchBar.endDate"
                                is-open="searchBar.opened.endDate" show-button-bar="false" ng-click="searchBar.opened.endDate = true"
                            />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="searchBar.opened.endDate = true"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="search-col">


                        <label class="search-label">搜索条目：</label>
                        <select class="form-control search-control" ng-model="searchBar.keywordType">

                            <option value="receiptNumber">入库单号</option>
                            <option value="userName">客户ID</option>
                            <option value="customerNumber">客户编号</option>
                            <option value="shelfNumber">架位编号</option>
                            <option value="inboundUser">入库人员</option>
                         
                        </select>
                        <input type="text" id="search" class="form-control search-control" style="margin-left:5px; width:480px;" placeholder="请输入查询关键字" ng-model="searchBar.keywords"
                        ng-enter="btnSearch()" />
                        <button type="button" id="submit" class="btn btn-primary" style="margin-left:5px;" ng-click="btnSearch()">搜索</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <!--纠正库存:进入改行商品的纠正库存页面-->
                        <tr>
                            <th>序号</th>
                            <th>客户编号</th>
                            <th>客户ID</th>
                            <th>客户标识</th>
                            <th>架位编号</th>
                            <th>入库类型</th>
                            <th>入库单号</th>
                            <th>重量</th>
                            <th>入库日期</th>
                            <th>是否出库</th>
                            <th>库存天数</th>
                            <th>入库人员</th>
                            <th>应付金额</th>
                            <th>已付金额</th>
                            <th>待付金额</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>  
                        <tr ng-repeat="item in dataList">
                            <td>{{item.rownumber}}</td> 
                            <td>{{item.customerNumber}}</td>
                            <td>{{item.userName}}</td>
                            <td>{{item.receiveIdentity}}</td>
                            <td>{{item.shelfNumber}}</td>
                            <td>{{item._sendType}}</td>
                            <td>{{item.receiptNumber}}</td>
                            <td>{{item.packageWeight | number:2}}</td>
                            <td>{{item.indate | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                            <td>{{item.isOutInventory | _outInventory}}</td>
                            <td>{{item.days}}</td>
                            <td>{{item.inboundUser}}</td>
                            <td>{{item.payMoney}}</td>
                            <td>{{item.payInventory}}</td>
                            <td>{{item.shouldPay}}</td>
                            <td><a href="javascript:void(0);" ng-click="payMoney(item)">付款</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-right pull-right">
                <uib-pagination class="pagination pagination-rewrite pull-right" boundary-links="true" max-size="5" total-items="pagination.totalCount"
                    items-per-page="pagination.pageSize" ng-model="pagination.pageIndex" ng-change="getData()" previous-text="上一页"
                    next-text="下一页" first-text="首页" last-text="尾页">
                    </uib-pagination>
                    <select class="form-control pull-right" style="width:70px;" ng-model="pagination.pageSize" ng-change="getData()">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
    </div>
</div>

<script>
    var search = document.getElementById('search');
    search.focus();
    search.addEventListener('keypress', function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            document.getElementById('submit').click();
        }
    });
</script>