<div class="widget widget-table">
    <div class="widget-header">
        <h3><i class="fa fa-table"></i> 上架管理</h3>
    </div>
    <div class="widget-content">
        <form>
            <div class="row">
                <div class="col-sm-12 search-bar">
                    <div class="col-sm-12 search-bar">
                        <div class="search-col" style="margin-bottom: 0px;">
                            <button type="button" class="btn btn-primary role" data-role="60" style="margin-left:5px;" ng-click="btnAction('onshelf')">上架登记</button>
                        </div>
                        <div class="search-col" style="margin-bottom: 0px;">
                            <button type="button" class="btn btn-primary role" data-role="62" style="margin-left:5px;" ng-click="btnAction('onshelfbatch')">批量上架</button>
                        </div>
                    </div>
                    <div class="search-col">
                        <label class="search-label">入库类型：</label>
                        <select class="form-control search-control" ng-options="sendType.key as sendType.value for sendType in sendTypes" ng-model="searchBar.sendType">
                        
                        </select>
                    </div>
                    <div class="search-col">
                        <label class="search-label">上架状态：</label>
                        <select class="form-control search-control" ng-model="searchBar.shelfStatus">
                            <option value="">所有</option>
                            <option value="0">未上架</option>
                            <option value="1">部分上架</option>
                            <option value="2">已上架</option>
                        </select>
                    </div>
                    <!--<div class="search-col">
                        <label class="search-label">打印状态：</label>
                        <select class="form-control search-control"
                                ng-model="searchBar.printStatus">
                            <option value="">所有</option>
                            <option value="0">未打印</option>
                            <option value="1">已打印</option>
                        </select>
                    </div>-->
                    <div class="search-col">
                        <label class="search-label">收货仓库：</label>
                        <select class="form-control search-control" ng-model="searchBar.warehouseNumber" ng-options="item.warehouseNumber as item.warehouseName for item in searchBar.warehouseList"></select>
                    </div>
                    <!--<div class="search-col">
                        <label class="search-label">入库时间</label>
                        <select class="form-control search-control" ng-model="searchBar.dateRange" ng-change="changeDate()">
                            <option value="">所有</option>
                            <option value="3">最近3天</option>
                            <option value="7">最近7天</option>
                            <option value="range">时间范围</option>
                        </select>
                    </div>-->
                    <!--<div class="search-col" ng-show="searchBar.dateRange == 'range'">-->
                    <div class="search-col">
                        <label class="search-label"> 上架时间: 起</label>
                        <p class="input-group pull-left">
                            <input type="text" class="form-control search-control" style="width:110px;" uib-datepicker-popup ng-model="searchBar.startDate"
                                is-open="searchBar.opened.startDate" show-button-bar="false" ng-click="searchBar.opened.startDate = true"
                            />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="searchBar.opened.startDate = true"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="search-col">
                        <!--<div class="search-col" ng-show="searchBar.dateRange == 'range'">-->
                        <label class="search-label">至</label>
                        <p class="input-group pull-left">
                            <input type="text" class="form-control search-control" style="width:110px;" uib-datepicker-popup ng-model="searchBar.endDate"
                                is-open="searchBar.opened.endDate" show-button-bar="false" ng-click="searchBar.opened.endDate = true"
                            />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="searchBar.opened.endDate = true"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="search-col">
                        <label class="search-label">搜索条目：</label>
                        <select class="form-control search-control" ng-model="searchBar.keywordType">
                            <option value="receiptNumber">入库单号</option>
                            <option value="customerNumber">客户编号</option>
                        </select>
                        <input type="text" id="search" class="form-control search-control" style="margin-left:5px; width:480px;" placeholder="请输入查询关键字"
                            ng-model="searchBar.keywords" ng-enter="btnSearch()" />
                        <button type="button" id="submit" class="btn btn-primary" style="margin-left:5px;" ng-click="btnSearch()">搜索</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>收货仓库</th>
                            <th>入库类型</th>
                            <th>入库单号</th>
                            <th>客户编号</th>
                            <th>入库时间</th>
                            <th>登记人</th>
                            <th>收货数量</th>
                            <th>上架数量</th>
                            <th>上架状态</th>
                            <th>上架时间</th>
                            <!--<th>打印状态</th>-->
                            <th>操作状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in dataList">
                            <td>{{item.rownumber}}</td>
                            <td>{{getWarehouseName(item.warehouseNumber)}}</td> 
                            <td>{{item._sendType}}</td>
                            <td><a href="javascript:void(0);" ng-click="btnAction('receipt', item)">{{item.receiptNumber}}</a></td>
                            <td>{{item.customerNumber}}</td>
                            <td>{{item.inboundDate | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                            <td>{{item.inboundUser}}</td>
                            <td>{{item.receiptCount}}</td>
                            <td>{{item.onShelfCount}}</td>
                            <td>{{item._shelfStatus}}</td>
                            <td>{{item.shelfTime | date:"MM/dd/yyyy HH:mm:ss"}}</td>
                            <td>
                                <a href="javascript:void(0)" ng-hide="{{ item._shelfStatus == '未上架' }}" ng-click="btnAction('shelf', item)">查看</a>
                                <a href="javascript:void(0)" ng-hide="{{ item._shelfStatus == '未上架' }}" ng-click="btnAction('edit', item)">修改架位</a>
                                <a href="javascript:void(0)" class="role" data-role="60" ng-hide="{{ item._shelfStatus != '未上架' }}" ng-click="btnAction('onshelf', item)">上架登记</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-left pull-left">

                <div class="btn-group">
                    <div class="dropup">
                        <button class="btn btn-primary dropdown-toggle role" data-role="61" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            打印上架清单
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="item in warehouseList" ng-click="btnPrint(item.warehouseNumber)"><a href="javascript:void(0)">{{item.warehouseName}}</a></li>
                        </ul>
                    </div>
                </div>

                <!--<button type="button" class="btn btn-primary" ng-click="btnPrint()">打印上架清单</button>-->
            </div>
            <div class="col-sm-6 text-right pull-right">
                <uib-pagination class="pagination pagination-rewrite pull-right" boundary-links="true" max-size="5" total-items="pagination.totalCount"
                    items-per-page="pagination.pageSize" ng-model="pagination.pageIndex" ng-change="getData()" previous-text="上一页"
                    next-text="下一页" first-text="首页" last-text="尾页">
                </uib-pagination>
                <select class="form-control pull-right" style="width:70px;" ng-model="pagination.pageSize" ng-change="getData()">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
    </div>
</div>
<print-unshelf></print-unshelf>


<script>
    var search = document.getElementById('search');
    search.focus();
    search.addEventListener('keypress', function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            document.getElementById('submit').click();
        }
    });

</script>