<div class="widget widget-table">
    <div class="widget-header">
        <h3><i class="fa fa-table"></i> 收货管理</h3>
    </div>
    <div class="widget-content">
        <div class="row">
            <div class="col-sm-12" style="padding:0 20px 15px 12px;">
<button type="button" class="btn btn-primary role" data-role="54" style="margin-left:5px;" ng-click="btnAction('inbound')">入库登记</button>
<button type="button" class="btn btn-primary role" data-role="55" style="margin-left:5px;" ng-click="btnAction('exception')">异常管理</button>
</div>
<div class="col-sm-12 search-bar">
    <div class="search-col">
        <label class="search-label">入库类型：</label>
        <select class="form-control search-control" ng-model="searchBar.sendType">
                        <option value="">所有</option>
                        <option value="2">海淘包裹</option>
                        <option value="1">寄送库存</option>
                    </select>
    </div>
    <div class="search-col">
        <label class="search-label">入库状态：</label>
        <select class="form-control search-control" ng-model="searchBar.inboundStatus">
                        <option value="">所有</option>
                        <option value="0">等待登记</option>
                        <option value="1">等待清点</option>
                        <option value="2">部分收货</option>
                        <option value="3">已收货</option>
                    </select>
    </div>
    <div class="search-col">
        <label class="search-label">收货仓库：</label>
        <select class="form-control search-control" ng-model="searchBar.warehouseNumber" ng-options="item.warehouseNumber as item.warehouseName for item in searchBar.warehouseList"></select>
    </div>
    <!--<div class="search-col">
                    <label class="search-label">登记时间</label>
                    <select class="form-control search-control" ng-model="searchBar.dateRange" ng-change="changeDate()">
                        <option value="">所有</option>
                        <option value="3">最近3天</option>
                        <option value="7">最近7天</option>
                        <option value="range">时间范围</option>
                    </select>
                </div>-->
    <!--<div class="search-col" ng-show="searchBar.dateRange == 'range'">-->
    <div class="search-col">
        <label class="search-label">登记时间: 起</label>
        <p class="input-group pull-left">
            <input type="text" class="form-control search-control" style="width:110px;" uib-datepicker-popup ng-model="searchBar.startDate" is-open="searchBar.opened.startDate" show-button-bar="false" ng-click="searchBar.opened.startDate
= true" />
<span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="searchBar.opened.startDate = true"><i class="fa fa-calendar"></i></button>
                        </span>
</p>
</div>
<div class="search-col">
    <!--<div class="search-col" ng-show="searchBar.dateRange == 'range'">-->
    <label class="search-label">至</label>
    <p class="input-group pull-left">
        <input type="text" class="form-control search-control" style="width:110px;" uib-datepicker-popup ng-model="searchBar.endDate" is-open="searchBar.opened.endDate" show-button-bar="false" ng-click="searchBar.opened.endDate
= true" />
<span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="searchBar.opened.endDate = true"><i class="fa fa-calendar"></i></button>
                        </span>
</p>
</div>
<div class="clearfix"></div>
<div class="search-col">
    <label class="search-label">搜索条目：</label>
    <select class="form-control search-control" ng-model="searchBar.keywordType">
                        <option value="receiptNumber">收货单号</option>>
                        <option value="customerNumber">客户编号</option>>
                        <option value="receiveIdentity">客户标识</option>>
                        <option value="userName">客户ID</option>>
                    </select>
    <input type="text" class="form-control search-control" style="margin-left:5px; width:480px;" placeholder="请输入查询关键字" ng-model="searchBar.keywords" />
<button type="button" class="btn btn-primary" style="margin-left:5px;" ng-click="btnSearch()">搜索</button>
</div>
</div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>收货仓库</th>
                    <th>入库类型</th>
                    <th>快递名称</th>
                    <th>收货单号</th>
                    <th>运单内容</th>
                    <th>客户备注</th>
                    <th>客户编号</th>
                    <th>客户ID</th>
                    <th>客户标识</th>
                    <th>登记时间</th>
                    <th>登记人</th>
                    <th>入库状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in dataList">
<td>{{item.rownumber}}</td>
<td>{{item.warehouseName}}</td>
<td>{{item._sendType}}</td>
<td>{{item.carrierName}}</td>
<td><a href="javascript:void(0)" ng-click="btnAction('inbound', item)">{{item.receiptNumber}}</a></td>
<td>
    <div class='requirement_css'>
    <span ng-mouseenter="show=true" ng-mouseleave="show=false" class="m-l">{{item.packageDescription1}}<span ng-show="item.packageDescriptionFlag">...</span></span>
    </div>
    <div ng-show="show" style="padding:10px 0;font-size: 14px;line-height: 100% ; background-color:#f3f3f3; ">
   <a>{{ item.packageDescription }}</a>
   </div>
</td>
<td>
      <div class='requirement_css'>
    <span ng-mouseenter="show1=true" ng-mouseleave="show1=false" class="m-l">{{item.packageNote1}}<span ng-show="item.packageNoteFlag">...</span></span>
    </div>
    <div ng-show="show1" style="padding:10px 0;font-size: 14px;line-height: 100% ; background-color:#f3f3f3; ">
   <a>{{ item.packageNote }}</a>
   </div>
    
  </td>
<td><a href="javascript:void(0)" ng-click="btnOpenDetail('customerDetail',item)"> {{item.customerNumber}}</a></td>
<td>{{item.userName}}</td>
<td>{{item.receiveIdentity}}</td>
<td>{{item.inboundDate | date:'MM/dd/yyyy HH:mm:ss'}}</td>
<td>{{item.inboundUser}}</td>
<td>{{item._inboundStatus}}</td>
<td>
    <a href="javascript:void(0)" class="role" data-role="54" ng-click="btnAction('inbound', item)" ng-if="item.inboundStatus <= 1">登记入库</a>
    <a href="javascript:void(0)" ng-click="btnOpenDetail('receiptDetail', item)" ng-if="item.inboundStatus > 1">查看</a>
    <a href="javascript:void(0)" class="role" data-role="89" ng-click="btnAction('check', item)" ng-if="item.sendType == 1 && item.inboundStatus == 1">清点</a>
    <a href="javascript:void(0)" class="role" data-role="56" ng-click="btnAction('delete', item)" ng-if="item.inboundStatus <= 1">删除</a>
</td>
</tr>
</tbody>
</table>
<div class="row">
    <div class="col-sm-12 text-right">
        <uib-pagination class="pagination pagination-rewrite pull-right" boundary-links="true" max-size="5" total-items="pagination.totalCount"
            items-per-page="pagination.pageSize" ng-model="pagination.pageIndex" ng-change="getData()" previous-text="上一页" next-text="下一页"
            first-text="首页" last-text="尾页">
        </uib-pagination>
        <select class="form-control pull-right" style="width:70px;" ng-model="pagination.pageSize" ng-change="getData()">
<option value="10">10</option>
<option value="20">20</option>
<option value="50">50</option>
<option value="100">100</option>
</select>
</div>
</div>
</div>
</div>
</div>
</div>




<style>


    .requirement_css {       height: 20px;     font-size: 16px;             text-overflow: ellipsis;     white-space: nowrap; }

</style>