<div class="widget widget-table">
    <div class="widget-header">
        <h3><i class="fa fa-table"></i> 异常管理</h3>
    </div>
    <div class="widget-content">
        <form>
            <div class="row">
                <div class="col-sm-12" style="padding:0 20px 15px 12px;">
                    <button type="button" class="btn btn-primary role" data-role="57" style="margin-left:5px;" ng-click="btnAction('exceptionRegister')">异常登记</button>
                    <button type="button" class="btn btn-primary role" data-role="57" style="margin-left:5px;" ng-click="btnAction('staff')">员工包裹</button>
                </div>
                <div class="col-sm-12 search-bar">
                    <div class="search-col">
                        <label class="search-label">入库类型：</label>
                        <select class="form-control search-control" ng-model="searchBar.sendType">
                            <option value="">所有</option>
                            <option value="2">海淘包裹</option>
                            <option value="1">寄送库存</option>
                        </select>
                    </div>
                    <div class="search-col">
                        <label class="search-label">异常状态：</label>
                        <select class="form-control search-control" ng-model="searchBar.status">
                            <option value="">所有</option>
                            <option value="1">未解决</option>
                            <option value="2">已关闭</option>
                            <option value="-1">已删除</option>
                        </select>
                    </div>
                    <div class="search-col">
                        <label class="search-label">收货仓库：</label>
                        <select class="form-control search-control" ng-model="searchBar.warehouseNumber" ng-options="item.warehouseNumber as item.warehouseName for item in searchBar.warehouseList"></select>
                    </div>
                    <!--<div class="search-col">
                        <label class="search-label">登记时间：</label>
                        <select class="form-control search-control" ng-model="searchBar.dateRange" ng-change="changeDate()">
                            <option value="">所有</option>
                            <option value="3">最近3天</option>
                            <option value="7">最近7天</option>
                            <option value="range">时间范围</option>
                        </select>
                    </div>-->
                    <div class="search-col">
                        <label class="search-label">开始日期：</label>
                        <p class="input-group pull-left">
                            <input type="text" class="form-control search-control" style="width:110px;" uib-datepicker-popup ng-model="searchBar.startDate" is-open="searchBar.opened.startDate" show-button-bar="false" ng-click="searchBar.opened.startDate = true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="searchBar.opened.startDate = true"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="search-col">
                        <label class="search-label">结束日期：</label>
                        <p class="input-group pull-left">
                            <input type="text" class="form-control search-control" style="width:110px;" uib-datepicker-popup ng-model="searchBar.endDate" is-open="searchBar.opened.endDate" show-button-bar="false" ng-click="searchBar.opened.endDate = true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="searchBar.opened.endDate = true"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="search-col">
                        <label class="search-label">搜索条目：</label>
                        <select class="form-control search-control" ng-model="searchBar.keywordType">
                            <option value="receiptNumber">收货单号</option>
                            <option value="exceptionNumber">异常编号</option>
                            <option value="customerNumber">客户编号</option>
                        </select>
                        <input type="text"  id="search" class="form-control search-control" style="margin-left:5px; width:480px;" placeholder="请输入查询关键字" ng-model="searchBar.keywords" ng-enter="btnSearch()"/>
                        <button type="button" id="submit"  class="btn btn-primary" style="margin-left:5px;" ng-click="btnSearch()">搜索</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>收货仓库</th>
                            <th>入库类型</th>
                            <th>异常编号</th>
                            <th>收货单号</th>
                            <th>客户编号</th>
                            <th>登记时间</th>
                            <th>登记人</th>
                            <th>异常类型</th>
                            <th>异常状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in dataList">
                            <td>{{item.rownumber}}</td>
                            <td>{{item.warehouseName}}</td>
                            <td>{{item._sendtype}}</td>
                            <td>{{item.exceptionNumber}}</td>
                            <td><a href="javascript:void(0)" ng-click="btnOpenDetail('receiptDetail', item)">{{item.receiptNumber}}</a></td>
                            <td><a href="javascript:void(0)" ng-click="btnOpenDetail('customerDetail',item)">{{item.customerNumber}}</a></td>
                            <td>{{item.indate | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                            <td>{{item.inuser}}</td>
                            <td>{{item._type}}</td>
                            <td>{{item._status}}</td>
                            <td>
                                <a href="javascript:void(0)" ng-click="btnOpenDetail('exceptionDetail', item)">查看</a>
                                <a href="javascript:void(0)" class="role" data-role="58" ng-click="btnAction('close', item)" ng-if="item.status == 1">关闭异常</a>
                                <a href="javascript:void(0)" class="role" data-role="59" ng-click="btnAction('delete', item)" ng-if="item.status == 1">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <uib-pagination class="pagination pagination-rewrite pull-right" boundary-links="true" max-size="5" total-items="pagination.totalCount" items-per-page="pagination.pageSize" ng-model="pagination.pageIndex" ng-change="getData()" previous-text="上一页" next-text="下一页"
                            first-text="首页" last-text="尾页">
                        </uib-pagination>
                        <select class="form-control pull-right" style="width:70px;" ng-model="pagination.pageSize" ng-change="getData()">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button type="button" class="btn btn-default" ng-click="btnPrev()"><i class="fa fa-reply"></i>返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var search = document.getElementById('search');
    search.focus();
    search.addEventListener('keypress', function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            document.getElementById('submit').click();
        }
    });
</script>