<div class="widget">
    <div class="widget-header">
        <h3><i class="fa fa-edit"></i> 入库登记</h3>
    </div>
    <div class="widget-content">
        <form class="form-horizontal" role="form">
            <!--<div class="form-group">
                <label class="col-sm-2  text-right">是否是员工包裹<span class="required-indicator" style="color:red">*</span></label>
                <label><input name="pro"  type="radio"  value=true /> 是</label>
                <label><input name="pro"  type="radio" checked value=false /> 否</label>
            </div>-->
            <div class="form-group">
                <label class="col-sm-2 control-label text-right">入库单号：<span class="required-indicator" style="color:red">*</span></label>
                <div class="col-sm-10 text-left">
                    <input id="txtTrackingNumber" type="text" class="form-control" placeholder="入库单号" ng-model="data.trackingNumber" ng-keyup="myKeyup_1($event)">
                    <span ng-if="data.isFastOrder == 1" title="极速原箱">
                        <i class="fa fa-bolt" aria-hidden="true" style="color: #ff6a00;font-size: 16px;display: flex;margin-left: 150px; margin-top: -26px;"></i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label text-right">收货仓库：<span class="required-indicator" style="color:red">*</span></label>
                <div class="col-sm-10 text-left">
                    <select class="form-control" id="warehouseNumber" ng-model="data.warehouseNumber" ng-disabled="tpl_status.isExist == true" ng-options="item.key as item.value for item in warehouseList">
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label text-right">快递名称：</label>
                <div class="col-sm-10 text-left">
                    <select class="form-control" id="carrierName" ng-model="data.carrierName" ng-disabled="tpl_status.isExist == true">
                        <option value="">请选择快递名称</option>
                        <option value="DHL">DHL</option>
                        <option value="EMS">EMS</option>
                        <option value="FEDEX">FEDEX</option>
                        <option value="UPS">UPS</option>
                        <option value="其他快递">其他快递</option>
                    </select>
                </div>
            </div>
            <!--ng-blur="checkReceiveIdentity()"-->
            <div class="form-group">
                <label class="col-sm-2  text-right">客户标示：<span class="required-indicator" style="color:red">*</span></label>
                <div class="col-sm-10 text-left">
                    <input type="text" class="form-control"  ng-blur="getReceiveIdentity()"   ng-keyup="checkReceiveIdentity($event)" placeholder="客户标示" id='receiveIdentity' ng-model="data.receiveIdentity" ng-disabled="tpl_status.isExist == true">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2  text-right">客户编号：<span class="required-indicator" style="color:red">*</span></label>
                <div class="col-sm-10 text-left">
                    <input focus type="text" placeholder="客户编号" class="form-control" ng-keyup="checkReceive($event);" ng-blur="checkCustomerNumber($event)" ng-model="data.customerNumber" id='customerNumber' ng-disabled="tpl_status.isExist == true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label text-right">运单内容：</label>
                <div class="col-sm-10 text-left">
                    <input type="text" id="packageDescription" class="form-control" placeholder="运单内容" ng-model="data.packageDescription" ng-disabled="tpl_status.isExist == true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label text-right">运单备注信息：</label>
                <div class="col-sm-10 text-left">
                    <textarea id="packageNote" class="form-control" rows="5" cols="30" placeholder="运单备注信息" ng-model="data.packageNote" ng-disabled="tpl_status.isExist == true"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2  text-right">包裹重量：<span class="required-indicator" style="color:red">*</span></label>
                <div class="col-sm-10 text-left">
                    <input type="number" ng-keyup="myKeyup($event)" id="packageWeight" class="form-control" placeholder="包裹重量" ng-model="data.packageWeight" ng-disabled="tpl_status.isExist_p == true">
                </div>
            </div>
            <!--<div class="form-group" ng-if="data.packageWeight > 0">
                <label class="col-sm-2  text-right">包裹重量：<span class="required-indicator" style="color:red">*</span></label>
                <div class="col-sm-10 text-left">
                    <input type="number" ng-keyup="myKeyup($event)" id="packageWeight1" class="form-control" placeholder="包裹重量" ng-model="data.packageWeight" ng-disabled="tpl_status.isExist == true">
                </div>             
            </div>-->
            <div class="form-group">
                <label class="col-sm-2 control-label text-right">仓库备注：</label>
                <div class="col-sm-10 text-left">
                    <textarea class="form-control" id="warehouseNote" rows="5" cols="30" placeholder="仓库备注" ng-model="data.warehouseNote"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="hidden" ng-keyup="myKeyup($event)" id="inboundStatus" class="form-control" placeholder="包裹重量" ng-model="data.inboundStatus">
                    <button type="button" class="btn btn-primary" ng-click="register()" ng-if="data.inboundStatus <= 1">登记并打印入库单</button>
                    <button type="button" class="btn btn-primary" ng-click="print()" ng-if="data.inboundStatus > 1">重新打印入库单</button>
                    <button type="button" class="btn btn-primary" ng-click="btnException()" ng-if="!!data"><i class="fa fa-warning"></i>异常登记</button>
                    <button type="button" class="btn btn-primary" ng-click="btnPrev();">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
<print-inbound-package></print-inbound-package>
<print-helper></print-helper>


<script>
    var trackingNumber = document.getElementById("txtTrackingNumber");
    var receiveIdentity = document.getElementById("receiveIdentity");
    var carrierName = document.getElementById("carrierName");
    var warehouseNumber = document.getElementById("warehouseNumber");
    var packageDescription = document.getElementById("packageDescription");
    var packageNote = document.getElementById("packageNote");
    var packageWeight = document.getElementById("packageWeight");
    var warehouseNote = document.getElementById("warehouseNote");
    var customerNumber = document.getElementById("customerNumber");
    var inboundStatus = document.getElementById("inboundStatus");



    // trackingNumber.onkeydown = function(event) {
    //     e = event ? event : (window.event ? window.event : null);
    //     // 按下回车键且输入框值非空时  
    //     if (e.keyCode == 13 && trackingNumber.value) {
    //         warehouseNumber.focus();
    //     }
    // }
    warehouseNumber.onkeydown = function(event) {
        e = event ? event : (window.event ? window.event : null);
        // 按下回车键且输入框值非空时  
        if (e.keyCode == 13 && warehouseNumber.value) {
            carrierName.focus();
        }
    }
    carrierName.onkeydown = function(event) {
            e = event ? event : (window.event ? window.event : null);
            // 按下回车键且输入框值非空时  
            if (e.keyCode == 13 && carrierName.value) {
                receiveIdentity.focus();
            }
        }
        // receiveIdentity.onkeydown = function(event) {
        //     e = event ? event : (window.event ? window.event : null);
        //     // 按下回车键且输入框值非空时  
        //     if (e.keyCode == 13 && receiveIdentity.value) {
        //         customerNumber.focus();
        //     }
        // }
        // customerNumber.onkeydown = function(event) {
        //     e = event ? event : (window.event ? window.event : null);
        //     // 按下回车键且输入框值非空时  
        //     if (e.keyCode == 13 && customerNumber.value) {
        //         packageDescription.focus();
        //     }
        // }
    packageDescription.onkeydown = function(event) {
        e = event ? event : (window.event ? window.event : null);
        // 按下回车键时
        if (e.keyCode == 13) {
            packageNote.focus();
        }
    }
    packageNote.onkeydown = function(event) {
        e = event ? event : (window.event ? window.event : null);
        if (e.keyCode == 13) {
            packageWeight.focus();
        }
    }
</script>