<div class="widget">
    <div class="widget-header">
        <h3><i class="fa fa-edit"></i> 打包登记——线上订单</h3>
    </div>
    <div class="widget-content">
        <form class="form-horizontal" role="form">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">入库单号：</label>
                    <div class="col-sm-4">
                        <input type="text" id="tempInboundPackageNumber" class="form-control" ng-model="tempInboundPackageNumber" ng-keyup="keyDown($event)"
                        />
                    </div>
                </div>
            </fieldset>
            <fieldset ng-show="!!data">
                <legend>基本信息</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">客户编号：</label>
                    <div class="col-sm-4">
                        <label class="control-label">{{data.customer.customerNumber}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">订单编号：</label>
                    <div class="col-sm-4">
                        <label class="control-label">{{data.orderNumber}}</label>
                    </div>
                </div>
            </fieldset>
            <fieldset ng-show="!!data">
                <legend>收货明细</legend>
                <div class="row col-sm-8 col-sm-offset-1" ng-repeat="item in data.inboundPackages">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 30%;">入库单号</th>
                                <th style="width: 30%;">重量（磅）</th>
                                <th style="width: 30%;" class="text-center">已扫描</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{item.trackingNumber}}</td>
                                <td>{{item.packageWeight}}</td>
                                <td class="text-center"><i class="fa fa-check btn-icon green" ng-show="item.checked"></i>
                                    <input type="checkbox" ng-model="item.checked">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">申报价值：</label>
                    <div class="col-sm-4">
                        <label class="control-label">{{data.declareGoodsValue}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right"></label>
                    <div class="col-sm-6">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 30%;">申报品名</th>
                                    <th style="width: 30%;">商品描述</th>
                                    <th style="width: 40%;">申报数量</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in data.orderItems">
                                    <td>{{item.itemBrand}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.quantity}}</td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
            <fieldset ng-show="!!data">
                <legend>打包明细</legend>
                <div class="row col-sm-8 col-sm-offset-1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 20%;">转运包裹编号</th>
                                <th style="width: 20%;">AU单号</th>
                                <th style="width: 20%;">实际重量（磅）</th>
                                <th style="width: 20%;">货物子品名</th>
                                <th style="width: 20%;">数量</th>
                                <th style="width: 40%;" class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in data.outboundPackages">
                                <td>{{item.trackingNumber}}</td>
                                <td>
                                <input type="text" class="form-control" ng-model="item.tempTrackingNumber" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="item.actualWeight" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="item.subDeclareGoodsName" />
                                </td>
                                <td>
                                    <input type="number" class="form-control" ng-blur="checkNum(item)" ng-model="item.subGoodNumber" />
                                </td>
                                <td class="" style="height:65px;width:300px;">
                                    <div class="btn-tootip-left">
                                        <span ng-if="!isPrint">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </div>
                                    <div class="" ng-show="data.orderStatus != 'Shipped'">
                                        <a href="javascript:void(0);" ng-click="btnPrint(item)" ng-mouseover="isPrint = true" ng-mouseleave="isPrint = fasle" style="float: left;"><i class="fa fa-print btn-icon red"></i></a>
                                        <a href="javascript:void(0);" ng-click="btnSplitPackage(item)" ng-mouseover="isSplit = true" ng-mouseleave="isSplit = fasle"
                                            style="float: left;"><i class="fa fa-cubes btn-icon red"></i></a>
                                        <a href="javascript:void(0);" ng-click="btnDelPackage(item)" ng-mouseover="isDel = true" ng-mouseleave="isDel = false" style="float: left;"><i class="fa fa-delicious btn-icon red"></i></a>
                                    </div>
                                    <div class="btn-tootip-right">
                                    </div>
                                    <div class="btn-tootip-bom">
                                        <div style="width:31px;float: left">
                                            <span ng-if="!isPrint">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            <span ng-if="isPrint">打印</span>
                                        </div>
                                        <div style="width:31px;float: left">
                                            <span ng-if="!isSplit">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            <span ng-if="isSplit">分箱</span>
                                        </div>
                                        <div style="width:31px;float: left">
                                            <span ng-if="!isDel">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            <span ng-if="isDel">删除</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
            <div class="form-group text-center">
                <button type="button" class="btn btn-primary" ng-click="btnSave()" ng-show="!!data">
                    <i class="fa fa-save"></i>确认
                </button>
                <button type="button" class="btn btn-default" ng-click="btnPrev()">
                    <i class="fa fa-reply"></i>返回
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        var weight = document.getElementById("tempInboundPackageNumber").focus();
    })

</script>