<div class="widget">
    <div class="widget-header">
        <h3><i class="fa fa-edit"></i> 查看架位</h3>
    </div>
    <div class="widget-content">
        <form class="form-horizontal" role="form">
            <fieldset>
                <div class="form-group green">
                    <label class="col-sm-2 control-label text-right">架位编号：</label>
                    <div class="col-sm-4 text-left">
                        <label class="control-label">{{data.shelfNumber}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">所在仓库：</label>
                    <div class="col-sm-4 text-left">
                        <label class="control-label">{{ warehouseName }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-6">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>货物区域</th>
                                    <th>货架排</th>
                                    <th>货架层</th>
                                    <th>货位</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{data.shelfArea}}</td>
                                    <td>{{data.shelfRow}}</td>
                                    <td>{{data.shelfLayer}}</td>
                                    <td>{{data.shelfPosition}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">商品总数：</label>
                    <div class="col-sm-4 text-left">
                        <label class="control-label">{{data.itemCount}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <div class="row">
                            <div class="col-sm-4" ng-repeat="item in data.shelfItemList">
                                <label class="control-label">
                                <a href="javascript:void(0)" ng-click="btnAction('detail',item)" >{{item.itemNumber}} x {{item.itemCount}}</a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default" ng-click="btnPrev()"><i class="fa fa-reply"></i>返回</button>
                </div>
            </div>
        </form>
    </div>
</div>