.new-footer {
  background: url('../../img/bt-bg.png') no-repeat left center;
  background-size: cover;
}
.first-row {
  background: rgba(0, 0, 0, 0.6)
}
.first-row .search-row {
  height: 140px;
  background: rgba(255, 176, 25, 1);
  border-radius: 10px;
  text-align: center;
  margin: 90px 0;
}
.first-row .search-icon {
  margin-top: -50px
}
.first-row .search-title {
  display: inline-block;
  width: 25%;
  margin-right: 55px;
  text-align: right;
}
.first-row .big-title {
  display: block;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
.first-row .sm-title {
  color: #fff;
  font-size: 14px;
}
.first-row .search-right {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  margin-top: 10px;
}
.first-row .search-txt {
  display: inline-block;
  box-sizing: border-box;
  width: 68%;
  height: 45px;
  background-color: transparent;
  border: solid 1px #dcdcdc;
  padding: 0 15px;
  color: #fff;
}
.first-row .search-btn {
  box-sizing: border-box;
  display: inline-block;
  width: 26%;
  padding-left: 30px;
  height: 45px;
  margin-left: 10px;
  position: relative;
  line-height: 45px;
  vertical-align: middle;
  text-align: left;
  background: #fff url('../../../assets/img/icon-search-bg.png') no-repeat right center;
  background-size: auto;
  border: solid 1px #dcdcdc;
  color: #5e5e5e;
}
.first-row .search-sm-icon {
  position: absolute;
  right: 10px;
  top: 12px;
}
.first-row .footer-title {
  margin: 70px 0 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.col-title{
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  position: relative;
  text-align: left;
  padding-right: 15px;
  margin-top: -45px;
  margin-bottom: 30px;
  display: block;
}


.col-title:after{
  top: 3px;
  right: 10%;
  width: 1px;
  height: 9px;
  content: '';
  background: #eee;
  position: absolute;
}
.last-row {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
}
.last-row a {
  display: block;
  color: #fff;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

.last-row .col-md-3 {
  padding-right: 0;
}

.last-row .footer-remark {
  text-align: right;
  margin-top: 80px;
}

.last-row .footer-logo {
  margin-top: 110px;
}

.last-row .rk-company {
  font-size: 12px;
  color: #fff;
}

.last-row .rk-title {
  font-size: 20px;
  color: #ffb830;
  font-weight: bold;
}

.last-row .footer-hr {
  width: 100%;
  border-top: solid 1px #514d47;
  height: 0;
  margin: 20px 0;
}

.last-row .footer-site-remark {
  margin: 10px 0;
  font-size: 12px;
  color: #fff;
}

.footer-site-remark a {
  display: inline !important;
  line-height: 15px;
}

@media (max-width: 768px) {
  .col-title{
    display: none;
  }
  .first-row .search-title {
    display: none;
  }

  .first-row .search-right {
    width: 90%;
  }
}
