<div style="display:none;">
    <style>
        .image1 {
            width: 90%;
            margin-left:5%;
            margin-right:5%;
            height: 40%;
            margin-top: 20px;
        }
        .image2 {
            width: 90%;
            margin-left:5%;
            margin-right:5%;
            height: 40%;
            margin-top: 10px;
        }
        
        .title {
            text-align: center;
            font-size: 22px;
            margin-left: 40%;
        }
    </style>



    <div id="printTemplate">
        <!--<span class="title"> 身份证打印</span>-->
        <div ng-if="dataList.length != 1">
            <div style="height:100%;" ng-repeat="data in dataList track by $index">
                <div>
                    <div>收货人姓名：{{data.receivePersonName}}</div>
                    <div>身份证号11111：{{data.idCard}}</div>
                    <div>
                        <div class="image1">
                            <img ng-src="{{data.idCardFrontUrl}}" />
                        </div>
                        <div class="image2">
                            <img ng-src="{{data.idCardBackUrl}}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="dataList.length == 1">
            <div style="height:90%" ng-repeat="data in dataList track by $index">
                <div>
                    <div>收货人姓名：{{data.receivePersonName}}</div>
                    <div>身份证号：{{data.idCard}}</div>
                    <div>
                        <div class="image">
                            <img ng-src="{{data.idCardFrontUrl}}" />
                        </div>
                        <div class="image">
                            <img ng-src="{{data.idCardBackUrl}}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>