<div style="display:none;">
<style>
        #printTemplate div {
            text-align: center;
            font-size: 10px;
        }
        /*#printTemplate hr {
            margin-top: 2px !important;
            margin-bottom: 2px !important;
            border-style: dashed;
        }*/

        .row:not(:last-child) {
            border-bottom: 1px solid #ccc;
        }

        .col-xs-4:not(:last-child) {
            border-right: 1px solid #ccc;
        }

        /*#printTemplate th, td {
            padding: 2px;
        }*/
        #printTemplate .barcode {
            margin: 2 auto;
        }
    </style>
<div id="printTemplate">
    <!--<div>-->
        <!--<img src="assets/img/kingadmin-logo.png" />-->
        <!--<span>CUL 中美速递 www.culexpress.com</span>-->
    <!--</div>-->
    <div class="row" style="font-size:20px">
        {{dataOne.receipt}}
        <i class="fa fa-bolt" ng-if="data.isFastShip == 1"></i>
        <!--<img src="/images/fast-icon.png" style="width:20px; height:10px;" ng-if="data.isFastShip == 1"/>-->
    </div>
    <!--<hr>-->
    <div class="row">
        <div class="barcode" itemNumber="{{dataOne.receiptNumber}}"></div>
    </div>
    <!--<hr>-->
    <div class="row">
        <div class="col-xs-4" style="text-align:right;font-size:8px"><small>{{dataOne.receiveIdentity}}</small></div>
        <div class="col-xs-8" style="text-align:left;font-size:8px"><small>{{dataOne.customerNumber}}</small></div>
    </div>
    <!--<hr>-->
    <div class="row">
        <div class="col-xs-4" style="text-align:right;font-size:8px">{{dataOne.packageWeight}}</div>
        <div class="col-xs-8" style="text-align:left;font-size:8px">{{dataOne.createDate | date:'yyyy-MM-dd HH:mm'}}</div>
    </div>
    <!--<hr>-->


    <!--<table cellpadding="2" cellspacing="0" border="1" width="280px" ng-repeat="data in dataList">
        <tr>
            <th colspan="3">
                <label style="font-size:20px;">{{data.receipt}}</label>
            </th>
        </tr>
        <tr>
            <td colspan="3">
                <div class="barcode" itemNumber="{{data.receiptNumber}}"></div>
            </td>
        </tr>

        <tr>
            <td style="text-align:center;" colspan="1">
                 <img src="/images/fast-icon.png" style="width:30px; height:20px;" ng-if="data.isFastShip == 1" />
            </td>
            <td colspan="2">
                <label style="margin-right: 30px;">{{data.receiveIdentity}}</label>
                <label>{{data.customerNumber}}</label>
            </td>
        </tr>
        <tr>
            <td colspan="1" style="width: 80px;text-align:right;">{{data.packageWeight}}</td>
            <td colspan="2">{{data.createDate | date:'yy-MM-dd HH:mm'}}</td>
        </tr>
    </table>-->
</div>
</div>