<div style="display:none;">
    <style>
        .image {
            width: 30%;
            height: 30%;
            margin: 80px 0;
            ;
        }
        
        .title {
            text-align: center;
            font-size: 22px;
            margin-left: 40%;
        }
    </style>



    <div id="printTemplate">
        <span class="title"> 身份证打印</span>
        <div style="height:95%;" ng-repeat="data in dataList track by $index">
            <div>
                <div>收货人姓名：{{data.receivePersonName}}</div>
                <div>身份证号：{{data.idCard}}</div>
                <div>
                    <div class="image">
                        <img src="http://cul-test.oss-cn-shenzhen.aliyuncs.com/{{data.idCardBack}}" />
                    </div>
                    <div class="image">
                        <img src="http://cul-test.oss-cn-shenzhen.aliyuncs.com/{{data.idCardFront}}" />
                    </div>

                </div>
            </div>

        </div>
    </div>