<style>
    #print_FLYINGExpress_Empty_Template th {
        text-align: center;
    }

    #print_FLYINGExpress_Empty_Template th, td {
        padding: 2px;
    }

    #print_FLYINGExpress_Empty_Template td.title {
        width: 100px;
        text-align: center;
    }

    #print_FLYINGExpress_Empty_Template .barcode {
        margin: 0 auto;
    }
</style>
<div id="print_FLYINGExpress_Empty_Template">
    <div style="height: 5%"><img src="assets/img/kingadmin-logo.png" /></div>
    <table cellpadding="2" cellspacing="0" border="1" width="100%" height="45%">
        <tr>
            <th style="height: 25%; border-right: 0px none;">
                <div style="text-align:center; float:left;">
                    <!-- <div><img src="assets/img/FlyingExpress.jpg" /></div> -->
                    <div><label style="font-size:12px; font-weight: 100;">Tel:0532-83867106</label></div>
                    <div><label style="font-size:12px; font-weight: 100;">Tel:0532-83867156</label></div>
                </div>
            </th>
            <th style="height: 25%; border-left: 0px none;">
                <br />
            </th>
        </tr>
        <tr>
            <td height="30%" style="">
                <label style="width:100%;height:80%;">Shipper:</label>
                <label style="width:45%;height:20%;">Tel:</label>
                <label style="width:50%;height:20%; text-align:right;">PP</label>
            </td>
            <td height="30%">
                <label style="width:100%;height:80%;">Consignee:</label>
                <label style="width:45%;height:20%;">Tel:</label>
                <label style="width:50%;height:20%; text-align:right;">CC</label>
            </td>
        </tr>
        <tr>
            <td colspan="2" height="30%" style="font-size:12px; font-weight: 100;">
                <label style=" width: 49%; height: 24%; padding-top: 1%; padding-bottom: 1%;">Description:</label>
                <label style=" width: 48%; height: 24%; padding-top: 1%; padding-bottom: 1%;">
                    
                </label>
                <label style="width: 100%; height: 54%; padding-top: 1%;">PCS:</label>
                <label style="width: 24%; height: 18%;">Shipper:</label>
                <label style="width: 24%; height: 18%;">Pick up:</label>
                <label style="width: 24%; height: 18%;">Deliver:</label>
                <label style="width: 24%; height: 18%;">Consignee:</label>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-size:12px; font-weight: 100; width: 100%;">
                <label style="float:left;">Remarks:</label>
                <div style="clear:both;"></div>
                <div style="float:right;">
                    <div class="barcode" trackingNumber="${trackingNumber}"></div>
                </div>
            </td>
        </tr>
    </table>
    <hr style="margin:2.5% auto; width:100%; color: #666;" />
    <table cellpadding="2" cellspacing="0" border="1" width="100%" height="45%">
        <tr>
            <th style="height: 25%; border-right: 0px none;">
                <div style="text-align:center; float:left;">
                    <div><img src="assets/img/FlyingExpress.jpg" /></div>
                    <div><label style="font-size:12px; font-weight: 100;">Tel:0532-83867106</label></div>
                    <div><label style="font-size:12px; font-weight: 100;">Tel:0532-83867156</label></div>
                </div>
            </th>
            <th style="height: 25%; border-left: 0px none;">
                <br />
            </th>
        </tr>
        <tr>
            <td height="30%" style="">
                <label style="width:100%;height:80%;">Shipper:</label>
                <label style="width:45%;height:20%;">Tel:</label>
                <label style="width:50%;height:20%; text-align:right;">PP</label>
            </td>
            <td height="30%">
                <label style="width:100%;height:80%;">Consignee:</label>
                <label style="width:45%;height:20%;">Tel:</label>
                <label style="width:50%;height:20%; text-align:right;">CC</label>
            </td>
        </tr>
        <tr>
            <td colspan="2" height="30%" style="font-size:12px; font-weight: 100;">
                <label style=" width: 49%; height: 24%; padding-top: 1%; padding-bottom: 1%;">Description:</label>
                <label style=" width: 48%; height: 24%; padding-top: 1%; padding-bottom: 1%;">

                </label>
                <label style="width: 100%; height: 54%; padding-top: 1%;">PCS:</label>
                <label style="width: 24%; height: 18%;">Shipper:</label>
                <label style="width: 24%; height: 18%;">Pick up:</label>
                <label style="width: 24%; height: 18%;">Deliver:</label>
                <label style="width: 24%; height: 18%;">Consignee:</label>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-size:12px; font-weight: 100; width: 100%;">
                <label style="float:left;">Remarks:</label>
                <div style="clear:both;"></div>
                <div style="float:right;">
                    <div class="barcode" trackingNumber="${trackingNumber}"></div>
                </div>
            </td>
        </tr>
    </table>
</div>