<div style="display:none;">
<style>
        #printTemplate th {
            text-align: center;
        }

        #printTemplate th, td {
            padding: 5px;
        }
        #printTemplate .barcode {
            margin: 0 auto;
        }
    </style>
<div id="printTemplate">
    <!--<div>-->
        <!--<img src="assets/img/kingadmin-logo.png" />-->
        <!--<span>CUL 中美速递 www.culexpress.com</span>-->
    <!--</div>-->
    <table cellpadding="2" cellspacing="0" border="1" width="280px" ng-repeat="data in dataList">
        <tr>
            <th colspan="3">
                <label style="font-size:20px;">{{data.receipt}}</label>
            </th>
        </tr>
        <tr>
            <td colspan="2">
                <div class="barcode" itemNumber="{{data.receiptNumber}}"></div>
            </td>
        </tr>

        <tr>
            <td style="text-align:center;" colspan="1">
                 <!--<img src="/images/fast-ship.png" style="width:30px; height:30px;" ng-if="data.isFastShip == 1" />-->
                 <img src="/images/fast-icon.png" style="width:30px; height:30px;" ng-if="data.isFastShip == 1" />
            </td>
            <td>
                <label style="margin-right: 30px;">{{data.receiveIdentity}}</label>
                <label>{{data.customerNumber}}</label>
            </td>
        </tr>
        <tr>
            <td style="width: 80px;text-align:right;">{{data.packageWeight}}</td>
            <td>{{data.createDate | date:'yy-MM-dd HH:mm'}}</td>
        </tr>
    </table>
</div>
</div>