<div style="display: none;">
    <style>
        #print_FLYINGExpress_Template th {
            text-align: center;
        }

        #print_FLYINGExpress_Template th,
        td {
            padding: 2px;
            font-size: 12px;
            font-weight: 400;
        }

        #print_FLYINGExpress_Template td.title {
            width: 100px;
            text-align: center;
        }

        #print_FLYINGExpress_Template .barcode {
            margin: 0 auto;
        }

        #print_FLYINGExpress_Template .image {
            width: 17%;
            float: left;
        }
    </style>

    <div id="print_FLYINGExpress_Template" ng-repeat="data in dataList" style="height:100%;text-align: center;">
        <div style="width:47.62%;height: 60.61%;margin: auto;">
            <div>
                <img class="image" src="assets/img/kingadmin-logo.png" />
            </div>
            <table border="1" cellpadding="2" cellspacing="0" width="100%">
                <tr>
                    <td colspan="8">
                        <div>
                            <span>寄件方：CULEXPRESS({{data.warehouseName}})</span><br>
                            <span ng-if="data.warehouseNumber == 1">仓库地址：835 S Lawson St, City of Industry, CA 91748</span><br>
                            <span ng-if="data.warehouseNumber == 2">仓库地址：150 quigley Blvd，NEW CASTLE，DE 19720</span><br>
                        </div>
                    </td>
                    <td colspan="2">
                        <div>
                            原寄地：LAX
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" ng-if="data.shipServiceId != 9 && data.shipServiceId != 10 ">
                        <div>
                            <span>收件方：{{data.xtShipInfo.shipto}}
                            </span><br>
                        </div>
                    </td>
                    <td colspan="8" ng-if="data.shipServiceId == 9 || data.shipServiceId == 10 ">
                        <div>
                            <span>收件方：{{data.xtShipInfo.shipto}}
                            </span><br>
                        </div>
                    </td>
                    <td colspan="2">
                        <div>
                            目的地：
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="10">
                        <div style="text-align:center; float:left; padding:3px 15px;">
                            <div>
                                <label style="font-size:12px; font-weight: 100;">Tel:0532-83867106</label>
                            </div>
                            <div>
                                <label style="font-size:12px; font-weight: 100;">Tel:0532-83867156</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- <tr>
                    <td colspan="5">
                        <div style="padding-bottom: 10px;">Shipper: &nbsp;{{data.xtShipInfo.shipfrom}}</div>
                        <div><label>Tel:</label><label style="float: right;">PP</label></div>
                    </td>
                    <td colspan="5">
                        <div style="padding-bottom: 10px;">Consignee:&nbsp;{{data.xtShipInfo.shipto}}</div>
                        <div>
                            <label>Tel:</label>
                            <label style="float: right;">CC</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="10">
                        <table cellpadding="10" cellspacing="0" border="1" width="100%">
                            <tr>
                                <td>实际重量</td>
                                <td>计费重量</td>
                                <td>运费</td>
                                <td>运费合计</td>
                            </tr>
                            <tr>
                                <td>{{data.actualWeight}}</td>
                                <td>{{data.billingWeight}}</td>
                                <td>{{data.shippingFee}}</td>
                                <td ng-if="data.currencyCode === 'USD'">{{data.shippingFee | currency:'$'}}</td>
                                <td ng-if="data.currencyCode !== 'USD'">{{data.shippingFee | currency:'￥'}}</td>
                            </tr>
                        </table>
                    </td>
                </tr> -->
                <tr>
                    <td colspan="10">
                        <table cellspacing="0" border="0" width="100%">
                            <tr>
                                <td colspan="3">付款方式：转第三方付</td>
                                <td colspan="3">月结账号：</td>
                                <td colspan="4">第三方地区：LAX</td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td colspan="3">保费：</td>
                                <td colspan="4"></td>
                            </tr>
                            <tr>
                                <td colspan="3">代收货款金额：</td>
                                <td colspan="3">卡号：</td>
                                <td colspan="4"></td>
                            </tr>
                            <tr>
                                <td colspan="5"></td>
                                <td colspan="5">收方签署：</td>
                            </tr>
                            <tr>
                                <td colspan="5"></td>
                                <td colspan="5"><span style="padding-right:40px;">日期：</span><span style="padding-right:40px;">月</span><span>日</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="10" >
                        <span>寄件方：CULEXPRESS({{data.warehouseName}}) </span> <br>
                        <!-- <span>（909）859-1999</span> -->
                    </td>
                </tr>

                <tr>
                    <td colspan="6" ng-if="data.shipServiceId != 9 && data.shipServiceId != 10">
                        <div>
                            <span>收件方：{{data.xtShipInfo.shipto}}
                            </span><br>
                        </div>
                    </td>
                    <td colspan="6" ng-if="data.shipServiceId == 9 || data.shipServiceId == 10 ">
                        <div>
                            <span>收件方：{{data.xtShipInfo.shipto}}
                            </span>
                        </div>
                    </td>
                    <td colspan="4"> 
                        <span>订单号：</span><br>
                        <span>{{data.orderNumber}}</span>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="10">
                        <table cellpadding="10" cellspacing="2" border="1" width="100%">
                            <tr>
                                <!-- <td>商品品牌</td> -->
                                <td>商品描述</td>
                                <td>数量</td>
                                <!-- <td>价值($)</td> -->
                            </tr>
                            <tr ng-repeat="item in data.orderItems">
                                  <!-- <td align="center">{{item.itemBrand}}</td> -->
                                <td align="center" style="max-width: 300px;">
                                    <div style="display:block; overflow:hidden; text-overflow:ellipsis; max-height:44px;">
                                        {{item.description}} {{ !!item.property1 ? " " + item.property1 : "" }} {{ !!item.property2 ? " " + item.property2 : "" }}
                                        {{ !!item.property3 ? " " + item.property3 : "" }} {{ !!item.property4 ? " " + item.property4 : "" }} {{
                                        !!item.property5 ? " " + item.property5 : "" }}
                                    </div>
                                </td>
                                <td align="center">{{item.quantity}}</td>
                                <!-- <td align="center">{{item.unitprice | number:2}}</td> -->
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr colspan="10">
                    <td colspan="2">打包人员</td>
                    <td colspan="2">{{data.inuserName}}</td>
                    <td colspan="2">生成日期</td>
                    <td colspan="4">{{data.indate | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                </tr>
                <tr colspan="10">
                    <td colspan="10" style="font-size:12px; font-weight: 100; width: 100%;">
                        <label style="float:left;">Remarks:</label>
                        <div style="clear:both;"></div>
                        <div style="width:100%;text-align: center;">
                            <div class="barcode" trackingNumber="{{data.referenceOrderNumber}}"></div>                            
                        </div>
                        <div style="margin-top:20px;text-align: center;">
                            <div class="barcode" trackingNumber="{{data.trackingNumber}}"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>