<div style="display:none;">
    <style>
        .image {
            width: 30%;
            height: 30%;
            margin: 80px 0;
            ;
        }
        
        .title {
            text-align: center;
            font-size: 22px;
            margin-left: 40%;
        }
    </style>



    <div id="printTemplate">
        <span class="title"> 身份证打印</span>
        <div ng-if="dataList.length != 1">
            <div style="height:900px;" ng-repeat="data in dataList track by $index">
                <div>
                    <div>收货人姓名：{{data.receivePersonName}}</div>
                    <div>身份证号：{{data.idCard}}</div>
                    <div>
                        <div class="image">
                            <img src="{{data.idCardBackUrl}}" />
                        </div>
                        <div class="image">
                            <img src="{{data.idCardFrontUrl}}" />
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div ng-if="dataList.length == 1">
            <div style="height:90%" ng-repeat="data in dataList track by $index">
                <div>
                    <div>收货人姓名：{{data.receivePersonName}}</div>
                    <div>身份证号：{{data.idCard}}</div>
                    <div>
                        <div class="image">
                            <img src="{{data.idCardBackUrl}}" />
                        </div>
                        <div class="image">
                            <img src="{{data.idCardFrontUrl}}" />
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>