<div style="display:none;">
    <!-- 入库标签 - 入库标签 -->
    <div id="receipt-tag-inbound-tag" ng-include="'views/templates/common/prints/receipt-tag-inbound-tag_tpl.html'"></div>
    <!-- 入库标签 - 清点标签 -->
    <div id="receipt-tag-check-tag" ng-include="'views/templates/common/prints/receipt-tag-check-tag_tpl.html'"></div>
    <!-- 入库标签 - 异常标签 -->
    <div id="receipt-tag-exception-tag" ng-include="'views/templates/common/prints/receipt-tag-exception-tag_tpl.html'"></div>
    <!-- 清点操作 - 错误商品记录 -->
    <div id="receipt-tag-exception-log" ng-include="'views/templates/common/prints/receipt-tag-exception-log_tpl.html'"></div>
    <!-- 架位标签 -->
    <div id="shelf-management-tag" ng-include="'views/templates/common/prints/shelf-management-tag_tpl.html'"></div>
</div>