<div class="widget-content">
    <ul class="nav nav-tabs nav-tabs-custom-colored" role="tablist">
        <li class="active"><a href="javascript:void(0)" data-target="#online-manage" role="tab" data-toggle="tab">海淘订单</a></li>
        <li><a href="javascript:void(0)" role="tab" data-target="#offline-manage" data-toggle="tab">线下订单</a></li>
    </ul>
    <div class="tab-content"> 
        <div class="tab-pane fade in active" id="online-manage">
            <div ng-include="'views/finance/financedetail-active-online.html'"></div>
        </div>
        <div class="tab-pane fade" id="offline-manage">
            <div ng-include="'views/finance/financedetail-active-offline.html'"></div>
        </div>
    </div>
</div>