<div class="widget">
    <div class="widget-header">
        <h3><i class="fa fa-edit"></i> {{tpl_status._orderType.title}} </h3>
    </div>
    <div class="widget-content">
        <form class="form-horizontal" role="form">
            <div ng-include="'views/finance/financedetail-fieldset-customer.html'"></div>

            <fieldset ng-if="tpl_status.orderType != 'refund'">
                <legend>未支付费用（截止{{tpl_status.date | date:'MM/dd/yyyy'}}）</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right" ng-show="tpl_status.orderType == 'online'">订单编号：</label>
                    <label class="col-sm-2 control-label text-right" ng-show="tpl_status.orderType == 'offline'">包裹编号：</label>
                    <div class="col-sm-4">
                        <label class="control-label" ng-show="tpl_status.orderType == 'online'">{{ tpl_status.orderNumber || '所有未支付海淘订单' }}</label>
                        <label class="control-label" ng-show="tpl_status.orderType == 'offline'">{{ tpl_status.packageNumber || '所有未支付线下包裹' }}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">金额：</label>
                    <div class="col-sm-4">
                        <label class="control-label">{{tpl_status.orderType == 'offline' ? "$":"￥"}}{{data.fee}}</label>
                    </div>
                </div>
            
            </fieldset>

            <fieldset>
                <legend>{{tpl_status.orderType == 'refund' ? '退还信息' : '支付信息'}}</legend>
                <div class="form-group" ng-if="tpl_status.orderType == 'offline'">
                    <label class="col-sm-2 control-label text-right">支付方式：</label>
                    <div class="col-sm-4">
                        <select class="form-control" ng-model="data.rechargeChannel">
                            <option value="4">现金</option>
                            <option value="5">支票</option>
                            <option value="6">转账</option>
                            <option value="7">其它</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-if="tpl_status.orderType == 'refund'">
                    <label class="col-sm-2 control-label text-right">订单编号：</label>
                    <div class="col-sm-4">
                        <input class="form-control" id="checkOrderNumber" ng-blur="checkOrderNumber()" placeholder="订单编号" ng-model="search.orderNumber"></input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">金额：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="data.fee" ng-disabled="tpl_status.orderType != 'refund'">
                    </div>
                    <div class="col-sm-6 col-padding-clear">
                        <button id="tip_pay_fee" type="button" class="btn btn-link btn-help"><i class="fa fa-warning"></i></button>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">备注：</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" rows="5" cols="30" placeholder="最多可以输入500个字" maxlength="500" ng-model="data.memo"></textarea>
                    </div>
                </div>
            </fieldset>

            <div class="form-group text-center">
                <button type="button" class="btn btn-primary" ng-click="btnSave()"><i class="fa fa-save"></i>保存</button>
                <button type="button" class="btn btn-default" ng-click="btnPrev()"><i class="fa fa-reply"></i>返回</button>
            </div>
        </form>
    </div>
</div>

<script>
     $(function() {
        var checkOrderNumber = document.getElementById("checkOrderNumber").focus();
     })
</script>