<div class="widget" ng-controller="FinanceDetailReportListCtrl">
    <div class="widget-header">
        <h3>结算账单下载</h3>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>客户编号</th>
                <th>是否结算</th>
                <th>月份</th>
                <th>金额</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in data">
                <td>{{item.customerNumber}}</td>
                <td>{{(item.vipPayStatus | _vipPayStatus) || '旧数据'}}</td>
                <td>{{item.month}}</td>
                <td>{{item.paid}}</td>
                <td>
                    <a  href="{{path}}/exportVipReport?customerNumber={{customerNumber}}&month={{item.month}}&vipPayStatus={{item.vipPayStatus}}">下载</a> &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    
    <!-- <div class="widget-content"> 
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion_report">
                    <div class="panel panel-default" ng-repeat="item in data">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion_report" data-target="#collapse_report_{{$index+1}}" href="javascript:void(0);" ng-class="{'collapsed': $index != 0}">
                                    {{item.year}}年账单
                                    <i class="fa fa-angle-down pull-right"></i>
                                    <i class="fa fa-angle-up pull-right"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_report_{{$index+1}}" class="panel-collapse collapse" ng-class="{'in': $index == 0}">
                            <div class="panel-body">
                                <div ng-repeat="row in item.list">
                                    <a href="{{row.filePathUrl}}" target="_blank" >
                                        <i class="fa fa-download fa-2x"></i><span style="margin-left:10px;">账单下载</span>
                                    </a>
                                    <span><b>{{row.inDate | date:'MM/dd/yyyy'}}</b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>